{% extends 'lbook/default/index.html.twig' %}
{% block title %}LBOOK Suite Execution list{% endblock %}
{% block content %}
    <h3 style="margin-top: 0 !important;">Suite Executions</h3>
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="col-sm-4 text-center"></div>
            <div class="col-sm-4 text-center">
                Calculate statistic for:
                <a href="{{ path('suite_calculate_api', {'days': 1}) }}" target="_blank">1 day</a>
                <a href="{{ path('suite_calculate_api', {'days': 2}) }}" target="_blank">2 days</a>
                <a href="{{ path('suite_calculate_api', {'days': 3}) }}" target="_blank">3 days</a>
            </div>
            <div class="col-sm-4 text-center">
                Close suite older then:
                <a href="{{ path('close_unclosed_suites_api', {'days': 1}) }}" target="_blank">3 day</a>
                <a href="{{ path('close_unclosed_suites_api', {'days': 10}) }}" target="_blank">10 days</a>
                <a href="{{ path('close_unclosed_suites_api', {'days': 30}) }}" target="_blank">30 days</a>
            </div>
        </div>
    </div>
    <div>Count : {{ size }}</div>
    {% include "lbook/search.html.twig" %}
    {% set pagePath = "suite_index" %}

    <div class="row">
        <div class="col-sm-12 text-center">{% include "lbook/paginator.html.twig" %}</div>
    </div>
    <div class="row">
        <div id="suiteExecutionToolBar">
        </div>
        {% include "lbook/suite/list.html.twig" %}

    </div>
{#    {% if app.user.roles is defined and 'ROLE_SUPER_ADMIN' in app.user.roles %}#}
{#        <div class="row">#}
{#            <ul>#}
{#                <li>#}
{#                    <a href="{{ path('suite_new') }}">Create a new suite</a>#}
{#                </li>#}
{#            </ul>#}
{#            <div class="well">#}
{#                <h4 class="green smaller lighter">suite information</h4>#}
{#                Only ROLE_SUPER_ADMIN can add new suite#}
{#            </div>#}
{#        </div>#}
{#    {% endif %}#}
    <script>
        $(document).ready(function() {
            $( "#suiteExecutionToolBar, button[name = 'refresh'].btn" ).bind( "click", function() {
                location.reload();
            });
            try {
                ace.settings.sidebar_collapsed(document.getElementById('sidebar'), true, true);
                ace.settings.sidebar_fixed(document.getElementById('sidebar'), true, true);
            } catch (e) {}
        });

    </script>
{% endblock %}
