{% extends 'lbook/default/index.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-9">
            <h3 style="margin-top: 0 !important;">Suite Execution [{{ suite.id }}] : {{ suite.name }}</h3>
        </div>
        <div class="col-xs-3">
            <span style="float: right;">
                {% if suiteInfo is not null %}
                    {% if app.user is not null and suiteInfo.failureSubscribers.contains(app.user) %}
                        <button class="btn btn-white btn-info btn-bold" id="fail_unsubscribe">
                        <i class="ace-icon fa fa-flag bigger-110 blue"></i>
                        Unsubscribe on Fail
                    </button>
                    {% else %}
                        <button class="btn btn-white btn-warning btn-bold" id="fail_subscribe">
                        <i class="ace-icon fa fa-flag-o bigger-110 orange"></i>
                        Subscribe on Fail
                    </button>
                    {% endif %}
                    {% if app.user is not null and suiteInfo.subscribers.contains(app.user) %}
                        <button class="btn btn-white btn-info btn-bold" id="unsubscribe">
                        <i class="ace-icon fa fa-flag bigger-110 blue"></i>
                        Unsubscribe
                    </button>
                    {% else %}
                        <button class="btn btn-white btn-warning btn-bold" id="subscribe">
                        <i class="ace-icon fa fa-flag-o bigger-110 orange"></i>
                        Subscribe
                    </button>
                    {% endif %}
                {% endif %}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </div>
    </div>

    {% set selectedSuiteId = suite.id %}
    <table class="records_list table table-striped table-condensed">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ suite.id }}

                {% if suite.cycle.id is defined %}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    Cycle :
                    {{ suite.cycle.id }}:<a href="{{ path('cycle_show_first', { 'id': suite.cycle.id }) }}">{{ suite.cycle.name }}</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    Suite Cycle :
                    {{ suite.cycle.id }}:<a href="{{ path('cycle_suite_show_first', { 'cycle': suite.cycle.id, 'suite': suite.id }) }}">{{ suite.cycle.name }}</a>
                {% endif %}
            </td>
            <th>Testing Level</th>
            <td>{{ suite.testingLevel }}</td>
            <th>UUID</th>
            <td><strong>{{ suite.uuid }}</strong></td>
            <th>Components</th>
            <td>{{ suite.components|join(', ') }}</td>
            <th>Runtime</th>
            <td>
                <i class="ace-icon fa fa-info-circle" title="Suite Run Time"></i>
                <span title="{{suite.runTime}} seconds"> {{ suite.runTime | ExecutionTimeGeneric }}</span>
            </td>
        </tr>
        <tr>
            <th>Tests</th>
            <td>Enabled is suite : <strong>{{ suite.testsCountEnabled }}</strong> Total executed <strong>{{ suite.totalExecutedTests }}</strong></td>
            <th>Pass</th>
            <td class="passClass">{{ suite.passCount }}</td>
            <th>Fail</th>
            <td class="failClass">{{ suite.failCount }}</td>
            <th>Error</th>
            <td class="errorClass">{{ suite.errorCount }}</td>
            <th>PR &nbsp;&nbsp;&nbsp;&nbsp; HOST</th>
            <td>
                <span class="{{ passRateToColor(suite.passRate) }}" title="Passs Rate">{{ suite.passRate }}%</span>
                &nbsp;&nbsp;&nbsp;&nbsp;
                {% if suite.host.name is defined %}<a href="{{ path('host_show', {'id': suite.host.id}) }}" target="_blank">{{ suite.host.name }}</a>{% endif %}
            </td>
        </tr>
        <tr>
            <th>Name</th>
            <td><strong>{{ suite.name }}</strong></td>
            <th>Platform</th>
            <td><span class="label label-info label-white middle" style="background-color: {{ stringToColor(suite.platform) }} !important;">{{ suite.platform }}</span></td>
            <th>Build Tag</th>
            <td>{{ suite.buildTag }}</td>
            <th>CI TAGET ARCH</th>
            <td>{{ suite.targetArch }}</td>
            <th>Time Started</th>
            <td>
                <i class="ace-icon fa fa-calendar"></i>
                <span class="blue" title="Start time">
                {{ suite.startedAt|time_diff }} {{ suite.startedAt|date('d/m/Y H:i:s') }}
                </span>
            </td>
        </tr>
        <tr>
            <th>Summary</th>
            <td>{{ suite.summary }}</td>
            <th>Chip</th>
            <td><span class="label label-purple label-white middle" style="background-color: {{ stringToColor(suite.chip) }} !important;">{{ suite.chip }}</span></td>
            <th>CI URL</th>
            <td><a href="{{ suite.ciUrl }}" target="_blank">{{ suite.ciUrl }}</a></td>
            <th>CI ARCH</th>
            <td>{{ suite.arch }}</td>
            <th>Time Finished</th>
            <td>
                <i class="ace-icon fa fa-calendar"></i>
                <span class="blue" title="End time">
                {{ suite.finishedAt|time_diff }}  {{ suite.finishedAt|date('d/m/Y H:i:s') }}
                </span>
            </td>
        </tr>
        </tbody>
    </table>
    {{ suite.branch }}
    <pre style="font-size: 10px;height: 160px;">
        {{ suite.description }}
    </pre>

    <div class="row">
        <div id="suiteExecutionToolBar">
        </div>
        <h4>Suite execution history:</h4>
        {% include "lbook/suite/list.html.twig" %}

    </div>
    <script>
        $(document).ready(function() {
            {% if suiteInfo is not null %}
            $( "#unsubscribe" ).bind( "click", function() { window.location.href = "{{ path('suite_unsubscribe', { 'suite': suiteInfo.id }) }}"; });
            $( "#subscribe" ).bind( "click", function() { window.location.href = "{{ path('suite_subscribe', { 'suite': suiteInfo.id }) }}"; });
            $( "#fail_unsubscribe" ).bind( "click", function() { window.location.href = "{{ path('fail_suite_unsubscribe', { 'suite': suiteInfo.id }) }}"; });
            $( "#fail_subscribe" ).bind( "click", function() { window.location.href = "{{ path('fail_suite_subscribe', { 'suite': suiteInfo.id }) }}"; });
            {% endif %}
        });
    </script>
    {#    <ul>#}
    {#        <li><a href="{{ path('user_index') }}">Back to the list</a></li>#}
    {#        {% if is_granted('edit', user) %}#}
    {#            <li><a href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a></li>#}
    {#        {% endif %}#}
    {#    </ul>#}
{% endblock %}
