{% extends 'lbook/default/index.html.twig' %}
{% block title %}LogBook Defects index{% endblock %}
{% block content %}
    <h1>LogBook Defects</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Closed</th>
                <th>External ID</th>
                <th>External</th>
                <th>Closed</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for log_book_defect in log_book_defects %}
            <tr>
                <td><a href="{{ path('log_book_defect_show', {'id': log_book_defect.id}) }}">{{ log_book_defect.id }}</a></td>
                <td><a href="{{ path('log_book_defect_show', {'id': log_book_defect.id}) }}">{{ log_book_defect.name }}</a></td>
                <td title="{{ log_book_defect.description }}">{{ shortString(log_book_defect.description, 50, '..') }}</td>

                <td>{{ log_book_defect.createdAt ? log_book_defect.createdAt|date('Y-m-d H:i') : '' }}</td>
                <td>{{ log_book_defect.updatedAt ? log_book_defect.updatedAt|date('Y-m-d H:i') : '' }}</td>
                <td>{{ log_book_defect.closedAt ? log_book_defect.closedAt|date('Y-m-d H:i') : '' }}</td>
                <td>{% if log_book_defect.extId is not empty %}<a href="#">{{ log_book_defect.extId }}</a>{% endif %}</td>
                <td>{{ log_book_defect.isExternal ? 'Yes' : 'No' }}</td>
                <td>{{ log_book_defect.isClosed ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('log_book_defect_edit', {'id': log_book_defect.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('log_book_defect_new') }}">Create new</a>
{% endblock %}
