{% extends 'lbook/default/index.html.twig' %}
{% block title %}LogBook Defect{% endblock %}
{% block content %}
    <h1>LogBookDefect</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ log_book_defect.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ log_book_defect.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ log_book_defect.description }}</td>
            </tr>
            <tr>
                <th>IsExternal</th>
                <td>{{ log_book_defect.isExternal ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsClosed</th>
                <td>{{ log_book_defect.isClosed ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ log_book_defect.createdAt ? log_book_defect.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ log_book_defect.updatedAt ? log_book_defect.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ClosedAt</th>
                <td>{{ log_book_defect.closedAt ? log_book_defect.closedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>AnotherReporter</th>
                <td>{{ log_book_defect.anotherReporter }}</td>
            </tr>
            <tr>
                <th>Ext_url</th>
                <td>{{ log_book_defect.extUrl }}</td>
            </tr>
            <tr>
                <th>Ext_id</th>
                <td>{{ log_book_defect.extId }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('log_book_defect_index') }}">back to list</a>

    <a href="{{ path('log_book_defect_edit', {'id': log_book_defect.id}) }}">edit</a>

    {{ include('log_book_defect/_delete_form.html.twig') }}
{% endblock %}
