{% extends 'lbook/default/index.html.twig' %}
{% block title %}LogBook Defect{% endblock %}
{% block content %}
    <h4>Defect :: {{ log_book_defect.id }}</h4>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td colspan="3">{{ log_book_defect.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td colspan="3">{% apply markdown_to_html %}{{ log_book_defect.description }}{% endapply %}</td>
            </tr>
{#            <tr>#}
{#                <th>IsExternal</th>#}
{#                <td>{{ log_book_defect.isExternal ? 'Yes' : 'No' }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>IsClosed</th>#}
{#                <td>{{ log_book_defect.isClosed ? 'Yes' : 'No' }}</td>#}
{#            </tr>#}
            <tr>
                <th>CreatedAt</th>
                <td>{{ log_book_defect.createdAt ? log_book_defect.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <th>UpdatedAt</th>
                <td>{{ log_book_defect.updatedAt ? log_book_defect.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            {% if log_book_defect.isClosed %}
                <tr>
                    <th>ClosedAt</th>
                    <td colspan="3">{{ log_book_defect.closedAt ? log_book_defect.closedAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
            {% endif %}

            <tr>
                <th>Reporter</th>
                <td colspan="3">{{ log_book_defect.reporter }}</td>
            </tr>

            {% if log_book_defect.isExternal %}

                <tr>
                    <th>External ID</th>
                    <td>{{ log_book_defect.extId }}</td>
                    <th>AnotherReporter</th>
                    <td>{{ log_book_defect.anotherReporter }}</td>
                </tr>
                <tr>
                    <th>External URL</th>
                    <td colspan="3"><a href="{{ log_book_defect.extUrl }}" target="_blank">{{ log_book_defect.extUrl }}</a></td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <a href="{{ path('log_book_defect_index') }}">back to list</a>

    <a href="{{ path('log_book_defect_edit', {'id': log_book_defect.id}) }}">edit</a>

{#    {{ include('log_book_defect/_delete_form.html.twig') }}#}
{% endblock %}
