{{ form_start(form, { 'attr': {'id': 'filterEditForm'} }) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

<script>
    $(document).ready(function() {
        $( "#filterEditForm form" ).css( "width", "1000px" );
        $( "#filterEditForm input[type = 'text']" ).css( "width", "900px" );
        $( ".filterTestList" ).css( "width", "900px" );
        $( "#filterEditForm select" ).css( "width", "900px" );
        $( "#filterEditForm label" ).css( "width", "150px" );
        {#$( "#filterEditForm, button[name = 'cancel'].btn" ).bind( "click", function() {#}
        {#    window.location.href = "{{ path('cycle_show_first', { 'id': cycle.id }) }}";#}
        {#});#}

        {#$( "#filterEditForm, button[name = 'delete'].btn" ).bind( "click", function() {#}
        {#    var status = confirm("Are you sure about delete this cycle [{{ cycle.name }}]?");#}
        {#    if (status === true) {#}
        {#        $("#cycleEditFormDelete").submit();#}
        {#    } else {#}
        {#        return false;#}
        {#    }#}
        {#});#}
        $('#test_filter_suiteUuid').keyup(function() {
            var uuid = $(this).val();
            if (uuid !== ''){
                var path = "{{ path('api_suite_uuid_to_info') }}/" + uuid;
                $.ajax({
                    url: path,
                    type: 'GET',
                    success: function(result) {
                        if (result) {
                            $('#test_filter_name_help').html('Suite name : <strong class="brown">' + result['name'] + '</strong> with ' + result['tests_count_enabled'] + ' tests enabled.');
                        }
                    },
                    error: function(result) {
                        console.log(result);
                    },
                });
            }


        });
    });
</script>