{% extends 'lbook/default/index.html.twig' %}
{% block title %}LBOOK TestFilter{% endblock %}
{% block content %}

    <h1>TestFilter index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Suite UUID</th>
                <th>Tests</th>
                <th title="Testing Level">TL</th>
                <th>Cluster</th>
                <th>Branch</th>
                <th>Project Name</th>
                <th>Platform</th>
                <th>Chip</th>
                <th title="Package Mode">Mode</th>
                <th>Owner</th>
                <th>Contact</th>
                <th>Url</th>
                <th>Created</th>
                <th>Updated</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for test_filter in test_filters %}
            <tr>
                <td><a href="{{ path('test_filter_show', {'id': test_filter.id}) }}">{{ test_filter.id }}</a></td>
                <td><a href="{{ path('test_filter_show', {'id': test_filter.id}) }}">{{ test_filter.name }}</a></td>
                <td>{{ test_filter.suiteUuid }}</td>
                <td title="{{ testFilterTestToBr(test_filter.testList, "\n") | raw }}">
                    {% if test_filter.testList | length < 50 %}
                    {{ test_filter.testList | testFilterTestToBr | raw }}
                        {% else %}
                        <i>data too long</i>
                    {% endif %}
                </td>
                <td>{{ test_filter.testingLevel }}</td>
                <td>{{ test_filter.cluster|nl2br }}</td>
                <td>{{ test_filter.branchName }}</td>
                <td>{{ test_filter.projectName }}</td>
                <td>{{ test_filter.platform }}</td>
                <td>{{ test_filter.chip }}</td>
                <td>{{ test_filter.executionMode }}</td>
                <td>{{ test_filter.user }}</td>
                <td>{{ test_filter.issueContact }}</td>
                <td><a href="{{ test_filter.defectUrl }}" target="_blank">{{ test_filter.defectUrl }}</a></td>
                <td>{{ test_filter.createdAt | date('d/m/Y H:i:s') }}</td>
                <td>{{ test_filter.updatedAt | date('d/m/Y H:i:s') }}</td>
                <td>
                    {% if is_granted('edit', test_filter) %}
                        <a href="{{ path('test_filter_edit', {'id': test_filter.id}) }}">edit</a>
                    {% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user.roles is defined and 'ROLE_FILTER_CREATOR' in app.user.roles %}
        <a href="{{ path('test_filter_new') }}">Create new</a>
    {% endif %}
{% endblock %}
