{% extends 'lbook/default/index.html.twig' %}

{% block content %}
    <h1>Cycle edit</h1>

    {{ form_start(edit_form, { 'attr': {'id': 'cycleEditForm'} }) }}
        {{ form_widget(edit_form) }}
        {#<input type="submit" value="Edit" />#}
    {{ form_end(edit_form) }}
    <div class="row">
        <div class="col-12 col-md-2">
            {% if is_granted('delete', cycle.setup) %}
                {{ form_start(delete_form, { 'attr': {'id': 'cycleEditFormDelete'} }) }}
                <button id="cycleEditDelete" class="btn btn-white btn-warning btn-bold" name="delete">
                    <i class="ace-icon fa fa-trash-o bigger-120 orange"></i>
                    Delete
                </button>
                {{ form_end(delete_form) }}
            {% endif %}
        </div>

        <div class="col-12 col-md-2">
            <button id="cycleEditSave" class="btn btn-white btn-info btn-bold" name="save">
                <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
                Save
            </button>
            <button id="cycleEditCancel" class="btn btn-white btn-default btn-round" name="cancel" title="Cancel edit and go to cycle">
                <i class="ace-icon fa fa-times red2"></i>
                Cancel
            </button>
        </div>

        <div class="col-12 col-md-8">
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $( "#cycleEditForm form" ).css( "width", "800px" );
            $( "#cycleEditForm input[type = 'text']" ).css( "width", "400px" );
            $( "#cycleEditForm select" ).css( "width", "400px" );
            $( "#cycleEditForm label" ).css( "width", "400px" );
            $( "#cycleEditCancel, button[name = 'cancel'].btn" ).bind( "click", function() {
                window.location.href = "{{ path('cycle_show_first', { 'id': cycle.id }) }}";
            });

            $( "#cycleEditDelete, button[name = 'delete'].btn" ).bind( "click", function() {
                var status = confirm("Are you sure about delete this cycle [{{ cycle.name }}]?");
                if (status === true) {
                    $("#cycleEditFormDelete").submit();
                } else {
                    return false;
                }
            });

            $( "#cycleEditSave, button[name = 'save'].btn" ).bind( "click", function() {
                $("#cycleEditForm").submit();
            });
        });
    </script>
{% endblock %}
