{% extends 'lbook/default/index.html.twig' %}

{% block content %}
    <h1>Cycle list</h1>

    <table class="records_list table table-striped table-condensed">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Setup</th>
            <th>Tests</th>
            <th>Pass Rate</th>
            <th>Build</th>
            <th>Controller</th>
            <th>DUT</th>
            <th>Uploader</th>
            <th>Period</th>
            <th>Test time</th>
            <th>Updated</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody class="searchable">
        {% for cycle in cycles %}
            <tr>
                <td><a href="{{ path('cycle_show', { 'id': cycle.id }) }}">{{ cycle.id }}</a></td>
                <td><a href="{{ path('cycle_show', { 'id': cycle.id }) }}">{{ cycle.name }}</a></td>
                <td><a href="{{ path('setup_show', { 'id': cycle.setup.id }) }}">{{ cycle.setup }}</a></td>
                <td>{{ cycle.tests | length }}</td>
                <td>{{ cycle.passRate }}%</td>
                <td>{{ cycle.build }}</td>
                <td>{{ cycle.controller }}</td>
                <td>{{ cycle.dut }}</td>
                <td>{{ cycle.targetUploader }}</td>
                <td>{{ cycle.period |  ExecutionTimeInHours}}</td>
                <td>{{ cycle.testsTimeSum |  ExecutionTimeInHours}}</td>
                <td>{{ cycle.updatedAt |date('m-d H:i:s') }}</td>
                <td>
                    <a href="{{ path('cycle_show', { 'id': cycle.id }) }}">show</a>
                    <a href="{{ path('cycle_edit', { 'id': cycle.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cycle_new') }}">Create a new Cycle</a>
        </li>
    </ul>
{% endblock %}
