{% extends 'lbook/default/index.html.twig' %}
{% block title %}LBOOK Cycles list{% endblock %}
{% block content %}
    <h1>Cycle list</h1>
    <div>Count : {{ size }}</div>
    {% include "lbook/search.html.twig" %}
    {% set pagePath = "cycle_index" %}
    {% include "lbook/paginator.html.twig" %}
    <div id="cycleIndexToolbar">
    </div>
    <table class="records_list table table-striped table-condensed table-hover" data-classes="table table-no-bordered" id="setupCycleList"
           data-pagination="true" data-search="true" data-toggle="table"
           data-show-columns="true"
            {#data-detail-view="true"#}
            {#data-detail-formatter="detailFormatter"#}
            {#data-show-refresh="true" data-show-toggle="true" data-show-fullscreen="true"#}
           data-toolbar="#cycleIndexToolbar"
           data-page-size="100" data-page-list="[20, 50, 100, 'ALL']" data-sort-order="desc">
        <thead>
        <tr>
            <th data-sortable="true" title="Updated image" class="time_diff_icon" data-switchable="false"></th>
            <th data-sortable="true" data-switchable="false">Id</th>
            <th data-sorter="htmlSorter" data-sortable="true" title="Full setup name" data-switchable="false">Name</th>
            <th data-sorter="htmlSorter" data-sortable="true" >Setup</th>
            <th data-sortable="true">Tests</th>
            <th data-sorter="dataPercentSorter" data-sortable="true" title="Pass Rate">Pass Rate</th>
            <th data-sortable="true" data-sorter="htmlSorter">Build</th>
            <th data-sortable="true">Controller</th>
            <th data-sortable="true">DUT</th>
            <th data-sortable="true">Uploader</th>
            <th data-sorter="dataTitleIntSorter" data-sortable="true">Period</th>
            <th data-sorter="dataTitleIntSorter" data-sortable="true">Test time</th>
            <th data-sorter="dataTitleDateSorter" data-sortable="true" title="Created time">Created</th>
            <th data-sorter="dataTitleDateSorter" data-sortable="true" title="Update time">Updated</th>
            <th class="setup_cycle_options_column" data-switchable="false">Options</th>
        </tr>
        </thead>
        <tbody class="searchable">
        {% set break = false %}
        {% set counter = 0 %}
        {% for cycle in iterator if not break %}
        {% if counter == 10000 %}
            {% set break = true %}
        {% endif %}
        {% set counter = counter+1 %}
            <tr>
                <td>
                    {%  if date(cycle.updatedAt) > date('-30minutes') %}
                    <i class="normal-icon ace-icon fa fa-clock-o pink bigger-130"></i>
                    {% endif %}
                </td>
                <td>{{ cycle.id }}</td>
                <td title="{{ cycle.name }}"><a href="{{ path('cycle_show_first', { 'id': cycle.id }) }}">{{ shortString(cycle.name, 35, "...") }}</a></td>
                <td title="{{ cycle.setup }}"><a href="{{ path('setup_show_first', { 'id': cycle.setup.id  }) }}">{{ shortString(cycle.setup, 35, "...") }}</a></td>
                <td>{{ cycle.testsCount }}</td>
                {#<td>{{ cycle.tests | length }}</td>#}
                <td><span class="{{ passRateToColor(cycle.passRate) }}" data-percent="{{ cycle.passRate }}">{{ cycle.passRate }}%</span></td>
                <td title="{{ cycle.build }}">{% if cycle.build.id is defined %}<a href="{{ path('build_show_cycles_first', { 'id': cycle.build.id }) }}">{{ shortString(cycle.build, 35, "...") }}</a>{% endif %}</td>
                <td>{{ cycle.controller }}</td>
                <td>{{ cycle.dut }}</td>
                <td>{{ cycle.targetUploader }}</td>
                <td><span data-title="{{ cycle.period}}">{{ cycle.period |  executionTimeGenericShort}}</span></td>
                <td><span data-title="{{ cycle.testsTimeSum}}">{{ cycle.testsTimeSum |  executionTimeGenericShort}}</span></td>
                <td>
                    <span data-title="{{ cycle.createdAt|date('ymdHis') }}" title="Created [{{ cycle.createdAt |date('d/m/Y H:i:s') }}]">
                        {{ cycle.createdAt|time_diff}}
                    </span>
                </td>
                <td>
                    <span data-title="{{ cycle.updatedAt|date('ymdHis') }}" title="Updated [{{ cycle.updatedAt |date('d/m/Y H:i:s') }}]">
                        {{ cycle.updatedAt|time_diff}}
                    </span>
                </td>
                <td>
                    <a href="{{ path('cycle_show_first', { 'id': cycle.id }) }}">show</a>
                    {% if is_granted('edit', cycle.setup) %}
                        <a href="{{ path('cycle_edit', { 'id': cycle.id }) }}">edit</a>
                    {% endif %}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cycle_new') }}">Create a new Cycle</a>
        </li>
    </ul>

    <script>
        $(document).ready(function() {
            $( "#cycleIndexToolbar, button[name = 'refresh'].btn" ).bind( "click", function() {
                location.reload();
            });
        });
    </script>
{% endblock %}
