{% extends 'lbook/default/index.html.twig' %}

{% block content %}
    <h1>Cycles</h1>

    <table class="records_list table table-striped table-condensed">
        <tbody>
            <tr>
                <th>Name</th>
                <td><span class="label label-info label-white">{{ cycle.name }}</span></td>
                <th>Id</th>
                <td>{{ cycle.id }}</td>
                <th>
                    <span title="Time in seconds between min tests time to max tests time">Period</span>
                    /
                    <span title="testsTimeSum:Time in seconds calculated from all execution time of tests">Run Time</span>
                </th>
                <td>{{ cycle.period |  ExecutionTimeInHours}} / {{ cycle.testsTimeSum |  ExecutionTimeInHours}} </td>
                <th>Pass Rate</th>
                <td><span class="label label-danger label-white middle">{{ cycle.passRate }} %</span></td>
            </tr>
            <tr>
                <th>Start Time</th>
                <td>{{ cycle.timeStart|date('Y-m-d H:i:s') }}</td>
                <th>End Time</th>
                <td>{{ cycle.timeEnd|date('Y-m-d H:i:s') }}</td>
                <th>Updated</th>
                <td>{{ cycle.updatedAt|date('Y-m-d H:i:s') }}</td>
                <th>Created</th>
                <td>{{ cycle.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Tests</th>
                <td>{{ cycle.tests|length }}</td>
                <th>Setup</th>
                <td colspan="5">
                    <table class="records_list table table-striped table-condensed">
                        <tr>
                            <td><a target="_blank" href="{{ path('setup_show', { 'id': cycle.setup.id }) }}"><span class="label label-success label-white middle">{{ cycle.setup}}</span></a></td>
                            <td><span class="label label-success label-white middle">{{ cycle.setup.nameShown }}</span></td>
                            <td>OS :{{ cycle.setup.os }}</td>
                            <td>Owner :{{ cycle.setup.owner }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            {% set already_printed = ['id', 'name' , 'tests', 'setup', 'period', 'passRate', 'timeStart', 'timeEnd', 'updatedAt', 'createdAt', 'testsTimeSum'] %}
            {% for key, value in cycle|cast_to_array %}
                {% if key not in already_printed%}
                    <tr>
                        <th>{{ key | capitalize}}</th>
                        <td>{{ dump(value) }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {%  set tests = cycle.tests%}
    <table class="records_list table table-striped table-condensed">
        <thead>
        <tr>
            <th>Id</th>
            <th>Order</th>
            <th>Name</th>
            <th>Time start</th>
            <th>Time end</th>
            <th>Runtime</th>
            <th>Uptime</th>
            <th>Uptime</th>
            <th>Verdict</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for test in tests %}
            <tr>
                <td><a href="{{ path('test_show', { 'id': test.id }) }}">{{ test.id }}</a></td>
                <td>{{ test.executionOrder }}</td>
                <td><a href="{{ path('test_show', { 'id': test.id }) }}">{{ test.name }}</a></td>
                <td>{% if test.timeStart %}{{ test.timeStart|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if test.timeEnd %}{{ test.timeEnd|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ test.timeRun }}</td>
                <td>{{ test.dutUpTimeStart }}</td>
                <td>{{ test.dutUpTimeEnd }}</td>
                <td><span class="badge {{ verdictToBadge(test.verdict)}}">
                        {{ test.verdict }}
                    </span></td>
                <td>
                    <a href="{{ path('test_show', { 'id': test.id }) }}">show</a>
                    <a href="{{ path('test_edit', { 'id': test.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cycle_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cycle_edit', { 'id': cycle.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
