{% extends 'lbook/default/index.html.twig' %}
{% block title %}
{% if suiteMode %}
Suite of Cycle [{{ cycle.id }}:{{ cycle.name }}]
{% else %}
Cycle [{{ cycle.id }}:{{ cycle.name }}]
{% endif %}
{% endblock %}
{% block content %}
    {% set testsCount = cycle.testsCount %}
    {% set allTestsCount = cycle.tests|length  %}
    {% set suitesCount = suites|length  %}
    <div class="row">
        <div class="col-xs-9">
            <h4 class="generic_title cycle_title"><a href="{{ path('setup_show_first', { 'id': cycle.setup.id }) }}"><<< {{ cycle.setup}}</a> / {% if suiteMode %}Suite [{{ suite.id }}:{{ suite.name }}] in Cycle {% else %}Cycle {% endif %}[{{ cycle.id }}] : {{ cycle.name }}</h4>
        </div>
        <div class="col-xs-3">
            <span style="float: right;">
                {% if suiteMode %}
                    <button class="btn btn-white btn-warning btn-bold" id="go_to_cycle">
                    <i class="ace-icon fa fa-briefcase bigger-120 orange"></i>
                    Goto Cycle
                </button>
                {% endif %}
                {% if maxPages > 1 %}
                <button class="btn btn-white btn-info btn-bold" id="load_all_tests">
                    <i class="ace-icon fa fa-eye bigger-120 blue"></i>
                    Load all Tests ({{ testsCount }})
                </button>
                {% endif %}
                {% if cycle.logBookCycleReports  | length == 0%}
                    <button class="btn btn-white btn-info btn-bold" id="makeReport">
                    <i class="ace-icon fa fa-book bigger-120 blue"></i>
                    Make report
                    </button>
                        {% else %}
                    <button class="btn btn-white btn-info btn-bold" id="showReport">
                    <i class="ace-icon fa fa-book bigger-120 blue"></i>
                    Show report
                    </button>

                {% endif %}

                <button class="btn btn-white btn-info btn-bold" id="showIndicators">
                    <i class="ace-icon fa fa-briefcase bigger-120 blue"></i>
                    Indicator
                </button>
                <button class="btn btn-white btn-info btn-bold" id="saveCycleAsArchive">
                    <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
                    Download{% if cycle.downloads > 0 %}({{ cycle.downloads }}){% endif %}&nbsp;&nbsp;&nbsp;&nbsp;
                </button>
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">

            <div class="tabbable">
                <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="testInfoNav">
                    <li class="active"><a data-toggle="tab" href="#main">Main</a></li>
                    {% if cycle.metaData %}
                        <li class=""><a data-toggle="tab" href="#metadata">Metadata ({{ cycle.metaData | length }})</a></li>
                    {% endif %}
                    <li class=""><a data-toggle="tab" href="#view" id="view_graph">View</a></li>
                    {% if suitesCount > 0 %}
                        <li class=""><a data-toggle="tab" href="#suites">Suites</a></li>
                    {% endif %}
                    {% if errors_found %}
                        <li class=""><a data-toggle="tab" href="#failures">Failures</a></li>
                    {% endif %}
                    <li class=""><a data-toggle="tab" href="#other">Other</a></li>
                </ul>

                <div class="tab-content">
                    <div id="main" class="tab-pane active">

                        {% apply spaceless %}
                            <table class="records_list table table-striped table-condensed" id="cycleFullShowInfoTable">
                                <tbody>
                                {#<tr>#}
                                {#<th>#}
                                {#<span title="Time in seconds between min tests time to max tests time">Period</span>#}
                                {#/#}
                                {#<span title="testsTimeSum:Time in seconds calculated from all execution time of tests">Run Time</span>#}
                                {#</th>#}
                                {#<td>{{ cycle.period |  ExecutionTimeGeneric}} / {{ cycle.testsTimeSum |  ExecutionTimeGeneric}}</td>#}
                                {#<th>Pass Rate</th>#}
                                {#<td><span class="label label-danger label-white middle">{{ cycle.passRate }} %</span></td>#}
                                {#<th>Name</th>#}
                                {#<td><span class="label label-info label-white">{{ cycle.name }}</span></td>#}
                                {#<th>Id</th>#}
                                {#<td>{{ cycle.id }}</td>#}
                                {#</tr>#}
                                <tr>
                                    <th>
                                        <span title="Time in seconds between min tests time to max tests time">Period</span>
                                        {#<span title="TestsTimeSum:Time in seconds calculated from all execution time of tests">Run Time</span>#}
                                    </th>
                                    <td>{{ cycle.period |  ExecutionTimeGeneric}}
                                        {#/ {{ cycle.testsTimeSum |  ExecutionTimeGeneric}}#}
                                    </td>
                                    <th>Build</th>
                                    <td>
                                        {% if cycle.build  %}
                                            <a href="{{ path('build_show_cycles_first', {'id': cycle.build.id}) }}" target="_blank" title="Open Build Info for all cycles with this build">
                                                <span class="label label-white middle">
                                                    <i class="ace-icon fa fa-folder-open-o"></i>
                                                    {{ cycle.build }}
                                                </span>
                                            </a>
                                        {% endif %}
                                    </td>
                                    <th>DUT</th>
                                    <td><span class="label label-danger label-white middle">{{ cycle.dut }}</span></td>
                                    <th>Controller</th>
                                    <td><span class="label label-purple label-white middle">{{ cycle.controller }}</span></td>
                                </tr>
                                <tr>
                                    <th>Start Time</th>
                                    <td><span class="label label-success label-white label-lg arrowed arrowed-right">{{ cycle.timeStart|date('Y-m-d H:i:s') }}</span></td>
                                    <th>Created</th>
                                    <td><span class="label label-white middle arrowed arrowed-right">{{ cycle.createdAt|date('Y-m-d H:i') }}</span></td>
                                    <th>Uploader</th>
                                    <td colspan="3"><span class="label label-purple label-white middle">{{ cycle.targetUploader }}</span></td>
                                </tr>
                                <tr>
                                    <th>End Time</th>
                                    <td><span class="label label-success label-white label-lg arrowed arrowed-right">{{ cycle.timeEnd|date('Y-m-d H:i:s') }}</span></td>
                                    <th>Updated</th>
                                    <td><span class="label label-white middle arrowed arrowed-right">{{ cycle.updatedAt|date('Y-m-d H:i') }}</span></td>
                                    <th></th>
                                    <td colspan="2"></td>
                                    <td colspan="1">
                                        <span class="font10" title="Planned date for delete {{ cycle.deleteAt|date('Y-m-d H:i') }}">
                                            <i class="ace-icon fa fa-fire"></i>
                                            Delete {{ cycle.deleteAt|time_diff}}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="8">{% include 'lbook/cycle/infobox.html.twig' %}</td>
                                </tr>
                                {#<tr>#}
                                {#<th>Pass</th>#}
                                {#<td>{{ cycle.testsPass }}</td>#}
                                {#<th>Fail</th>#}
                                {#<td>{{ cycle.testsFail }}</td>#}
                                {#<th>Error</th>#}
                                {#<td>{{ cycle.testsError }}</td>#}
                                {#<th>Count</th>#}
                                {#<td>{{ cycle.testsCount }}</td>#}
                                {#</tr>#}
                                {#{% set already_printed = [ 'testsPass', 'testsFail', 'testsError', 'testsWarning', 'testsCount', 'testsDisabled',#}
                                {#'dirty', 'uploadToken', 'tokenExpiration', 'id', 'name' , 'tests', 'setup', 'period',#}
                                {#'passRate', 'errorRate', 'failRate', 'warningRate', 'timeStart', 'timeEnd',#}
                                {#'updatedAt', 'createdAt', 'testsTimeSum',#}
                                {#'controller', 'targetUploader', 'dut',#}
                                {#'build', 'disabled', 'forDelete'] %}#}
                                {#{% for key, value in cycle|cast_to_array %}#}
                                {#{% if key not in already_printed%}#}
                                {#<tr>#}
                                {#<th>{{ key | capitalize}}</th>#}
                                {#<td>{{ dump(value) }}</td>#}
                                {#</tr>#}
                                {#{% endif %}#}
                                {#{% endfor %}#}
                                </tbody>
                            </table>
                        {% endapply %}


                    </div>

                    {% if cycle.metaData %}
                        <div id="metadata" class="tab-pane">
                            <ul>
                                {% for key, item in cycle.metaData %}
                                    <li>
                                        {{ key }} =
                                        {% if isUrl(item) %}
                                            {{ item }} <a target="_blank" href="{{item }}" >Link_to_{{ key }}</a>
                                        {% else %}
                                            <span title="{{ item }}">{{ shortString(item, 500) }}</span>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <div id="view" class="tab-pane">
                        <div class="container" style="width: 100%;height: 100%;min-height: 700px;">
                            <div id="graphResults"  class="chart" style="width: 100%;height: 100%;min-height: 700px;"></div>
                        </div>
                    </div>
                    <div id="suites" class="tab-pane">
                        {#<div class="container" style="width: 100%;height: 100%;min-height: 700px;">#}
                        {% if suitesCount > 0 %}
                            <table class="records_list table table-striped table-condensed font9">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th title="Name/UUID">Name</th>
                                    <th>Summary</th>
                                    <th title="Enabled Tests/Total Tests only executed [In title total tests count in suite include disabled, and total disabled]">Tests</th>
                                    <th title="Pass">Pass</th>
                                    <th title="Pass Rate">Pass Rate</th>
                                    <th title="Testing Level">TL</th>
                                    <th>Duration</th>
                                    <th>Chip</th>
                                    <th>Platform</th>
                                    <th title="Build Flavor">BF</th>
                                    <th>Component</th>
                                    <th title="Test Environments">ENV</th>
                                    <th title="Suite Host Name">Host</th>
                                    <th title="Owners">Owners</th>
                                    <th title="Closed : X= Closed; O= Open">X</th>
                                    <th title="JIRA KEY/Publish">JIRA</th>
                                </tr>
                                </thead>
                                <tbody>
                            {% set builder = '' %}
                            {% set tests_enabled = 0 %}
                            {% set tests_disabled = 0 %}
                            {% set tests_executed = 0 %}
                            {% set tests_pass = 0 %}
                            {% set suite_progress = 0 %}
                            {% set suite_done = 0 %}
                            {% for suite in suites | slice(0, 200) %}
                                {% set suite_css = '' %}
                                {% set tests_enabled = tests_enabled + suite.testsCountEnabled %}
                                {% set tests_disabled = tests_disabled + suite.testsCountDisabled  %}
                                {% set tests_executed = tests_executed + suite.totalExecutedTests  %}
                                {% set tests_pass = tests_pass + suite.passCount  %}
                                {% if not suite.closed %}
                                    {% set suite_css = 'suite_wip' %}
                                    {% set suite_progress = suite_progress + 1  %}
                                {% else %}
                                    {% set suite_done = suite_done + 1  %}
                                {% endif %}
                                {% set jira_test_set_url = '' %}
                                {% if suite.publish and suite.jiraKey | length > 3 %}
                                    {% set jira_domain = parseDomain(suite.testSetUrl) %}
                                    {% if jira_domain | length > 0 %}
                                    {%  set jira_test_set_url = 'http://' ~  jira_domain ~ '/browse/' ~ suite.jiraKey %}
                                    {% endif %}
                                {% endif %}
                                <tr class="{{ suite_css }}">
                                    <td><a href="{{ path('cycle_suite_show_first', {'cycle': cycle.id, 'suite': suite.id}) }}">{{ suite.id }}</a></td>
                                    <td title="{{ suite.uuid }}" ondblclick="set_filter(this)">{{ suite.name }}</td>
                                    <td><a href="{{ path('suite_show', {'id': suite.id}) }}" target="_blank">{{ suite.summary }}</a></td>
                                    <td title="Tests count in suite {{ suite.testsCount }}, disabled {{ suite.testsCountDisabled }}">{{ suite.testsCountEnabled }}/{{ suite.totalExecutedTests }}</td>
                                    <td><span class="{{ passRateToColor(suite.passRate) }}" data-percent="{{ suite.passCount }}">{{ suite.passCount }}</span></td>
                                    <td><span class="{{ passRateToColor(suite.passRate) }}" data-percent="{{ suite.passRate }}">{{ suite.passRate }}%</span></td>
                                    <td>{{ suite.testingLevel }}</td>
                                    <td>{{ suite.runTime | executionTimeGenericShort }}</td>
                                    <td>{{ suite.chip }}</td>
                                    <td>{{ suite.platform }}</td>
                                    <td>{{ suite.buildType }}</td>
                                    <td>{{ suite.components |join(', ')}}</td>
                                    <td>{{ suite.testEnvironments |join(', ')}}</td>
                                    <td>
                                        {% if suite.host and suite.host.ip is defined %}
                                        <span title="{{ suite.host.ip }}"><a href="{{ path('host_show', {'id': suite.host.id}) }}" target="_blank">{{ suite.host.name }}</a></span>
                                        {% endif %}
                                    </td>
                                    <td>{{ suite.owners | join(', ') }}</td>
                                    <td>{{ suite.closed ? 'X':'O' }}</td>
                                    <td>{% if suite.jiraKey | length < 3 %}{{ suite.publish }}{% else %}<a href="{{ jira_test_set_url }}" class="font8" target="_blank">{{ suite.jiraKey }}</a>{% endif %}</td>
                                </tr>
                            {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th title="Total suites count"><strong>{{ suitesCount }}</strong></th>
                                    <th></th>
                                    <th></th>
                                    <th title="Tests only : Enabled/Executed/Disabled">{{ tests_enabled }}/{{ tests_executed }}/{{ tests_disabled }}</th>
                                    <th>{{ tests_pass }}</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>Host</th>
                                    <th></th>
                                    <th title="Suites Done/WIP">{{ suite_done }}/
                                        {% if suite_progress > 0 %}
                                            <strong>{{ suite_progress }}</strong>
                                        {% else %}
                                            {{ suite_progress }}
                                        {% endif %}
                                    </th>
                                    <th></th>
                                </tr>
                                </tfoot>
                            </table>
                        {% endif %}
                        {#
                        </div>#}
                    </div>

                    {% if errors_found%}
                        <div id="failures" class="tab-pane">
                            {#<h6>Found {{ errors | length }} issues with description</h6>#}
                            <table class="records_list table table-striped table-condensed">
                                <tr>
                                    <th style="width: 10%;">ExecutionOrder-Name</th>
                                    <td style="width: 90%;">Description</td>
                                </tr>
                                {#{% for key, value in errors | slice(0, 20000) %}#}
                                {#<tr>#}
                                    {#<th>{{ key }}</th>#}
                                    {#<td style="width: 90%;">{{ cleanAutotestFinalMessage(value) }}</td>#}
                                {#</tr>#}
                                {#{% endfor %}#}
                                {% for f_test in failed_tests | slice(0, 500) %}
                                <tr>
                                <th>{{ f_test.name }}</th>
                                <td style="width: 90%;">{{ f_test.failDescription }}</td>
                                </tr>
                                {% endfor %}

                            </table>
                        </div>
                    {% endif %}

                    <div id="other" class="tab-pane">
                        <table class="records_list table table-striped table-condensed">
                            <tr>
                                <th title="Short Setup Name">Short</th>
                                <td><span class="label label-success label-white middle">{{ cycle.setup.nameShown }}</span></td>
                                <th title="Current daleteAt planned for">
                                    <span class="font10" title="Planned date for delete {{ cycle.deleteAt|date('Y-m-d H:i') }}">
                                            <i class="ace-icon fa fa-fire"></i>
                                            Delete {{ cycle.deleteAt|time_diff}}
                                        </span>
                                </th>
                                <td>Add ~ +3 months to keep date<button class="btn btn-minier" title="Keep for +3 month" id="keep3months">+3 month</button></td>
                            </tr>

                            <tr>
                                <th title="Operational System">OS</th>
                                <td title="Operational System">{{ cycle.setup.os }}</td>
                                <th title="Setup Owner">Owner</th>
                                <td title="Setup Owner">{{ cycle.setup.owner }}</td>
                            </tr>
                            <tr>
                                <th>Token EXP</th>
                                <td>{{ cycle.tokenExpiration|date('Y-m-d H:i:s') }}</td>
                                <th>Token</th>
                                <td><span style="font-size: 9px;">{{ cycle.uploadToken }}</span></td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% set cycle_show_test_id_show = app.user.settings.cycleShowTestIdShow | default(true) %}

    {% set cycle_show_test_time_start_show = 1 %}
    {% set cycle_show_test_time_end_show = 1 %}
    {% if app.user.settings is defined %}
        {% if app.user.settings.cycleShowTestTimeStartShow == false %}
            {% set cycle_show_test_time_start_show = 0 %}
        {% endif %}
        {% if app.user.settings.cycleShowTestTimeEndShow == false %}
            {% set cycle_show_test_time_end_show = 0 %}
        {% endif %}
    {% endif %}
{#    {% set test_show_test_time_start_show = app.user.settings.testShowTestTimeStartShow | default(true) %}#}
{#    {% set test_show_test_time_end_show = app.user.settings.testShowTestTimeEndShow | default(true) %}#}

    {% set cycle_show_test_time_ratio_show = app.user.settings.cycleShowTestTimeRatioShow | default(true) %}
    {% set cycle_show_test_control_file = false %}

    {% set show_metadata = app.user.settings.cycleShowTestMetaDataShow | default(true) %}
    {% set show_metadata_opt = app.user.settings.cycleShowTestMetaDataOptShow | default(true) %}
    {% set show_uptime = app.user.settings.cycleShowTestUptime | default(true) %}

    {% set cycle_show_test_time_start_format = app.user.settings.cycleShowTestTimeStartFormat | default('H:i:s')%}
    {% set cycle_show_test_time_end_format = app.user.settings.cycleShowTestTimeEndFormat | default('H:i:s')%}

    {% set pagePath = "cycle_show_page" %}
    {% set objId = cycle.id %}
    {% include "lbook/double.paginator.html.twig" %}
    {%  set tests = cycle.tests%}
    {#{% include "lbook/search.html.twig" %}#}
    <div id="cycleShowToolbar">
    </div>
    {% apply spaceless %}
    <table class="records_list table table-striped table-condensed table-hover" data-classes="table table-no-bordered"
           id="cycleTestsTable" data-pagination="true" data-search="true" data-toggle="table"
           data-page-size="5000" data-page-list="[10, 15, 20, 50, 100, 500, 1000, 2000, 5000, 10000, 50000, 'ALL']" data-sort-order="desc"
           data-toolbar="#cycleShowToolbar"
           data-show-refresh="true"
           {#data-show-toggle="true"#}
           data-show-footer="true"
           data-show-export="true"
           data-show-columns="true"
           data-advanced-search="true"
           data-id-table="advancedTable"
            {% if tests_in_json == true %}
                data-url="http://127.0.0.1:8080/cycle/json/{{ objId }}"
                data-side-pagination="server"
            {% endif %}
           {#data-url="http://127.0.0.1:8080/cycle/json/167/page/1"#}
           {#data-detail-view="true"#}
           {#data-detail-formatter="detailFormatter"#}
           {#data-minimum-count-columns="2"#}
           {#data-show-pagination-switch="true"#}
           {#data-id-field="id"#}
           {#data-response-handler="responseHandler"#}
    >
        <thead>
        <tr>
            {% if cycle_show_test_id_show == true %}
                <th data-sortable="true" data-field="id">ID</th>
            {% endif %}
            <th data-sortable="true" data-field="executionOrder" title="Test order">Order</th>
            <th data-sortable="true" data-field="name" data-sorter="htmlSorter" title="Test Name" data-footer-formatter="totalFormatter">Test Name</th>
            <th data-sorter="dataTitleIntSorter" data-sortable="true" data-field="timeRun" title="Test run time" data-footer-formatter="timeSumFormatter">Runtime</th>
            {% if cycle_show_test_time_start_show == true %}
                <th data-sortable="true" data-field="timeStart" data-sorter="dataTitleDateSorter" title="Test start time">Start</th>
            {% endif %}
            {% if cycle_show_test_time_end_show == true %}
                <th data-sortable="true" data-field="timeEnd" data-sorter="dataTitleDateSorter" title="Test end time">End</th>
            {% endif %}
            {% if cycle_show_test_time_ratio_show == true %}
                <th data-sorter="dataTitleIntSorter" data-sortable="true" data-field="time_ratio" title="Shows percentage of time in whole cycle">% time</th>
            {% endif %}
            {% if suitesCount > 0 %}
            <th data-sortable="true" data-field="Suite" title="Suite Execution">Suite</th>
            <th data-sortable="true" data-field="BuildFlavor" title="Build Flavor" data-visible="false">Build Flavor</th>
            <th data-sortable="true" data-field="Platform" title="Platform">Platform</th>
            <th data-sortable="true" data-field="Chip" title="Chip">Chip</th>
            <th data-sortable="true" data-field="Components" title="Components" data-visible="false">Components</th>
            <th data-sortable="true" data-field="Host" title="Host" data-visible="false">Host</th>
            {% endif %}
            {% if show_metadata == true %}
                {% for key, item in additional_cols %}
                    <th data-sortable="true" title="{{ key }}-{{ item }}" data-field="{{ item }}" class="meta_data_column">{{ shortString(item|replace({'_SHOW': '' }) , 15) }}</th>
                {% endfor %}
            {% endif %}
            {% if show_metadata_opt == true %}
                {% for key, item in additional_opt_cols %}
                    {% if cycle_show_test_control_file == false and (item == 'CONTROL_FILE_SHOW_OPT' or 'TEST_VERSION_SHOW_OPT' or 'CONTROL_VERSION_SHOW_OPT') %}
                    {% else %}
                    <th data-sortable="true" title="{{ key }}-{{ item }}" data-field="{{ item }}" class="meta_data_column" data-visible="false">{{ shortString(item|replace({'_SHOW_OPT': '' }) , 30) }}</th>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {#{% if disabled_uptime == false and show_uptime == true %}#}
                {#<th data-sortable="true" data-field="uptime_start" title="Uptime on test start">Uptime</th>#}
                {#<th data-sortable="true" data-field="uptime_end" title="Uptime on test end">Uptime</th>#}
            {#{% endif %}#}
            <th data-sortable="true" data-field="verdict">Verdict</th>
            <th data-sortable="true" data-field="fileSize" title="Test run time" data-visible="false">File Size</th>
            <th data-sortable="true" data-field="failDesc" title="Parsed from log fail description" data-visible="false">Fail description</th>
            {#<th>Actions</th>#}
        </tr>
        </thead>

        <tbody class="searchable">
        {% if tests_in_json != true %}
        {% set builder = '' %}
        {% for test in iterator | slice(0, 20000) %}
            {% set test_disabled = '' %}
            {% set testType = '' %}
            {% if test.isDisabled == 1 %}
                {% set test_disabled = ' test-disabled ' %}
            {% endif %}
            {% if test.testType.name == 'PRE_CYCLE' or test.testType.name == 'PRE_TEST_FLOW' %}
                {% set testType = ' test-pre-cycle ' %}
            {% elseif test.testType.name == 'POST_CYCLE' or test.testType.name == 'POST_TEST_FLOW' %}
                {% set testType = ' test-post-cycle ' %}
            {% elseif test.testType.name == 'HEALTH_CHECK' %}
                {% set testType = ' test-health-cycle ' %}
            {% elseif test.testType.name == 'RECOVERY' %}
                {% set testType = ' test-recovery-cycle ' %}
            {% endif %}
            <tr class='{{ test_disabled }}{{ testType }}'>
                {#{% if is_granted('edit', cycle.setup) %}#}
                    {% if test.suiteExecution is defined and test.suiteExecution.name is defined  %}
                        {%  set column =  test.suiteExecution.name ~ '[' ~  shortString(test.suiteExecution.buildType, 3, '')  ~ ']' ~ '[' ~  test.suiteExecution.id ~ ']'%}
                    {% else %}
                        {%  set column =  test.verdict %}
                    {% endif %}
                {%  set builder = builder ~ '[\'' ~ column ~ '\',\'' ~  test.name ~ '\',new Date(\''~ test.timeStart|date('Y-m-d H:i:s') ~'\'),new Date(\''~ test.timeEnd|date('Y-m-d H:i:s') ~'\')],' %}
                {#{% endif %}#}
                {% if cycle_show_test_id_show == true %}<td>{{ test.id }}</td>{% endif %}
                <td>{{ test.executionOrder }}</td>
                <td class="cycleName" title="{{ test.testType | default('TEST') }} - {{ test.testInfo.path | default('') }}"><a href="{{ path('test_show_first', { 'id': test.id  }) }}">{{ test.testInfo.name | default(test.name) | default('NoName') }}</a></td>
                <td><span data-title="{{ test.timeRun }}">{{ test.timeRun | ExecutionTimeGeneric}}</span></td>
                {% if cycle_show_test_time_start_show == true %}
                    {#title="{{ test.timeStart|date('Y-m-d H:i:s') }}"#}
                    <td>{% if test.timeStart %}<span data-title="{{ test.timeStart|date('ymdHis') }}">{{ test.timeStart|date(cycle_show_test_time_start_format) }}</span>{% endif %}</td>
                {% endif %}
                {% if cycle_show_test_time_end_show == true %}
                    <td>{% if test.timeEnd %}<span data-title="{{ test.timeEnd|date('ymdHis') }}">{{ test.timeEnd|date(cycle_show_test_time_end_format) }}</span>{% endif %}</td>
                {% endif %}
                {% if cycle_show_test_time_ratio_show == true %}
                    <td><span data-title="{{ test.timeRun }}"></span>{{ getPercentage(test.timeRun, cycle.testsTimeSum) }}%</td>
                {% if suitesCount > 0 %}
                    <td>
                        {% if test.suiteExecution.id is defined and test.suiteExecution.name is defined %}
                        <span><a href="{{ path('suite_show', {'id': test.suiteExecution.id}) }}" target="_blank" title="[{{ test.suiteExecution.uuid }}] : PLATFORM::{{ test.suiteExecution.platform }}/{{ test.suiteExecution.chip }}">{{ test.suiteExecution.name }}</a></span>
                        {% endif %}
                    </td>
                    <td>
                        {% if test.suiteExecution.id is defined and test.suiteExecution.name is defined %}
                            {{ test.suiteExecution.buildType }}
                        {% endif %}
                    </td>
                    <td>{% if test.suiteExecution.id is defined and test.suiteExecution.platform is defined %}<span style="color: {{ stringToColor(test.suiteExecution.platform) }} !important;">{{ test.suiteExecution.platform }}</span>{% endif %}</td>
                    <td>{% if test.suiteExecution.id is defined and test.suiteExecution.chip is defined %}<span style="color: {{ stringToColor(test.suiteExecution.chip) }} !important;">{{ test.suiteExecution.chip }}</span>{% endif %}</td>
                    <td>{% if test.suiteExecution.id is defined and test.suiteExecution.components is defined %}{{ test.suiteExecution.components|join(', ') }}{% endif %}</td>
                    <td>{% if test.suiteExecution.id is defined and test.suiteExecution.host is defined and test.suiteExecution.host.name is defined %}{{ test.suiteExecution.host.name }}{% endif %}</td>
                {% endif %}
                {% endif %}
                {% if show_metadata == true %}
                    {% for key, item in additional_cols %}
                        <td title="{{ item }}">
                            {% if item in test.metaData|keys %}
                                {% if isUrl(test.metaData[item]) %}
                                    <a target="_blank" href="{{ test.metaData[item] }}" >Link</a>
                                {% elseif item == 'EXECUTION_SHOW' %}
{#                                    or item == 'TEST_CASE_SHOW'#}
                                    {% if test.testKey is defined and test.testKey | length > 3 %}
                                        {% set jira_domain = parseDomain(test.suiteExecution.testSetUrl) %}
                                        {% if jira_domain | length > 0 %}
                                            {%  set jira_test_set_url = 'http://' ~  jira_domain ~ '/browse/' ~ test.metaData[item] %}
                                            <a href="{{ jira_test_set_url }}" class="font8" target="_blank">{{ test.metaData[item] }}</a>
                                        {% endif %}
                                    {% else %}
                                        <span title="{{ test.metaData[item] }}">{{ test.metaData[item] }}</span>
                                    {% endif %}
                                {% else %}
                                    <span title="{{ test.metaData[item] }}">{{ test.metaData[item] }}</span>
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endfor %}
                {% endif %}
                {% if show_metadata_opt == true %}
                    {% for key, item in additional_opt_cols %}
                        {% if cycle_show_test_control_file == false and (item == 'CONTROL_FILE_SHOW_OPT' or 'TEST_VERSION_SHOW_OPT' or 'CONTROL_VERSION_SHOW_OPT') %}
                        {% else %}
                        <td title="{{ item }}">
                            {% if item in test.metaData|keys %}
                                {% if isUrl(test.metaData[item]) %}
                                    <a target="_blank" href="{{ test.metaData[item] }}" >Link</a>
                                {% else %}
                                    <span title="{{ test.metaData[item] }}">{{ test.metaData[item] }}</span>
                                {% endif %}
                            {% endif %}
                        </td>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {#{% if disabled_uptime == false and show_uptime == true %}#}
                    {#<td>{{ test.dutUpTimeStart }}</td>#}
                    {#<td>{{ test.dutUpTimeEnd }}</td>#}
                {#{% endif %}#}
                {% set title = '' %}
                {% if test.verdict != 'PASS' %}
                    {#{% set ar_key = test.executionOrder ~ '-' ~ test.name %}#}
                    {#{% if ar_key in errors | keys %}#}
                        {% set title = test.failDescription %}
                        {#{% set title = cleanAutotestFinalMessage(errors[ar_key]) %}#}
                    {#{% endif %}#}
                {% endif %}
                <td><span class="badge {{verdictToBadge(test.verdict)}}" title="{{ title }}">{{ test.verdict }}</span></td>
                <td>{{ test.logFileSize }}</td>
                <td>{{ (test.failDescription|length > 0) ? test.failDescription : '' }}</td>
                {#<td>#}
                    {#<a href="{{ path('test_show_first', { 'id': test.id }) }}">show</a>#}
                    {#<a href="{{ path('test_edit', { 'id': test.id }) }}">edit</a>#}
                {#</td>#}
            </tr>
        {% endfor %}
        {% endif %}
        </tbody>

    </table>
    {% endapply %}

    <ul>
        <li><a href="{{ path('cycle_index') }}">Back to the list</a></li>
        {% if is_granted('edit', cycle.setup) %}
            <li><a href="{{ path('cycle_edit', { 'id': cycle.id }) }}">Edit</a></li>
        {% endif %}
        {#{% if is_granted('delete', cycle.setup) %}#}
        {#<li>#}
        {#{{ form_start(delete_form) }}#}
        {#<input type="submit" value="Delete" onclick="return confirm('are u sure?')">#}
        {#{{ form_end(delete_form) }}#}
        {#</li>#}
        {#{% endif %}#}
    </ul>


    <script>
        function drawEasyPieChart(){
            jQuery(function($) {
                $('.easy-pie-chart.percentage').each(function(){
                    $(this).easyPieChart({
                        barColor: $(this).data('color'),
                        trackColor: '#EEEEEE',
                        scaleColor: false,
                        lineCap: 'butt',
                        lineWidth: 3,
                        animate: ace.vars['old_ie'] ? false : 1200,
                        size:45
                    }).css('color', $(this).data('color'));
                });
            });
        }

        function set_filter(value) {
            var textObj = $( "#cycleShowToolbar, input[type = 'text']" )
            textObj.val(value.innerText);
            textObj.keyup.apply(textObj);
        }
        $(document).ready(function() {
            $( "#cycleShowToolbar, button[name = 'refresh'].btn" ).bind( "click", function() {
                location.reload();
            });
            $( "#keep3months" ).bind( "click", function() {
                window.location.href = "{{ path('cycle_keep', { 'cycle': cycle.id, 'weeks': 14}) }}";
            });

            drawEasyPieChart();
            $( "#saveCycleAsArchive" ).bind( "click", function() {
                window.location.href = "{{ path('cycle_download', { 'id': cycle.id }) }}";
            });


            {% if cycle.logBookCycleReports  | length == 0 %}

            $( "#makeReport" ).bind( "click", function() {
                window.location.href = "{{ path('log_book_cycle_report_new_with_cycle', {'cycle': cycle.id }) }}";
            });
            {% else  %}
            $( "#showReport" ).bind( "click", function() {
                window.location.href = "{{ path('log_book_cycle_report_show', {'id': cycle.logBookCycleReports[0].id }) }}";
            });
            {% endif %}
            $( "#showIndicators" ).bind( "click", function() {
                window.location.href = "{{ path('setup_indicator_with_main_cycle', { 'id': cycle.setup.id, 'mainCycle': cycle.id }) }}";
            });
            $( "#go_to_cycle" ).bind( "click", function() {
                window.location.href = "{{ path('cycle_show_first', { 'id': cycle.id}) }}";
            });
            $( "#load_all_tests" ).bind( "click", function() {
                window.location.href = "{{ path('cycle_show_size', { 'id': cycle.id, 'maxSize': testsCount }) }}";
            });
            // var testTable = $('#cycleTestsTable');
            // testTable.bootstrapTable({
            //     classes: "table-no-bordered",
            //     // pageList : [10 ,20, 25 ,30 ,120, 200, 'ALL']
            // });
        });
    </script>
    {#{% if is_granted('edit', cycle.setup) %}#}
    <script type="text/javascript">
        google.charts.load("current", {packages:["timeline"]});

        function drawChart(jsonData) {
            var dataTable = new google.visualization.DataTable();
            dataTable.addColumn({ type: 'string', id: 'Selector' });
            dataTable.addColumn({ type: 'string', id: 'Test Name' });
            dataTable.addColumn({ type: 'date', id: 'Start' });
            dataTable.addColumn({ type: 'date', id: 'End', p:{html: true}  });
            {% if tests_in_json == true %}
                $.each(jsonData['rows'], function (i, row) {
                    dataTable.addRow([
                        row.verdict,
                        row.name,
                        new Date(row.timeStart),
                        new Date(row.timeEnd)
                    ]);
                });
            {% endif %}

            {% if tests_in_json == true %}
                // "tests_in_json=true
            {% else %}
                // "tests_in_json=false
                dataTable.addRows([
                    {{builder|raw}}
                ]);
            {% endif %}

            var options = {
              tooltip: {isHtml: true},
              height: '100%',
              timeline: {
                  //singleColor: '#8d8',
                  groupByRowLabel: true,
                  colorByRowLabel: true,
              },
              // hAxis: {
              //     format: 'M/d/yy',
              //     gridlines: {count: 15}
              // }
            };

            function chartSelectHandler(e) {
                var selection = chart.getSelection();
                var message = '';
                var yRange = dataTable.getColumnRange(1);
                var xRange = dataTable.getColumnRange(0);

                for (var i = 0; i < selection.length; i++) {
                    var item = selection[i];
                    var str;
                    if (item.row != null && item.column != null) {
                        str = dataTable.getFormattedValue(item.row, item.column);
                        message += '{row:' + item.row + ',column:' + item.column + '} = ' + str + '\n';
                    } else if (item.row != null) {
                        str = dataTable.getFormattedValue(item.row, 0);
                        message += '{row:' + item.row + '};value= ' + str + '\n';
                    } else if (item.column != null) {
                        str = dataTable.getFormattedValue(0, item.column);
                        message += '{column:' + item.column + '};value= ' + str + '\n';
                    }
                }
                try {
                    console.log('selected ' + message);
                } catch (e) {}
            }

            var chart = new google.visualization.Timeline($('#graphResults')[0]);
            google.visualization.events.addListener(chart, 'select', chartSelectHandler);

            chart.draw(dataTable, options);
            try {
                console.log('Draw graph finish')
            } catch (e) {}

        }


        $(document).ready(function() {

            $("#view_graph").on("click", function(event){
                try {
                    console.log("precallback - draw graph ");
                } catch (e) {}

                setTimeout(function(){
                    {% if tests_in_json == true %}
                    google.charts.setOnLoadCallback(loadDataAndDrawChart);
                    function loadDataAndDrawChart() {
                        $.ajax({
                            dataType: "json",
                            url: "/cycle/json/{{ objId }}",
                            success: drawChart
                        });
                    }
                    {% else %}
                    drawChart();
                    {% endif %}
                }, 50); // small delay for give time to exporer build html
            });
            try {
                ace.settings.sidebar_collapsed(document.getElementById('sidebar'), true, true);
                ace.settings.sidebar_fixed(document.getElementById('sidebar'), true, true);
            } catch (e) {}
        });
    </script>
    {#{% endif %}#}
{% endblock %}
