<table class="records_list table table-striped table-bordered table-condensed table-hover" data-classes="table table-bordered"
       id="suiteRatingTable" data-pagination="true" data-search="true" data-toggle="table"
       data-toolbar="#suiteExecutionToolBar"
       data-show-refresh="true"
       data-key-events="true"
       data-show-footer="true"
       data-show-toggle="true"
       data-show-export="true"
       data-show-columns="true"
       data-advanced-search="true"
       data-page-size="1000" data-page-list="[10, 15, 20, 50, 100, 200, 500, 1000, 2000, 5000, 10000, 20000, 50000]" data-sort-order="desc">
    <thead>
    <tr>
        <th data-sortable="true" data-switchable="false">Test Name</th>
        <th data-sortable="true" data-switchable="false">Verdict</th>
        <th data-sortable="true" data-switchable="false">Type</th>
        <th data-sortable="true" data-switchable="false">Fail description</th>
{#        <th data-sortable="true" data-switchable="false">Cycle</th>#}
        <th data-sortable="true" data-switchable="false">Suite Name</th>
        <th data-sortable="true" data-switchable="false">Suite BF</th>
        <th data-sortable="true" data-switchable="false">Suite UUID</th>
    </tr>
    </thead>
    <tbody class="searchable">
    {% for test in failed_tests | slice(0, 50000)%}
        <tr>
            <td><a target="_blank" href="{{ path('test_show_first', {'id': test.id}) }}">{{ test.name }}</a></td>
            <td><span  class="badge {{verdictToBadge(test.verdict)}}">{{ test.verdict }}</span></td>
            <td class="font14">{{ test.testType }}</td>
            <td class="font10" title="{{ test.failDescription |replace({'"':"'"}) | raw }}">{{ shortString(test.failDescription, 150, '') }}</td>
{#            <td class="font10">{{ test.cycle }}</td>#}
            <td class="font12">{{ test.suiteExecution.name }}</td>
            <td class="font14">{{ test.suiteExecution.buildType }}</td>
            <td class="font9">{{ test.suiteExecution.uuid }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>