<table class="records_list table table-striped table-bordered table-condensed table-hover" data-classes="table table-bordered">
    <thead>
    <tr>
        <th>-</th>
        <th>{{ mainCycle }}</th>
        <th>{{ compareCycle }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Suites count</th>
        {% set msl = mainCycle.suiteExecution | length %}
        {% set csl = compareCycle.suiteExecution | length %}
        <td style="text-align: center;">
{#            <span class="btn btn-app btn-sm btn-light no-hover">#}
{#                <span class="line-height-1 bigger-170 blue">{{ msl }}</span>#}
{#                <br>#}
{#                <span class="line-height-1 smaller-90"> Views </span>#}
{#            </span>#}
            <span class="bigger-300 {{ (msl >= csl) ? 'blue': 'red' }}">{{ msl }}</span>
            {% if msl > csl %}
                <span class="badge badge-success">+{{ msl - csl }} [{{ getPercentage(msl - csl, csl) }}%]</span>{% endif %}
            {% if msl < csl %}
                <i class="ace-icon fa fa-bell-o bigger-110 purple"></i>

                <span class="badge badge-danger">-{{ csl - msl }} [{{ getPercentage(csl - msl, csl) }}%]</span>{% endif %}
        </td>
        <td style="text-align: center;"><span class="bigger-300 {{ (csl >= msl) ? 'blue': 'red' }}">{{ csl }}</span></td>
    </tr>
    <tr>
        <th>Tests count [include POST/PRE/HEALTH/RECOVERY] in cycle</th>
        <td>
            <span class="bigger-150 {{ (mainCycle.testsCount  >= compareCycle.testsCount) ? 'blue': 'red' }}">{{ mainCycle.testsCount }}</span>
            {% if mainCycle.testsCount > compareCycle.testsCount %} <span class="badge badge-success">+{{ mainCycle.testsCount - compareCycle.testsCount }} [{{ getPercentage(mainCycle.testsCount - compareCycle.testsCount, compareCycle.testsCount) }}%]</span>{% endif %}
            {% if mainCycle.testsCount < compareCycle.testsCount %} <span class="badge badge-danger">-{{ compareCycle.testsCount - mainCycle.testsCount }} [{{ getPercentage(compareCycle.testsCount - mainCycle.testsCount, compareCycle.testsCount) }}%]</span>{% endif %}
        </td>
        <td><span class="bigger-150 {{ (compareCycle.testsCount  >= mainCycle.testsCount) ? 'blue': 'red' }}">{{ compareCycle.testsCount }}</span></td>
    </tr>
    <tr>
        <th>Test Executed count in suites</th>

        <td>
            <span class="bigger-150 {{ (mainCycleTestsExecuted  >= secondCycleTestsExecuted) ? 'blue': 'red' }}">{{ mainCycleTestsExecuted }}</span>
            {% if mainCycleTestsExecuted > secondCycleTestsExecuted %} <span class="label label-{{ (mainCycleTestsExecuted < mainCycleTestsEnabledInsuite) ? 'danger': 'success' }} label-white middle">+{{ mainCycleTestsExecuted - secondCycleTestsExecuted }} [{{ getPercentage(mainCycleTestsExecuted - secondCycleTestsExecuted, secondCycleTestsExecuted) }}%]</span>{% endif %}
            {% if mainCycleTestsExecuted < secondCycleTestsExecuted %} <span class="badge badge-danger">-{{ secondCycleTestsExecuted - mainCycleTestsExecuted }} [{{ getPercentage(secondCycleTestsExecuted - mainCycleTestsExecuted, secondCycleTestsExecuted) }}%]</span>{% endif %}
            {% if mainCycleTestsExecuted < mainCycleTestsEnabledInsuite %}
                <span class="label label-danger arrowed-in">Not finished suite/s found</span>,  missing ~ {{ mainCycleTestsEnabledInsuite - mainCycleTestsExecuted }} tests
            {% endif %}
        </td>
        <td><span class="bigger-150 {{ (secondCycleTestsExecuted  >= mainCycleTestsExecuted) ? 'blue': 'red' }}">{{ secondCycleTestsExecuted }}</span></td>
    </tr>
    <tr>
        <th>Enabled Tests count in suites</th>

        <td>
            <span class="bigger-150 {{ (mainCycleTestsEnabledInsuite  >= secondCycleTestsEnabledInsuite) ? 'blue': 'red' }}">{{ mainCycleTestsEnabledInsuite }}</span>
            {% if mainCycleTestsEnabledInsuite > secondCycleTestsEnabledInsuite %} <span class="label label-success label-white middle">+{{ mainCycleTestsEnabledInsuite - secondCycleTestsEnabledInsuite }} [{{ getPercentage(mainCycleTestsEnabledInsuite - secondCycleTestsEnabledInsuite, secondCycleTestsEnabledInsuite) }}%]</span>{% endif %}
            {% if mainCycleTestsEnabledInsuite < secondCycleTestsEnabledInsuite %} <span class="badge badge-danger">-{{ secondCycleTestsEnabledInsuite - mainCycleTestsEnabledInsuite }} [{{ getPercentage(secondCycleTestsEnabledInsuite - mainCycleTestsEnabledInsuite, secondCycleTestsEnabledInsuite) }}%]</span>{% endif %}
        </td>
        <td><span class="bigger-150 {{ (secondCycleTestsEnabledInsuite  >= mainCycleTestsEnabledInsuite) ? 'blue': 'red' }}">{{ secondCycleTestsEnabledInsuite }}</span></td>
    </tr>
    <tr>
        <th>Tests count in suites [total defined include disabled] </th>

        <td>
            <span class="bigger-150 {{ (mainCycleTestsDefinedInsuite  >= secondCycleTestsDefinedInsuite) ? 'blue': 'red' }}">{{ mainCycleTestsDefinedInsuite }}</span>
            {% if mainCycleTestsDefinedInsuite > secondCycleTestsDefinedInsuite %} <span class="label label-success label-white middle">+{{ mainCycleTestsDefinedInsuite - secondCycleTestsDefinedInsuite }} [{{ getPercentage(mainCycleTestsDefinedInsuite - secondCycleTestsDefinedInsuite, secondCycleTestsDefinedInsuite) }}%]</span>{% endif %}
            {% if mainCycleTestsDefinedInsuite < secondCycleTestsDefinedInsuite %} <span class="badge badge-danger">-{{ secondCycleTestsDefinedInsuite - mainCycleTestsDefinedInsuite }} [{{ getPercentage(secondCycleTestsDefinedInsuite - mainCycleTestsDefinedInsuite, secondCycleTestsDefinedInsuite) }}%]</span>{% endif %}
        </td>
        <td><span class="bigger-150 {{ (secondCycleTestsDefinedInsuite  >= mainCycleTestsDefinedInsuite) ? 'blue': 'red' }}">{{ secondCycleTestsDefinedInsuite }}</span></td>
    </tr>
    <tr>
        <th>Tests disabled in suites </th>

        <td>
            <span class="bigger-150 {{ (mainCycleTestsDisabledInSuite  >= secondCycleTestsDisabledInSuite) ? 'red': 'yellow' }}">{{ mainCycleTestsDisabledInSuite }}</span>
            {% if mainCycleTestsDisabledInSuite > secondCycleTestsDisabledInSuite %} <span class="label label-lg label-yellow arrowed-in arrowed-in-right">+{{ mainCycleTestsDisabledInSuite - secondCycleTestsDisabledInSuite }} [{{ getPercentage(mainCycleTestsDisabledInSuite - secondCycleTestsDisabledInSuite, secondCycleTestsDisabledInSuite) }}%]</span>{% endif %}
            {% if mainCycleTestsDisabledInSuite < secondCycleTestsDisabledInSuite %} <span class="label label-xlg label-light arrowed-in-right">-{{ secondCycleTestsDisabledInSuite - mainCycleTestsDisabledInSuite }} [{{ getPercentage(secondCycleTestsDisabledInSuite - mainCycleTestsDisabledInSuite, secondCycleTestsDisabledInSuite) }}%]</span>{% endif %}
        </td>
        <td><span class="bigger-150 {{ (secondCycleTestsDisabledInSuite  >= mainCycleTestsDisabledInSuite) ? 'red': 'yellow' }}">{{ secondCycleTestsDisabledInSuite }}</span></td>
    </tr>
    <tr>
        <th>Pass Rate</th>
        <td class="bigger-150 {{ passRateToColor(mainCycle.passRate) }}">{{ mainCycle.passRate }}%</td>
        <td class="bigger-150 {{ passRateToColor(compareCycle.passRate) }}">{{ compareCycle.passRate }}%
        </td>
    </tr>
    <tr>
        <th>Verdicts</th>
        <td class="{{ passRateToColor(mainCycle.passRate) }}" colspan="2">
            <table style="width: 99%;">
                <tr>
                    <th style="width: 200px;vertical-align: top;text-align: center;">{{ mainCycle.name }}</th>
                    <td>
                        {% set wCycle = mainCycle %}
                        {% include "lbook/cycle/progress.bar.html.twig" %}
                    </td>
                </tr>
                <tr>
                    <th style="width: 200px;vertical-align: top;text-align: center;">{{ compareCycle.name }}</th>
                    <td>
                        {% set wCycle = compareCycle %}
                        {% include "lbook/cycle/progress.bar.html.twig" %}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <th>Chips</th>
        <td class="">Found {{ mainCycleChips | length }}
            <ul>
                {% for x in mainCycleChips|keys %}
                    <li {{ (mainCycleChips[x]|default(0) < secondCycleChips[x]|default(0)) ? 'class="text-danger"'}}{{ (mainCycleChips[x]|default(0) > secondCycleChips[x]|default(0)) ? 'class="text-primary"'}}>{{  x }} - {{ mainCycleChips[x]}} </li>
                {% endfor %}
            </ul>
        </td>
        <td class="">Found {{ secondCycleChips | length }}
            <ul>
            {% for x in secondCycleChips|keys %}
                <li>{{  x }} - {{ secondCycleChips[x]}} </li>
            {% endfor %}
            </ul>
        </td>
    </tr>
    <tr>
        <th>Product Version</th>
        <td class="bigger-150 align-right {{ (mainCycle.build.name == compareCycle.build.name) ? 'red': 'green' }}">{{ mainCycle.build.name }}</td>
        <td class="bigger-150 align-left">{{ compareCycle.build.name }}</td>
    </tr>
    <tr>
        <th>Duration </th>
        <td class="bigger-80 align-right {{ (mainCycle.period >= compareCycle.period) ? 'green': 'red' }}">{{ mainCycle.period | executionTimeGenericShort }} ({{ mainCycle.period }})</td>
        <td class="bigger-80 align-left">{{ compareCycle.period | executionTimeGenericShort }} ({{ compareCycle.period }})</td>
    </tr>
    <tr>
        <td colspan="3" class="align-right">Time duration between First test start-time and Last test end-time </td>
    </tr>
    <tr>
        <th>Test Time</th>
        <td class="bigger-80 align-right {{ (mainCycle.testsTimeSum >= compareCycle.testsTimeSum) ? 'green': 'red' }}">{{ mainCycle.testsTimeSum | executionTimeGenericShort }}</td>
        <td class="bigger-80 align-left">{{ compareCycle.testsTimeSum | executionTimeGenericShort }}</td>
    </tr>
    <tr>
        <td colspan="3" class="align-right">Summary over total time in all tests in this cycle</td>
    </tr>
    <tr>
        <th>New Suites relative to second cycle</th>
        <td class="" >Found {{ newSuitesInMain | length }}
            <ul>
                {% for tmp in newSuitesInMain %}
                    <li>{{ tmp }}</li>
                {% endfor %}
            </ul>
        </td>
        <td class=""></td>
    </tr>
    <tr>
        <th>Missing Suites relative to second cycle</th>
        <td class="" >Found {{ missingSuitesInMain | length }}
            <ul>
            {% for tmp in missingSuitesInMain %}
                <li>{{ tmp }}</li>
            {% endfor %}
            </ul>

        </td>
        <td class=""></td>
    </tr>
    </tbody>
</table>