{% extends 'lbook/default/index.html.twig' %}
{% block title %}LogBook Test Fail Descriptions{% endblock %}
{% block content %}
    <h4>List of avaliable test failures</h4>
    {% set pagePath = "fail_desc_index_page" %}
    <div class="row">
        <div class="col-sm-12 text-center">{% include "lbook/paginator.html.twig" %}</div>
    </div>
    <table class="records_list table table-striped table-condensed table-hover"
           id="testFailDescriptionsTable" data-pagination="true" data-search="true" data-toggle="table"
           data-toolbar="#testFailDescriptionsTableToolbar"
           data-show-refresh="true"
           data-key-events="true"
            {#data-show-toggle="true"#}
           data-show-export="true"
           data-show-columns="true"
           data-advanced-search="true"
           data-cookie="true" data-cookie-cookies-enabled="['bs.table.columns']" data-cookie-id-table="failDescIndex"
           data-page-size="30" data-page-list="[5, 10, 20, 25, 30, 40, 50, 100, 500, 1000, 2000, 5000 , 10000]" data-sort-order="desc">
        <thead>
            <tr>
                <th data-sorter="dataTitleIntSorter" data-sortable="true">ID</th>
                <th data-sortable="true">Description</th>
{#                <th>Md5</th>#}
                <th data-sortable="true" title="Tests Count" data-switchable="false">Tests Count</th>
                <th data-sortable="true">Last Seen</th>
                <th data-sortable="true">CreatedAt</th>
                <th data-sortable="true">Update Diff</th>
{#                <th>actions</th>#}
            </tr>
        </thead>
        <tbody>
        {% for log_book_test_fail_desc in iterator | slice(0, 10000)  %}
            <tr>
                <td><a data-title="{{ log_book_test_fail_desc.id }}" href="{{ path('fail_desc_show', {'id': log_book_test_fail_desc.id}) }}">{{ log_book_test_fail_desc.id }}</a></td>
                <td>{{ log_book_test_fail_desc.description }}</td>
{#                <td>{{ log_book_test_fail_desc.md5 }}</td>#}
                <td>{{ log_book_test_fail_desc.testsCount }}</td>
                <td>{{ log_book_test_fail_desc.lastMarkedAsSeenAt ? log_book_test_fail_desc.lastMarkedAsSeenAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ log_book_test_fail_desc.createdAt ? log_book_test_fail_desc.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ log_book_test_fail_desc.lastUpdateDiff }}</td>
{#                <td>#}
{#                    <a href="{{ path('log_book_test_fail_desc_edit', {'id': fail_desc.id}) }}">edit</a>#}
{#                </td>#}
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
