{% extends 'lbook/default/index.html.twig' %}
{% block title %}LBOOK Test [{{ test.id }}:{{ test.name }}] {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-10">
            <h3 class="test_title">
                <a href="{{ path('setup_show', { 'id': test.cycle.setup.id }) }}"><< {{ test.cycle.setup}}</a>
                /
                <a href="{{ path('cycle_show', { 'id': test.cycle.id }) }}">< {{ test.cycle.name}}</a>
                /
                Test [{{ test.id }}] : {{ test.name }}
            </h3>
        </div>

        <div class="col-xs-2">
            {#<span style="float: right;">#}
                {#<button class="btn btn-white btn-info btn-bold" id="saveTestAsText">#}
                    {#<i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>#}
                    {#Download#}
                {#</button>#}
            {#</span>#}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="tabbable">
                <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="testInfoNav">
                    <li class="active"><a data-toggle="tab" href="#main">Main</a></li>
                    {% if test.metaData %}
                        <li class=""><a data-toggle="tab" href="#metadata">Metadata ({{ test.metaData | length }})</a></li>
                    {% endif %}
                    <li class=""><a data-toggle="tab" href="#other">Other</a></li>
                </ul>

                <div class="tab-content">
                    <div id="main" class="tab-pane active">
                        <table class="records_list table table-striped table-condensed">
                            <tbody>
                            <tr>
                                <th>Order</th>
                                <td>{{ test.executionOrder }}</td>
                                <th>
                                    <span title="Click on 'Download' for download log file to your computer">Download</span>
                                    /
                                    <span title="Click on 'Show' to view log in row format">Show</span></th>
                                <td>
                                {% if file_exist %}
                                    <span class="ace-icon fa fa-cloud-download light-green" title="Click on download for download log file to your computer"> </span>
                                    <a href="{{ path('download_log', {'id': test.id }) }}">Downlaod</a>
                                    /
                                    <span class="ace-icon fa fa-eye green" title="Click on 'Show' to view log in row format"> </span>
                                    <a href="{{ path('show_log', {'id': test.id }) }}">Show</a>
                                {% else %}
                                    <span class="ace-icon fa fa-exclamation-circle red"> </span>
                                    Log file not found
                                {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Setup / Cycle info</th>
                                <td>
                                    <span class="blue">{{ test.cycle.setup.id }} : {{ test.cycle.setup.name }}</span>
                                    /
                                    <span class="blue">{{ test.cycle.id }} : {{ test.cycle.name }}</span>
                                </td>
                                <th>File Size</th>
                                <td>{{ formatBytes(test.logFileSize) }} ( {{ test.logFileSize }} )</td>
                            </tr>
                            <tr>
                                <th>Time start / Time end</th>
                                <td>
                                    <i class="ace-icon fa fa-calendar"></i>
                                    <span class="blue" title="Start time">
                                        {% if test.timeStart %}{{ test.timeStart|date('Y-m-d H:i:s') }}{% endif %}
                                    </span>
                                    /
                                    <i class="ace-icon fa fa-calendar"></i>
                                    <span class="blue" title="End time">
                                        {% if test.timeEnd %}{{ test.timeEnd|date('Y-m-d H:i:s') }}{% endif %}
                                    </span>
                                </td>
                                <th>Run time / % of cycle time</th>
                                <td>
                                    <i class="ace-icon fa fa-info-circle" title="Show test run time"></i>
                                    <span title="{{ test.timeRun }} seconds">{{ test.timeRun |  ExecutionTimeGeneric }}</span>
                                    / &nbsp;&nbsp;
                                    <i class="ace-icon fa fa-info-circle" title="Show this test run time percentage in whole cycle"></i>
                                    <span class="orange">
                                        {{ getPercentage(test.timeRun, test.cycle.testsTimeSum) }}%
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th>Verdict</th>
                                <td><span class="badge {{ verdictToBadge(test.verdict)}}">{{ test.verdict }}</span></td>
                                <th></th>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    {% if test.metaData %}
                        <div id="metadata" class="tab-pane">
                            <ul>
                            {% for key, item in test.metaData %}
                                <li>
                                    {{ key }} =
                                    {% if isUrl(item) %}
                                        {{ item }} <a target="_blank" href="{{item }}" >Link_to_{{ key }}</a>
                                    {% else %}
                                        <span title="{{ item }}">{{ shortString(item, 500) }}</span>
                                    {% endif %}
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <div id="other" class="tab-pane">
                        <p>WIP</p>
                        <ul>
                            <li>File Name={{ test.logFile }}</li>
                            <li>DUT uptime on start={{ test.dutUpTimeStart }}</li>
                            <li>DUT uptime on end={{ test.dutUpTimeEnd }}</li>
                            <li>ForDelete={{ test.forDelete ? 'Yes' : 'No'  }}</li>
                            <li>Disabled={{ test.disabled ? 'Yes' : 'No'  }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#{% if test.verdict != null and test.verdict.name in ['ERROR', 'FAIL'] %}#}
        {#{% set search_value = test.verdict.name %}#}
    {#{% endif %}#}
    <ul class="pager" style="margin: 5px 0;">
        <li class="previous">
            {% if test_left != null %}
                <a href="{{ path('test_show_first', {'id': test_left.id } ) }}">← {{ test_left.name }}</a>
            {% endif %}
        </li>

        <li class="next">
            {% if test_right!= null %}
                <a href="{{ path('test_show_first', {'id': test_right.id } ) }}">{{ test_right.name }} →</a>
            {% endif %}
        </li>
    </ul>

    {% set logs = test.logs %}
    {% set pagePath = "test_show" %}
    {% set objId = test.id %}
    <div class="row">
        <div class="col-sm-12 text-center">{% include "lbook/double.paginator.html.twig" %}</div>
    </div>
    <div class="row">
        <div class="widget-box transparent">
            <div class="widget-header widget-header-flat">
                <h4 class="widget-title lighter">
                    <i class="ace-icon fa fa-star orange"></i>
                    Logs list
                </h4>
                <div class="widget-toolbar">
                    <a href="#" data-action="collapse">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>
                </div>
                <div class="widget-toolbar no-border">Count : {{ size }}</div>
            </div>

            <div class="widget-body" style="display: block;">
                <div class="widget-main no-padding testLog">
                    {% include "lbook/search.html.twig" %}
                    <table class="table table-bordered table-hover table-condensed">
                        <thead class="thin-border-bottom">
                        <tr>
                            <th><i class="ace-icon fa fa-caret-right blue"></i>Time</th>
                            <th><i class="ace-icon fa fa-caret-right blue"></i>Offset</th>
                            {#<th><i class="ace-icon fa fa-caret-right blue"></i>Id</th>#}
                            {#<th class="hidden-480"><i class="ace-icon fa fa-caret-right blue"></i>Order</th>#}
                            <th class="hidden-480"><i class="ace-icon fa fa-caret-right blue"></i>Log</th>
                            <th class="hidden-480"><i class="ace-icon fa fa-caret-right blue"></i>Type</th>
                        </tr>
                        </thead>
                        <tbody class="searchable">
                        {% set break = false %}
                        {% set counter = 0 %}
                        {% for log in iterator if not break %}
                            {% if counter == 10000 %}
                                {% set break = true %}
                            {% endif %}
                            {% set counter = counter+1 %}
                                <tr class="{{ logTypeToTableColor(log.msgType) }}">
                                    <td title="ID:{{ log.id }}, Order:{{ log.chain }}" class="logType">{{ log.logTime | date('H:i:s') }}</td>
                                    <td class="logType">{{ relativeTime(test.timeStart, log.logTime) }}</td>
                                    {#<td><a href="{{ path('log_show', { 'id': log.id }) }}">{{ log.id }}</a></td>#}
                                    {#<td title="{{ log.id }}">{{ log.chain }}</td>#}
                                    {% set link_class = '' %}
                                    {% if log.msgType.name in ["INFO", "SYSTEM"] %}
                                        {% set link_class = ' autolink' %}
                                    {% endif %}
                                    <td class="log_text{{ link_class }}">{{ log.message | nl2br }}</td>
                                    <td class="logType">{{ log.msgType }}</td>
                                </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.widget-main -->
                <div class="widget-toolbox padding-8 text-center">
                    <div>{% include "lbook/double.paginator.html.twig" %}</div>
                </div>
            </div><!-- /.widget-body -->
        </div>
    </div>
    <div class="row">
        <ul>
            {% if is_granted('edit', test.cycle.setup) %}
            <li>
                <a href="{{ path('test_edit', { 'id': test.id }) }}">Edit</a>
            </li>
            {% endif %}
            {#{% if is_granted('delete', test.cycle.setup) %}#}
            {#<li>#}
                {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="Delete" onclick="return confirm('are u sure?')">#}
                {#{{ form_end(delete_form) }}#}
            {#</li>#}
            {#{% endif %}#}
        </ul>
    </div>
    <script type="text/javascript">
        function replaceUrl () {
            $(".autolink").each(function(){
                $(this).html(linkify($(this).html()));
            });
        }
        $(document).ready(
            setTimeout(replaceUrl, 1500)
        );
    </script>
{% endblock %}
