{% extends 'lbook/default/index.html.twig' %}
{% block title %}LBOOK Test [{{ test.id }}:{{ test.name }}] {% endblock %}
{% block content %}
    <h1>Test</h1>

    <table class="records_list table table-striped table-condensed">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ test.id }}</td>
        </tr>
        <tr>
            <th>Order</th>
            <td>{{ test.executionOrder }}</td>
        </tr>
        <tr>
            <th>Setup</th>
            <td>{{ test.cycle.setup.id }} / {{ test.cycle.setup.name }}</td>
        </tr>
        <tr>
            <th>Cycle</th>
            <td>{{ test.cycle.id }} / {{ test.cycle.name }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ test.name }}</td>
        </tr>
        <tr>
            <th>Timestart</th>
            <td>{% if test.timeStart %}{{ test.timeStart|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Timeend</th>
            <td>{% if test.timeEnd %}{{ test.timeEnd|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Timerun</th>
            <td>{{ test.timeRun }}</td>
        </tr>
        <tr>
            <th>Verdict</th>
            <td><span class="badge {{ verdictToBadge(test.verdict)}}">{{ test.verdict }}</span></td></td>
        </tr>
        </tbody>
    </table>

    {% set logs = test.logs %}
    <div class="widget-box transparent">
        <div class="widget-header widget-header-flat">
            <h4 class="widget-title lighter">
                <i class="ace-icon fa fa-star orange"></i>
                Logs list
                <div>Count : {{ size }}</div>
                {% include "lbook/search.html.twig" %}
                {% set pagePath = "test_show" %}
                {% set objId = test.id %}
                {% include "lbook/double.paginator.html.twig" %}
            </h4>

            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
            </div>
        </div>

        <div class="widget-body" style="display: block;">
            <div class="widget-main no-padding">
                <table class="table table-bordered table-hover table-condensed">
                    <thead class="thin-border-bottom">
                    <tr>
                        <th><i class="ace-icon fa fa-caret-right blue"></i>Time</th>
                        <th><i class="ace-icon fa fa-caret-right blue"></i>Id</th>
                        <th class="hidden-480"><i class="ace-icon fa fa-caret-right blue"></i>Order</th>
                        <th class="hidden-480"><i class="ace-icon fa fa-caret-right blue"></i>Log</th>
                        <th class="hidden-480"><i class="ace-icon fa fa-caret-right blue"></i>Type</th>
                    </tr>
                    </thead>
                    <tbody class="searchable">
                    {% set break = false %}
                    {% set counter = 0 %}
                    {% for log in iterator if not break %}

                    {% if counter == 10000 %}
                        {% set break = true %}
                    {% endif %}
                    {% set counter = counter+1 %}
                        <tr class="{{ logTypeToTableColor(log.msgType) }}">
                            <td>{{ log.logTime | date('H:i:s') }}</td>
                            <td><a href="{{ path('log_show', { 'id': log.id }) }}">{{ log.id }}</a></td>
                            <td>{{ log.chain }}</td>
                            <td>{{ log.message | nl2br }}</td>
                            <td>{{ log.msgType }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.widget-main -->
        </div><!-- /.widget-body -->
    </div>

    <ul>
        <li>
            <a href="{{ path('test_index') }}">Back to the list</a>
        </li>
        {% if is_granted('edit', test.cycle.setup) %}
        <li>
            <a href="{{ path('test_edit', { 'id': test.id }) }}">Edit</a>
        </li>
        {% endif %}
        {% if is_granted('delete', test.cycle.setup) %}
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" onclick="return confirm('are u sure?')">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
