{% extends 'lbook/default/index.html.twig' %}

{% block title %}LogBook TestInfo{% endblock %}
{% block content %}


    <h5>LogBook TestInfo</h5>
    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td><strong>{{ log_book_test_info.name }}</strong></td>
                <th></th>
                <td></td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ log_book_test_info.path }}</td>
                <th>Count</th>
                <td>{{ log_book_test_info.logBookTests | length }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('log_book_test_info_index') }}">Back to list</a>
    {% include "log_book_test_info/list.html.twig" %}
{% endblock %}
{#    <a href="{{ path('log_book_test_info_edit', {'id': log_book_test_info.id}) }}">edit</a>#}
{#    {{ include('log_book_test_info/_delete_form.html.twig') }}#}