{% extends 'lbook/default/index.html.twig' %}
{% block title %}Test Events{% endblock %}
{% block content %}
    <h4>See statistic</h4>
    <a href="{{ path('event_cmu_stats') }}">Stats</a>
    <div style="width: 100%;text-align: center;">
    {% for blockName in blocks %}
        <a href="{{ path('event_cmu_index_block', { 'block': blockName }) }}">{{ blockName }} &nbsp;</a>
    {% else %}
        no blocks found
    {% endfor %}
    </div>
    <h4>Events list</h4>
    {% set pagePath = "event_cmu_index" %}
    {% if block != '' %}
        {% set pagePath = "event_cmu_index_block_page" %}
    {% endif %}
    {% include "lbook/paginator.html.twig" %}
    <table class="records_list table table-striped table-condensed table-hover" data-classes="table table-no-bordered"
           id="eventsMcuTable" data-pagination="true" data-search="true" data-toggle="table"
           data-toolbar="#eventsMcuTableToolBar"
           data-show-refresh="true"
           data-key-events="true"
           data-show-footer="true"
            {#data-show-toggle="true"#}
           data-show-export="true"
           data-show-columns="true"
           data-advanced-search="true"
           data-cookie="true" data-cookie-cookies-enabled="['bs.table.columns']" data-cookie-id-table="eventCmuIndex"
            {#data-id-table="advancedTable"#}
           data-page-size="20" data-page-list="[10, 15, 20, 50, 100, 200, 500, 1000, 2000, 5000, 10000, 20000, 50000]" data-sort-order="desc">
        <thead>
            <tr>
                <th data-sortable="true" data-switchable="false">ID</th>
                <th data-sortable="true" data-switchable="true">Type</th>
                <th data-sortable="true" data-switchable="true">Test</th>
                <th data-sortable="true" data-switchable="true">Block</th>
                <th data-sortable="true" data-switchable="true">Fault</th>
                <th data-sortable="true" data-switchable="true">Verdict</th>
                <th data-sortable="true" data-switchable="true">Suite</th>
                <th data-sortable="true" data-switchable="true">Platform</th>
                <th data-sortable="true" data-switchable="true">Chip</th>
                <th data-sortable="true" data-switchable="true">Branch</th>
{#                <th>A_value</th>#}
{#                <th>B_value</th>#}
                <th data-sortable="true" >A_time</th>
                <th data-sortable="true">B_time</th>
                <th data-sortable="false">CreatedAt</th>
{#                <th data-sortable="true">actions</th>#}
            </tr>
        </thead>
        <tbody>
        {% for test_event_cmu in iterator | slice(0, 100000)%}
            {% set testType = '' %}
            {% if test_event_cmu.test.testType == 'PRE_CYCLE' %}
                {% set testType = ' test-pre-cycle ' %}
            {% elseif test_event_cmu.test.testType == 'POST_CYCLE' %}
                {% set testType = ' test-post-cycle ' %}
            {% elseif test_event_cmu.test.testType == 'HEALTH_CHECK' %}
                {% set testType = ' test-health-cycle ' %}
            {% elseif test_event_cmu.test.testType == 'RECOVERY' %}
                {% set testType = ' test-recovery-cycle ' %}
            {% endif %}
            <tr class='{{ testType }}'>
                <td>{{ test_event_cmu.test.id }}</td>
                <td>{{ test_event_cmu.test.testType }}</td>
                <td><a href="{{ path('test_show_first', { 'id': test_event_cmu.test.id  }) }}">{{ test_event_cmu.test }}</a></td>
                <td>{{ test_event_cmu.block }}</td>
                <td>{{ test_event_cmu.fault }}</td>
                <td><span class="badge {{verdictToBadge(test_event_cmu.test.verdict)}}" title="{{ (test_event_cmu.test.failDescription|length > 0) ? test_event_cmu.test.failDescription : '' }}">{{ test_event_cmu.test.verdict }}</span></td>
                <td><a href="{{ path('cycle_suite_show_first', { 'cycle': test_event_cmu.test.suiteExecution.cycle.id, 'suite': test_event_cmu.test.suiteExecution.id }) }}">{{ test_event_cmu.test.suiteExecution }}</a></td>
                <td>{{ test_event_cmu.test.suiteExecution.platform }}</td>
                <td>{{ test_event_cmu.test.suiteExecution.chip }}</td>
                <td>{{ test_event_cmu.test.suiteExecution.branch }}</td>
{#                <td>{{ test_event_cmu.aValue }}</td>#}
{#                <td>{{ test_event_cmu.bValue }}</td>#}
                <td>{{ test_event_cmu.aTime }}</td>
                <td>{{ test_event_cmu.bTime }}</td>
                <td>{{ test_event_cmu.createdAt ? test_event_cmu.createdAt|date('Y-m-d H:i:s') : '' }}</td>
{#                <td>#}
{#                    <a href="{{ path('test_event_cmu_show', {'id': test_event_cmu.id}) }}">show</a>#}
{#                    <a href="{{ path('test_event_cmu_edit', {'id': test_event_cmu.id}) }}">edit</a>#}
{#                </td>#}
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{#    <a href="{{ path('test_event_cmu_new') }}">Create new</a>#}
{% endblock %}
