<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>{% block title %}LogBOOK{% endblock %}</title>
    {% set url = app.request.scheme ~'://' ~  app.request.httpHost ~  app.request.getBaseURL %}
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    {#<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">#}
    <link rel="icon" href="/Favicon-512x512-32x32.png" sizes="32x32" />
    <link rel="icon" href="/Favicon-512x512-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="/Favicon-512x512-180x180.png" />
    <!-- bootstrap & fontawesome -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url}}/assets/font-awesome/4.2.0/css/font-awesome.min.css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ asset('assets/bootstrap-table/1.12.1/bootstrap-table.min.css') }}">


    <!-- page specific plugin styles -->
    <!-- text fonts -->
    <link rel="stylesheet" href="{{url}}/assets/fonts/fonts.googleapis.com.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="{{url}}/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
    <!--[if lte IE 9] -->
    <link rel="stylesheet" href="{{url}}/assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
    <!-- <![endif]-->

    <!--[if lte IE 9] -->
    <link rel="stylesheet" href="{{url}}/assets/css/ace-ie.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css" />
    <!-- <![endif]-->

    <!--[if !IE]> -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- <![endif]-->

    <!-- inline styles related to this page -->
    <!-- Custom styles for this template -->
    <link href="{{url ~ asset('css/lbk.css') }}" rel="stylesheet">
    <link href="{{url ~ asset('css/css.css') }}" rel="stylesheet">
    <link href="{{url ~ asset('css/tm.css') }}" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet">
    <!-- ace settings handler -->
    <script src="{{url}}/assets/js/ace-extra.min.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script src="{{url}}/assets/js/html5shiv.min.js"></script>
    <script src="{{url}}/assets/js/respond.min.js"></script>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Bootstrap core JavaScript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {#<script src="{{app.request.scheme ~'://' ~ app.request.httpHost ~ asset('js/bootstrap.min.js') }}"></script>#}
    <script src="{{app.request.scheme ~'://' ~ app.request.httpHost ~ asset('js/lbk.js') }}"></script>
    <script src="{{app.request.scheme ~'://' ~ app.request.httpHost ~ asset('js/common.js') }}"></script>
    <script src="{{app.request.scheme ~'://' ~ app.request.httpHost ~ asset('js/tm.js') }}"></script>

    <!--[if IE]>
    <script type="text/javascript">
        window.jQuery || document.write("<script src='{{url}}/assets/js/jquery1x.min.js'>"+"<"+"/script>");
    </script>
    <![endif]-->
    {#<script type="text/javascript">#}
        {#if('ontouchstart' in document.documentElement) document.write("<script src='{{url}}/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");#}
    {#</script>#}
    <!-- <![endif]-->
    <!--[if IE] -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='{{url}}/assets/js/jquery1x.min.js'>"+"<"+"/script>");
    </script>
    <!-- <![endif]-->
    {#<script src="{{url}}/assets/js/bootstrap.min.js"></script>#}

    {#<script type="text/javascript">#}
        {#if('ontouchstart' in document.documentElement) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");#}
    {#</script>#}
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ asset('assets/bootstrap-table/1.12.1/bootstrap-table.min.js') }}"></script>
    {#<!-- Latest compiled and minified Locales -->#}
    {#<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>#}
    <!-- page specific plugin scripts -->
    <script src="{{url}}/assets/js/jquery-ui.custom.min.js"></script>
    <script src="{{url}}/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="{{url}}/assets/js/jquery.easypiechart.min.js"></script>
</head>
<body class="no-skin">
<script type="text/javascript">
    google.charts.load('current', {'name':'visualization','version':'1.1','packages':['corechart','bar','controls','timeline']});
</script>
{% block body %}

{% endblock %}
{#{% block javascripts %}{% endblock %}#}
<!-- basic scripts -->
<!-- page specific plugin scripts -->
<!-- ace scripts -->
<script src="{{url}}/assets/js/ace-elements.min.js"></script>
<script src="{{url}}/assets/js/ace.min.js"></script>
<script src="{{url}}/assets/js/clipboard.min.js"></script>
</body>
</html>
