{% extends 'lbook/default/index.html.twig' %}
{% block title %}LBOOK hosts{% endblock %}
{% block content %}
    <h1 style="margin-top: 0 !important;">Host list</h1>
    <div>Count : {{ size }}</div>
    {% include "lbook/search.html.twig" %}
    {% set pagePath = "hosts_index" %}
    <div class="row">
        <div class="col-sm-12 text-center">{% include "lbook/paginator.html.twig" %}</div>
    </div>
    <div class="row">
        <div id="hostToolBar">
        </div>
        {% apply spaceless %}
            <table class="records_list table table-striped table-condensed table-hover" data-classes="table table-no-bordered"
                   id="hostTable" data-pagination="true" data-search="true" data-toggle="table"
                   data-toolbar="#hostExecutionToolBar"
                   data-show-refresh="true"
                   data-key-events="true"
                    {#data-show-toggle="true"#}
                   data-show-export="true"
                   data-show-columns="true"
                   data-advanced-search="true"
                    {#data-id-table="advancedTable"#}
                    data-cookie="true" data-cookie-cookies-enabled="['bs.table.columns']" data-cookie-id-table="hostListIndex"
                   data-page-size="25" data-page-list="[10, 15, 20, 25, 30, 40, 50, 100, 500, 1000, 5000]" data-sort-order="desc">
                <thead>
                <tr>
                    <th data-sortable="true" title="Updated image" class="time_diff_icon" data-switchable="false">&nbsp;</th>
                    <th data-sortable="true" data-switchable="false">ID</th>
                    <th data-sorter="htmlSorter" data-sortable="true" title="Full Name" data-switchable="false">Name</th>
                    <th data-sortable="true" title="IP ADDR" data-switchable="true">IP</th>
                    <th data-sortable="true" title="CPU Count" data-switchable="true">CPU</th>
                    <th data-sorter="dataPercentSorter" data-sortable="true" title="CPU Usage" data-switchable="true">CPU %</th>
                    <th data-sorter="dataTitleIntSorter" data-sortable="true" title="Memory" data-switchable="true">Memory</th>
                    <th data-sorter="dataPercentSorter" data-sortable="true" title="Memory usage" data-switchable="true">Memory %</th>
                    <th data-sortable="true" title="Memory usage" data-switchable="true">System</th>
                    <th data-sorter="dataTitleDateSorter" data-sortable="true" title="Node Uptiime" data-switchable="true">Uptime</th>
                    <th data-sortable="true" title="Python Version usage" data-switchable="true">Python</th>
                    <th data-sorter="htmlSorter" data-field="Last Suite" data-sortable="true" title="Last Suitee">Last Suite</th>
                    <th data-sortable="true" title="Last Platform::Chip" data-switchable="true">Platform/Chp</th>
                    <th data-sorter="dataTitleIntSorter" data-sortable="true" title="Labels" data-switchable="true">Labels</th>
{#                    <th data-sortable="true" title="Tests count" data-switchable="true" data-visible="false">Tests</th>#}
{#                    <th data-sortable="true" title="Tests count which enabled" data-switchable="true" data-visible="true">Enabled</th>#}
{#                    <th data-sortable="true" title="Tests count in logbook" data-switchable="true" data-visible="true">Executed</th>#}
{#                    <th data-sortable="true" title="Total Executed: Tests and PreSuite and PostSuite count in logbook" data-switchable="true" data-visible="true">Tot.Exec</th>#}
{#                    <th data-sortable="true" data-sorter="dataPercentSorter" title="Pass Rate" data-switchable="true" data-visible="true">PR</th>#}
{#                    <th data-sortable="true" title="Pass Count" data-switchable="true" data-visible="true">P</th>#}
{#                    <th data-sortable="true" title="Fail Count" data-switchable="true" data-visible="true">F</th>#}
{#                    <th data-sortable="true" title="Error Count" data-switchable="true" data-visible="true">E</th>#}
{#                    <th data-sortable="true" title="Suite Summary" data-switchable="true" data-visible="false">Summary</th>#}
{#                    <th data-sortable="true" title="Suite UUID" data-switchable="true" data-visible="false">UUID</th>#}
{#                    <th data-sortable="true" title="Testing Level" data-switchable="true">Product Version</th>#}
{#                    <th data-sorter="dataTitleDateSorter" data-sortable="true" title="Update time">Updated</th>#}
                    <th data-sorter="dataTitleDateSorter" data-sortable="true" title="Last Seen time" data-visible="true">Last Seen</th>
{#                    <th data-sortable="true" title="Publish" data-switchable="true">Pub</th>#}
{#                    <th class="suite_list_options_column">Options</th>#}
                </tr>
                </thead>
                <tbody class="searchable">
                {% for host in hosts | slice(0, 10000)%}
                    <tr>
                        <td title="Updated {{ host.lastSeenAt|time_diff }}">
                            {% if date(host.lastSeenAt) > date('-5 minutes') %}
                                <i class="normal-icon ace-icon fa fa-clock-o red smaller-90"></i>
                            {% elseif date(host.lastSeenAt) > date('-30 minutes') %}
                                <i class="normal-icon ace-icon fa fa-clock-o pink smaller-80"></i>
                            {% elseif date(host.lastSeenAt) > date('-60 minutes') %}
                                <i class="normal-icon ace-icon fa fa-clock-o blue smaller-70"></i>
                            {% elseif date(host.lastSeenAt) > date('-12 hours') %}
                                <i class="normal-icon ace-icon fa fa-clock-o yellow smaller-70"></i>
                            {% endif %}
                        </td>
                        <td>{{ host.id }}</td>
                        <td><a title="{{ host }}" href="{{ path('host_show', { 'id': host.id }) }}">{{ host.name }}&nbsp;</a></td>
                        <td>{{ host.ip }}</td>
                        <td>{{ host.cpuCount }}</td>
                        <td><span data-percent="{{ host.cpuUsage }}">{{ host.cpuUsage }}%</span></td>
                        <td><span title="{{ (host.memoryTotal/1024)|round(1, 'floor') }} Gb total , {{ (host.memoryFree/1024)|round(1, 'floor') }} Gb free" data-title="{{ host.memoryTotal }}">{{ (host.memoryTotal/1024)|round(1, 'floor') }} Gb</span></td>
                        <td><span data-percent="{{ host.memoryFree }}" title="{{ host.memoryFree }}">{{ getPercentage(host.memoryTotal-host.memoryFree, host.memoryTotal, 1) }}%</span></td>
                        <td>{{ host.system }}/{{ host.systemRelease }}/{{ host.systemVersion }}</td>
                        <td><span data-title="{{ host.uptime|date('ymdHis') }}" title="Uptime at {{ host.uptime|date('d/m/Y H:i:s') }}">{{ host.uptime|time_diff}}</span></td>
                        <td>{{ host.pythonVersion }}</td>
                        <td>
                            {%  if host.lastSuite and host.lastSuite.id is defined %}
                                <a href="{{ path('suite_cycle_show', { 'id': host.lastSuite.id }) }}">{{ host.lastSuite.id }}:{{ host.lastSuite }}</a>
                            {% endif %}
                        </td>
                        <td>{{ host.targetLabel }}</td>
                        <td><span title="{{ host.targetLabels| sort | join('\n') }}" data-title="{{ host.targetLabels | length }}">{{ host.targetLabels | length }}</span></td>
{#                        <td><span data-title="{{ host.updatedAt|date('ymdHis') }}" title="Updated at {{ host.updatedAt|date('d/m/Y H:i:s') }}">{{ host.updatedAt|time_diff}}</span></td>#}
                        <td><span data-title="{{ host.lastSeenAt|date('ymdHis') }}" title="Created at {{ host.lastSeenAt|date('d/m/Y H:i:s') }}">{{ host.lastSeenAt|time_diff}}</span></td>
{#                        <td>{{ suiteExecution.publish }}</td>#}
{#                        <td>#}
{#                            <div class="hidden-sm hidden-xs action-buttons">#}
{#                                <i class="ace-icon fa fa-pencil bigger-130"></i>#}
{#                            </div>#}
{#                        </td>#}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endapply %}
    </div>

    <script>
        $(document).ready(function() {
            $( "#hostToolBar, button[name = 'refresh'].btn" ).bind( "click", function() {
                location.reload();
            });
            try {
                ace.settings.sidebar_collapsed(document.getElementById('sidebar'), true, true);
                ace.settings.sidebar_fixed(document.getElementById('sidebar'), true, true);
            } catch (e) {}
        });

    </script>
{% endblock %}
