{% extends 'lbook/default/index.html.twig' %}

{% block title %}LogBook HOST {{ host }}{% endblock %}

{% block content %}
    <h3><a href="{{ path('hosts_index') }}">&lt;&lt;&lt;Hosts&lt;&lt;&lt;</a>&nbsp;&nbsp;&nbsp; Host [{{ host.id }}] : {{ host.name }} : {{ host.ip }}</h3>
    <table class="table">
        <tbody>
        <tr>
            <th>CPU count / CPU load</th>
            <td>{{ host.cpuCount }} / <strong>{{ host.cpuUsage }} %</strong></td>
        </tr>
        <tr>
            <th>Memory Total/ Free / Usage</th>
            <td>{{ (host.memoryTotal/1024)|round(1, 'floor') }} Gb / {{ (host.memoryFree/1024)|round(1, 'floor') }} Gb / <strong>{{ getPercentage(host.memoryTotal-host.memoryFree, host.memoryTotal, 2) }} % </strong> &nbsp;&nbsp;- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;<small>{{ host.memoryTotal }} Mb / {{ host.memoryFree }}  Mb</small></td>
        </tr>
        <tr>
            <th>Last Target Label (Platform::Chip)</th>
            <td>{{ host.targetLabel }}</td>
        </tr>
        <tr>
            <th>Last Target Labels (Platforms and Chips)</th>
            <td title="{{ host.targetLabels| sort | join('\n') }}">Total: <strong>{{ host.targetLabels | length }}</strong>
            <br/>{{ host.targetLabels| sort | join('\n') | nl2br }}</td>
        </tr>
        <tr>
            <th>Uptime</th>
            <td><strong>{{ host.uptime|time_diff}}</strong> / {{ host.uptime|date('Y/m/d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Last Seen</th>
            <td><strong style="color: #1e347b;">{{ host.lastSeenAt|time_diff}}</strong> / {{ host.lastSeenAt|date('Y/m/d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Last Suite</th>
            <td>
                {%  if host.lastSuite and host.lastSuite.id is defined %}
                    <a href="{{ path('suite_cycle_show', { 'id': host.lastSuite.id }) }}">{{ host.lastSuite.id }}:{{ host.lastSuite }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>System</th>
            <td><strong>{{ host.system }}</strong> / {{ host.systemRelease }} / {{ host.systemVersion }}</td>
        </tr>
        <tr>
            <th>Python</th>
            <td>{{ host.pythonVersion }}</td>
        </tr>
        <tr>
            <th>User</th>
            <td>{{ host.userName }}</td>
        </tr>
        </tbody>
    </table>
    {% set pagePath = "host_show" %}
    {% set objId = host.id %}
    {% include "lbook/double.paginator.html.twig" %}
    <div>Lasr Suites in this host, Count : {{ size }}</div>
    {% include "lbook/search.html.twig" %}
    {% include "lbook/suite/list.html.twig" %}

    {#    <table class="records_list table table-striped table-condensed table-hover" data-classes="table table-no-bordered"#}
{#           data-pagination="true" data-toggle="table"#}
{#           data-page-size="2000" data-page-list="[20, 50, 100, 500, 1000, 2000 'ALL']" data-sort-order="desc">#}
{#        <thead>#}
{#        <tr>#}
{#            <th data-sortable="true"></th>#}
{#            <th data-sorter="htmlSorter" data-sortable="true">Id</th>#}
{#            <th data-sorter="htmlSorter" data-sortable="true">Setup</th>#}
{#            <th data-sorter="htmlSorter" data-sortable="true">Name</th>#}
{#            <th data-sortable="true">Tests</th>#}
{#            <th data-sortable="true">Build</th>#}
{#            <th data-sorter="htmlSorter" data-sortable="true">Pass Rate</th>#}
{#            <th data-sortable="true">Controller</th>#}
{#            <th data-sortable="true">DUT</th>#}
{#            <th data-sortable="true">Uploader</th>#}
{#            <th data-sortable="true">Period</th>#}
{#            <th data-sortable="true">Test time</th>#}
{#            <th data-sorter="htmlSorter" data-sortable="true">Updated</th>#}
{#            <th>Options</th>#}
{#        </tr>#}
{#        </thead>#}
{#        <tbody class="searchable">#}
{#        {% for cycle in iterator | slice(0, 10000) %}#}
{#            <tr>#}
{#                <td>#}
{#                    {% if date(cycle.updatedAt) > date('-60minutes') %}#}
{#                        <i class="normal-icon ace-icon fa fa-clock-o pink bigger-130" title="Updated {{ cycle.updatedAt|time_diff }}"></i>#}
{#                    {% endif %}#}
{#                </td>#}
{#                <td><a href="{{ path('cycle_show_first', { 'id': cycle.id }) }}">{{ cycle.id }}</a></td>#}
{#                <td title="{{ cycle.setup.name }}"><a href="{{ path('setup_show_first', { 'id': cycle.setup.id }) }}">{{ shortString(cycle.setup.name, 35, "...") }}</a></td>#}
{#                <td title="{{ cycle.name }}"><a href="{{ path('cycle_show_first', { 'id': cycle.id }) }}">{{ shortString(cycle.name, 35, "...") }}</a></td>#}
{#                <td>{{ cycle.testsCount }}</td>#}
{#                <td title="{{ cycle.build }}">{{ shortString(cycle.build, 30) }}</td>#}
{#                <td><span class="{{ passRateToColor(cycle.passRate) }}">{{ cycle.passRate }}%</span></td>#}
{#                <td>{{ cycle.controller }}</td>#}
{#                <td>{{ cycle.dut }}</td>#}
{#                <td>{{ cycle.targetUploader }}</td>#}
{#                <td>{{ cycle.period |  ExecutionTimeGeneric}}</td>#}
{#                <td>{{ cycle.testsTimeSum |  ExecutionTimeGeneric}}</td>#}
{#                <td>#}
{#                    <span title="Updated [{{ cycle.updatedAt |date('d/m/Y H:i:s') }}] {{ cycle.updatedAt|time_diff }}">#}
{#                        {{ cycle.updatedAt |date('d/m H:i:s') }}#}
{#                    </span>#}
{#                </td>#}
{#                <td>#}
{#                    <div class="hidden-sm hidden-xs action-buttons">#}
{#                        <a class="blue" href="{{ path('cycle_show_first', { 'id': cycle.id }) }}" title="Show">#}
{#                            <i class="ace-icon fa fa-search-plus bigger-130"></i>#}
{#                        </a>#}
{#                        #}{#{% if is_granted('edit', setup) %}#}
{#                        #}{#<a class="green" href="{{ path('cycle_edit', { 'id': cycle.id }) }}" title="Edit">#}
{#                        #}{#<i class="ace-icon fa fa-pencil bigger-130"></i>#}
{#                        #}{#</a>#}
{#                        #}{#{% endif %}#}
{#                        #}{#<a class="red" href="#" title="Delete">#}
{#                        #}{#<i class="ace-icon fa fa-trash-o bigger-130"></i>#}
{#                        #}{#</a>#}
{#                    </div>#}
{#                </td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}

    
    {#{% set log_book_build = build %}#}
    {#{{ include('lbook/build/_delete_form.html.twig') }}#}
{% endblock %}