{% extends 'lbook/default/index.html.twig' %}
{% block title %}LogBook Cycle Report{% endblock %}
{% block content %}

<table style="width: 100%;">
    <tr>
        <td>
            <h3>Report:{{ log_book_cycle_report.id }}</h3>
        </td>
        <td style="width: 10%;">
            <div class="print-disable">
            {% if app.user.roles is defined and ('ROLE_SUPER_ADMIN' in app.user.roles or app.user == log_book_cycle_report.creator ) %}
                {% if not log_book_cycle_report.locked %}
                    <button id="lockReport" class="btn btn-app btn-yellow btn-sm"><i class="ace-icon fa fa-lock bigger-160"></i>Lock</button>
                {% else %}
                    <button id="unLockReport" class="btn btn-app btn-light btn-sm"><i class="ace-icon fa fa-unlock bigger-160"></i>Unlock</button>
                {% endif %}
            {% endif %}
            </div>
        </td>
    </tr>
</table>

<table style="width: 100%">
    <tr>
        <td style="width: 70%">
            <table class="table" style="width: 100%;">
                <tbody>
                <tr>
                    <th>Name</th>
                    <td class="align-center"><strong class="font32 orange">{{ log_book_cycle_report.name }}</strong></td>
                </tr>

                <tr>
                    <th>Description</th>
                    <td class="font16">{{ log_book_cycle_report.description }}</td>
                </tr>

                <tr>
                    <th>Product Version</th>
                    <td class="font16">{{ log_book_cycle_report.build }}</td>
                </tr>
                {% if log_book_cycle_report.cycles | length > 0%}

                <tr>
                    <th>Date</th>
                    <td class="font18">{{ log_book_cycle_report.cycles[0].timeStart | date('Y-m-d H:i')}}</td>
                </tr>
                    {% if log_book_cycle_report.cycles[0].suiteExecution[0] is defined %}
                        <tr>
                            <th>Branch</th>
                            <td class="font18">{{ log_book_cycle_report.cycles[0].suiteExecution[0].branch }}</td>
                        </tr>
                        <tr>
                            <th>Level</th>
                            <td class="font18">{{ log_book_cycle_report.cycles[0].suiteExecution[0].testingLevel }}</td>
                        </tr>
                    {% endif %}
                <tr>
                    <th>Setup/Cycle</th>
                    <td>
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 50%;"><a class="font16" href="{{ path('setup_show_first', { 'id': log_book_cycle_report.cycles[0].setup.id }) }}">{{ log_book_cycle_report.cycles[0].setup.name }}</a></td>
                                <td><a class="font16" href="{{ path('cycle_show_first', { 'id': log_book_cycle_report.cycles[0].id }) }}">{{ log_book_cycle_report.cycles[0].name }}</a></td>
                            </tr>
                        </table>
                </tr>
{#                <tr class="print-disable">#}
{#                    <th></th>#}
{#                    <td><a href="{{ path('setup_show_first', { 'id': log_book_cycle_report.cycles[0].setup.id }) }}">{{ log_book_cycle_report.cycles[0].setup.name }}</a></td>#}
{#                </tr>#}
                {% endif %}
                <tr>
                    <th>Verdicts</th>
                    <td>
{#                        <table style="width: 100%;font-weight: bolder;">#}
{#                            <tr>#}
{#                                <td style="background-color: #ebf4f8;width: 24%;">Total</td>#}
{#                                <td style="background-color: #82af6f;width: 19%;">Pass</td>#}
{#                                <td style="background-color: #d15b47;width: 19%;">Fail</td>#}
{#                                <td style="background-color: #f89406;width: 19%;">Error</td>#}
{#                                <td style="background-color: #3a87ad;width: 19%;">Other</td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>#}
                                    <div class="center">
                                        <span class="btn btn-app btn-app btn-light">
                                            <span class="line-height-1 bigger-170 green">{{ log_book_cycle_report.testsTotalEnabledInSuites }}</span><br>
                                            <span class="line-height-1 smaller-90">Enabled</span>
                                        </span>
                                        <span class="btn btn-app btn-app btn-light">
                                            <span class="line-height-1 bigger-170 brown">{{ getPercentage(log_book_cycle_report.testsTotal, log_book_cycle_report.testsTotalEnabledInSuites ) | round(0, 'floor')}}%</span><br>
                                            <span class="line-height-1 smaller-80">Ratio</span>
                                        </span>
                                        <span class="btn btn-app btn-app btn-light">
                                            <span class="line-height-1 bigger-160 blue">{{ log_book_cycle_report.testsTotal }}</span><br>
                                            <span class="line-height-1 smaller-80">Total</span>
                                        </span>
                                        <span class="btn btn-app btn-app btn-success radius-4">
                                            <span class="line-height-1 bigger-160">{{ log_book_cycle_report.testsPass }}</span><br>
                                            <span class="line-height-1 smaller-90"> Pass </span>
                                        </span>
                                        <span class="btn btn-app btn-app btn-pink radius-4">
                                            <span class="line-height-1 bigger-160">{{ log_book_cycle_report.testsFail }}</span><br>
                                            <span class="line-height-1 smaller-90"> Fail </span>
                                        </span>
                                        <span class="btn btn-app btn-app btn-yellow radius-4">
                                            <span class="line-height-1 bigger-160">{{ log_book_cycle_report.testsError }}</span><br>
                                            <span class="line-height-1 smaller-90"> Error </span>
                                        </span>
                                        <span class="btn btn-app btn-app btn-primary no-hover radius-4">
                                            <span class="line-height-1 bigger-160">{{ log_book_cycle_report.testsOther }}</span><br>
                                            <span class="line-height-1 smaller-90"> Other </span>
										</span>
                                    </div>
{#                                </td>#}
{#                                <td style="background-color: #ebf4f8;text-align: center;">#}
{#                                    <span class="label label-xlg label-primary arrowed arrowed-right">{{ log_book_cycle_report.testsTotal }}</span>#}
{#                                    </td>#}
{#                                <td style="font-weight: bolder">{{ log_book_cycle_report.testsPass }}</td>#}
{#                                <td>{{ log_book_cycle_report.testsFail }}</td>#}
{#                                <td>{{ log_book_cycle_report.testsError }}</td>#}
{#                                <td>{{ log_book_cycle_report.testsOther }}</td>#}
{#                            </tr>#}
{#                        </table>#}
                    </td>
                </tr>
                <tr>
                    <th>Mode</th>
                    <td><span class="font28 brown">{{ log_book_cycle_report.mode }}</span></td>
                </tr>
                <tr>
                    <th>Platforms</th>
                    <td>
{#                        <div class="right align-right">{{ log_book_cycle_report.platforms | length }}</div>#}
                        {{ log_book_cycle_report.platforms|map((x) => '<span class="label label-success label-white label-xlg middle" style="color:' ~ stringToColor(x ~ log_book_cycle_report.platforms | length ~ (101.11 * (x | length)) ~ x) ~ '!important;">' ~ x ~ '</span>') | join(' ') | raw }}</td>
                </tr>
                <tr>
                    <th>Chips</th>
                    <td>
                        {{ log_book_cycle_report.chips|map((x) => '<span class="label label-purple label-white middle" style="color:' ~ stringToColor(x ~ log_book_cycle_report.chips | length ~ x | length ~ x) ~ '!important;">' ~ x ~ '</span>') | join(' ') | raw }}</td>
                </tr>
                <tr>
                    <th>Suites</th>
                    <td><span class="font38 green">{{ log_book_cycle_report.suitesCount }}</span></td>
                </tr>
                {% if log_book_cycle_report.defects | length %}
                <tr>
                    <th>Related Defects</th>
                    <td><span class="font38 red2">{{ log_book_cycle_report.defects | length }}</span></td>
                </tr>
                {% endif %}
                <tr>
                    <th>Components</th>
                    <td>
                        {{ log_book_cycle_report.components|map((x) => '<span class="label label-info label-white middle" style="color:' ~ stringToColor(x ~ log_book_cycle_report.components | length ~ x | length ~ x) ~ '!important;">' ~ x ~ '</span>') | join(' ') | raw }}</td>
                </tr>
                <tr>
                    <th>Time</th>
                    <td class="font14">
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 50%;">Period : {{ log_book_cycle_report.period |  executionTimeGenericShort }}</td>
                                <td style="width: 50%;">Duration {{ log_book_cycle_report.duration |  executionTimeGenericShort }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th>URL</th>
                    <td>
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 50%;"><strong>{{ app.request.uri }}</strong></td>
                                <td style="width: 50%;">
                                    Created:{{ log_book_cycle_report.createdAt ? log_book_cycle_report.createdAt|date('Y-m-d H:i:s') : '' }}
                                    &nbsp;&nbsp; Updated:
                                    {{ log_book_cycle_report.updatedAt ? log_book_cycle_report.updatedAt|date('Y-m-d H:i:s') : '' }}
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
                </tbody>
            </table>

        </td>
        <td style="width: 30%" ><div id="piechart_verdicts" style="width: 700px; height: 600px;" class="prettyprint"></div></td>
    </tr>
</table>
{#    <div class="row">#}
{#        <div class="space-6"></div>#}

{#        <div class="col-sm-7 infobox-container">#}
{#            <div class="infobox infobox-green">#}
{#                <div class="infobox-icon">#}
{#                    <i class="ace-icon fa-check-square-o"></i>#}
{#                </div>#}

{#                <div class="infobox-data">#}
{#                    <span class="infobox-data-number">{{ log_book_cycle_report.testsPass  + 10 }}</span>#}
{#                    <div class="infobox-content">Pass</div>#}
{#                </div>#}

{#                <div class="stat stat-success">8%</div>#}
{#            </div>#}

{#            <div class="infobox infobox-red">#}
{#                <div class="infobox-icon">#}
{#                    <i class="ace-icon fa fa-flask"></i>#}
{#                </div>#}

{#                <div class="infobox-data">#}
{#                    <span class="infobox-data-number">{{ log_book_cycle_report.testsFail  + 10 }}</span>#}
{#                    <div class="infobox-content">Fail</div>#}
{#                </div>#}
{#            </div>#}

{#            <div class="infobox infobox-blue">#}
{#                <div class="infobox-icon">#}
{#                    <i class="ace-icon fa fa-twitter"></i>#}
{#                </div>#}

{#                <div class="infobox-data">#}
{#                    <span class="infobox-data-number">11</span>#}
{#                    <div class="infobox-content">new followers</div>#}
{#                </div>#}

{#                <div class="badge badge-success">#}
{#                    +32%#}
{#                    <i class="ace-icon fa fa-arrow-up"></i>#}
{#                </div>#}
{#            </div>#}

{#            <div class="infobox infobox-pink">#}
{#                <div class="infobox-icon">#}
{#                    <i class="ace-icon fa fa-shopping-cart"></i>#}
{#                </div>#}

{#                <div class="infobox-data">#}
{#                    <span class="infobox-data-number">8</span>#}
{#                    <div class="infobox-content">new orders</div>#}
{#                </div>#}
{#                <div class="stat stat-important">4%</div>#}
{#            </div>#}



{#            <div class="infobox infobox-orange2">#}
{#                <div class="infobox-chart">#}
{#                    <span class="sparkline" data-values="196,128,202,177,154,94,100,170,224"></span>#}
{#                </div>#}

{#                <div class="infobox-data">#}
{#                    <span class="infobox-data-number">6,251</span>#}
{#                    <div class="infobox-content">pageviews</div>#}
{#                </div>#}

{#                <div class="badge badge-success">#}
{#                    7.2%#}
{#                    <i class="ace-icon fa fa-arrow-up"></i>#}
{#                </div>#}
{#            </div>#}

{#            <div class="infobox infobox-blue2">#}
{#                <div class="infobox-progress">#}
{#                    <div class="easy-pie-chart percentage" data-percent="42" data-size="46">#}
{#                        <span class="percent">42</span>%#}
{#                    </div>#}
{#                </div>#}

{#                <div class="infobox-data">#}
{#                    <span class="infobox-text">traffic used</span>#}

{#                    <div class="infobox-content">#}
{#                        <span class="bigger-110">~</span>#}
{#                        58GB remaining#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

{#            <div class="space-6"></div>#}

{#            <div class="infobox infobox-green infobox-small infobox-dark">#}
{#                <div class="infobox-progress">#}
{#                    <div class="easy-pie-chart percentage" data-percent="61" data-size="39">#}
{#                        <span class="percent">61</span>%#}
{#                    </div>#}
{#                </div>#}

{#                <div class="infobox-data">#}
{#                    <div class="infobox-content">Task</div>#}
{#                    <div class="infobox-content">Completion</div>#}
{#                </div>#}
{#            </div>#}

{#            <div class="infobox infobox-blue infobox-small infobox-dark">#}
{#                <div class="infobox-chart">#}
{#                    <span class="sparkline" data-values="3,4,2,3,4,4,2,2"></span>#}
{#                </div>#}

{#                <div class="infobox-data">#}
{#                    <div class="infobox-content">Earnings</div>#}
{#                    <div class="infobox-content">$32,000</div>#}
{#                </div>#}
{#            </div>#}

{#            <div class="infobox infobox-grey infobox-small infobox-dark">#}
{#                <div class="infobox-icon">#}
{#                    <i class="ace-icon fa fa-download"></i>#}
{#                </div>#}

{#                <div class="infobox-data">#}
{#                    <div class="infobox-content">Downloads</div>#}
{#                    <div class="infobox-content">1,205</div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

{#        <div class="vspace-12-sm"></div>#}

{#        <div class="col-sm-5">#}
{#            <div class="widget-box">#}
{#                <div class="widget-header widget-header-flat widget-header-small">#}
{#                    <h5 class="widget-title">#}
{#                        <i class="ace-icon fa fa-signal"></i>#}
{#                        Verdicts#}
{#                    </h5>#}

{#                    <div class="widget-toolbar no-border">#}
{#                        <div class="inline dropdown-hover">#}
{#                            <button class="btn btn-minier btn-primary">#}
{#                                This Week#}
{#                                <i class="ace-icon fa fa-angle-down icon-on-right bigger-110"></i>#}
{#                            </button>#}

{#                            <ul class="dropdown-menu dropdown-menu-right dropdown-125 dropdown-lighter dropdown-close dropdown-caret">#}
{#                                <li class="active">#}
{#                                    <a href="#" class="blue">#}
{#                                        <i class="ace-icon fa fa-caret-right bigger-110">&nbsp;</i>#}
{#                                        This Week#}
{#                                    </a>#}
{#                                </li>#}

{#                                <li>#}
{#                                    <a href="#">#}
{#                                        <i class="ace-icon fa fa-caret-right bigger-110 invisible">&nbsp;</i>#}
{#                                        Last Week#}
{#                                    </a>#}
{#                                </li>#}

{#                                <li>#}
{#                                    <a href="#">#}
{#                                        <i class="ace-icon fa fa-caret-right bigger-110 invisible">&nbsp;</i>#}
{#                                        This Month#}
{#                                    </a>#}
{#                                </li>#}

{#                                <li>#}
{#                                    <a href="#">#}
{#                                        <i class="ace-icon fa fa-caret-right bigger-110 invisible">&nbsp;</i>#}
{#                                        Last Month#}
{#                                    </a>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="widget-body">#}
{#                    <div class="widget-main">#}
{#                        <div id="piechart_verdicts" style="width: 900px; height: 500px;"></div>#}

{#                        <div class="hr hr8 hr-double"></div>#}

{#                        <div class="clearfix">#}
{#                            <div class="grid3">#}
{#															<span class="grey">#}
{#																<i class="ace-icon fa fa-facebook-square fa-2x blue"></i>#}
{#																&nbsp; likes#}
{#															</span>#}
{#                                <h4 class="bigger pull-right">1,255</h4>#}
{#                            </div>#}

{#                            <div class="grid3">#}
{#															<span class="grey">#}
{#																<i class="ace-icon fa fa-twitter-square fa-2x purple"></i>#}
{#																&nbsp; tweets#}
{#															</span>#}
{#                                <h4 class="bigger pull-right">941</h4>#}
{#                            </div>#}

{#                            <div class="grid3">#}
{#															<span class="grey">#}
{#																<i class="ace-icon fa fa-pinterest-square fa-2x red"></i>#}
{#																&nbsp; pins#}
{#															</span>#}
{#                                <h4 class="bigger pull-right">1,050</h4>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div><!-- /.widget-main -->#}
{#                </div><!-- /.widget-body -->#}
{#            </div><!-- /.widget-box -->#}
{#        </div><!-- /.col -->#}
{#    </div><!-- /.row -->#}

    <div class="hr hr32 hr-dotted"></div>

    {% if log_book_cycle_report.reportNotes %}
    <div class="well well-lg">
        <h4 class="blue">Report Notes</h4>
        {% apply markdown_to_html %}{{ log_book_cycle_report.reportNotes }}{% endapply %}
    </div>
    <div class="hr hr32 hr-dotted"></div>
    {% endif %}

    {% if log_book_cycle_report.cyclesNotes %}
    <div class="well well-lg">
        <h4 class="blue">Cycle Notes</h4>
        {% apply markdown_to_html %}{{ log_book_cycle_report.cyclesNotes }}{% endapply %}
    </div>
    <div class="hr hr20 hr-double"></div>
    {% endif %}


    <div class="well well-lg">
        <h4 class="blue">Suites</h4>
        Total suites count<strong>{{ suites | length }}</strong>
    </div>
    <table class="records_list table table-striped table-condensed">
        <thead>
        <tr>
            <th class="print-disable">ID</th>
            <th title="Name/UUID">Name</th>
{#            <th>Summary</th>#}
            <th title="Enabled Tests/Total Tests only executed [In title total tests count in suite include disabled, and total disabled]">Tests</th>
            <th title="Pass">Pass</th>
            <th title="Pass Rate">Pass Rate</th>
            <th title="Fail">Fail</th>
            <th title="Fail Rate">Fail Rate</th>
            <th title="Testing Level">Level</th>
            <th>Platform</th>
            <th>Chip</th>
            <th title="Build Flavor">BF</th>
{#            <th title="Test Environments">ENV</th>#}
            <th title="Suite Host Name">Host</th>
            <th title="Owners">Owners</th>
            <th>Component</th>

            {#            <th title="Closed : X= Closed; O= Open">X</th>#}
{#            <th title="JIRA KEY/Publish">JIRA</th>#}
        </tr>
        </thead>
        <tbody>
        {% set builder = '' %}
        {% set tests_enabled = 0 %}
        {% set tests_disabled = 0 %}
        {% set tests_executed = 0 %}
        {% set tests_pass = 0 %}
        {% set suite_progress = 0 %}
        {% set suite_done = 0 %}
        {% for suite in suites | slice(0, 2000) %}
            {% set suite_css = '' %}
            {% set tests_enabled = tests_enabled + suite.testsCountEnabled %}
            {% set tests_disabled = tests_disabled + suite.testsCountDisabled  %}
            {% set tests_executed = tests_executed + suite.totalExecutedTests  %}
            {% set tests_pass = tests_pass + suite.passCount  %}
            {% if not suite.closed %}
                {% set suite_css = 'suite_wip' %}
                {% set suite_progress = suite_progress + 1  %}
            {% else %}
                {% set suite_done = suite_done + 1  %}
            {% endif %}
            {% set jira_test_set_url = '' %}
            {% if suite.publish and suite.jiraKey | length > 3 %}
                {% set jira_domain = parseDomain(suite.testSetUrl) %}
                {% if jira_domain | length > 0 %}
                    {%  set jira_test_set_url = 'http://' ~  jira_domain ~ '/browse/' ~ suite.jiraKey %}
                {% endif %}
            {% endif %}
            <tr class="{{ suite_css }}">
                <td class="print-disable"><a href="{{ path('suite_show', {'id': suite.id}) }}" target="_blank">{{ suite.id }}</a></td>
                <td title="{{ suite.uuid }}"><a href="{{ path('cycle_suite_show_first', {'cycle': suite.cycle.id, 'suite': suite.id}) }}">{{ suite.name }}</a></td>
{#                <td><a title="{{ suite.uuid }}" href="{{ path('cycle_suite_show_first', {'cycle': suite.cycle.id, 'suite': suite.id}) }}">{{ suite.summary }}</a></td>#}
                <td title="Tests count in suite {{ suite.testsCount }}, disabled {{ suite.testsCountDisabled }}">{{ suite.testsCountEnabled }}/{{ suite.totalExecutedTests }}</td>
                <td><span class="{{ passRateToColor(suite.passRate) }}" data-percent="{{ suite.passCount }}">{{ suite.passCount }}</td>
                <td><span class="{{ passRateToColor(suite.passRate) }}" data-percent="{{ suite.passRate }}">{{ suite.passRate  | round(0, 'floor') }}%</td>
                <td><span class="{{ passRateToColor(100 - suite.failRate) }}" data-percent="{{ suite.failCount }}">{{ suite.failCount }}</td>
                <td><span class="{{ passRateToColor(100 - suite.failRate) }}" data-percent="{{ suite.failRate }}">{{ suite.failRate | round(0, 'ceil')}}%</td>
                <td>{{ suite.testingLevel }}</td>
                <td>{{ suite.platform }}</td>
                <td>{{ suite.chip }}</td>
                <td>{{ suite.buildType }}</td>
{#                <td>{{ suite.testEnvironments |join(', ')}}</td>#}
                <td>
                    {% if suite.host and suite.host.ip is defined %}
                        <span title="{{ suite.host.ip }}"><a href="{{ path('host_show', {'id': suite.host.id}) }}" target="_blank">{{ suite.host.name }}</a></span>
                    {% endif %}
                </td>
                <td>{{ suite.owners | join(', ') }}</td>
                <td>{{ suite.components |join(', ')}}</td>

                {#                <td>{{ suite.closed ? 'X':'O' }}</td>#}
{#                <td>{% if suite.jiraKey | length < 3 %}{{ suite.publish }}{% else %}<a href="{{ jira_test_set_url }}" class="font8" target="_blank">{{ suite.jiraKey }}</a>{% endif %}</td>#}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th title="Total suites count">
                <strong>{{ suites | length }}
{#                    {{ log_book_cycle_report.suitesCount }}#}
                </strong>
            </th>
            <th class="print-disable"></th>
            <th></th>
            <th title="Tests only : Enabled/Executed/Disabled">{{ tests_enabled }}/{{ tests_executed }}/{{ tests_disabled }}</th>
            <th>{{ tests_pass }}</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Host</th>
{#            <th></th>#}
            <th></th>
            <th></th>
            {#            <th></th>#}
        </tr>
        </tfoot>
    </table>
    <br/>
    <div class="well well-lg">
        <h4 class="blue">Suite Notes</h4>
        {% apply markdown_to_html %}{{ log_book_cycle_report.suitesNotes }}{% endapply %}
    </div>
    <div class="hr hr20 hr-double"></div>

    {% if log_book_cycle_report.defects | length %}
    <h5>Defects section [Total : {{ log_book_cycle_report.defects | length }}]</h5>
    <table class="records_list table table-striped table-condensed">
        <thead>
        <tr>
            <th class="print-disable">ID</th>
            <th title="">KEY</th>
            <th title="Name">Name</th>
            <th title="Version Found">Version</th>
            <th title="Priority">Priority</th>
            <th title="Status">Status</th>
            <th title="Assignee">Assignee</th>
            <th title="Updated">Updated</th>
{#            <th title="Created">Created</th>#}
            <th class="print-disable" title="Age - represents number of days">Age</th>
        </tr>
        </thead>
        <tbody>
        {% for defect in log_book_cycle_report.defects | slice(0, 2000) %}
            <tr>
                <td class="print-disable"><a href="{{ path('log_book_defect_show', {'id': defect.id}) }}" target="_blank">{{ defect.id }}</a></td>
                <td><a target="_blank" href="{{ jiraKeyToUrl(defect.extId) }}">{{ defect.extId }}</a></td>
                <td>{{ defect.name }}</td>
                <td>{{ defect.extVersionFound }}</td>
                <td>{{ defect.priority }}</td>
                <td>{{ defect.statusString }}</td>
                <td>{{ defect.extAssignee }}</td>
                {% if defect.isExternal %}
                    {% set updated = defect.extUpdatedAt %}
                    {% set created = defect.extCreatedAt %}
                {% else %}
                    {% set updated = defect.updatedAt %}
                    {% set created = defect.createdAt %}
                {% endif %}
                <td class="print-disable" title="{{ updated | date('Y-m-d H:i') }}">{{ updated | time_diff }}</td>
{#                <td title="{{ created | date('Y-m-d H:i') }}">{{ created | time_diff }}</td>#}
                <td class="print-disable">{{ defect.age }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th></th>
            <th class="print-disable"></th>
            <th class="print-disable"></th>
            <th class="print-disable"></th>
            <th class="print-disable"></th>
            <th class="print-disable"></th>
            <th class="print-disable"></th>
            <th class="print-disable"></th>
            <th class="print-disable"></th>
{#            <th class="print-disable"></th>#}
            <th class="print-disable"></th>
        </tr>
        </tfoot>
    </table>
    {% endif %}

    {% if log_book_cycle_report.bugsNotes %}
    <div class="well well-lg">
        <h4 class="blue">Bugs Notes</h4>
        {% apply markdown_to_html %}{{ log_book_cycle_report.bugsNotes }}{% endapply %}
    </div>
    <div class="hr hr20 hr-double"></div>
    {% endif %}


    <div class="well well-lg">
        <h4 class="blue">Failed tests</h4>
        count {{ failed_tests | length }}, tests Verdict != PASS == {{ testsNotPass | length }}
    </div>
    {% include "lbook/cycle/tests_not_pass.html.twig" %}
    <div class="well well-lg">
        <h4 class="blue">Tests Notes</h4>
        {% apply markdown_to_html %}{{ log_book_cycle_report.testsNotes }}{% endapply %}
    </div>
    <div class="hr hr20 hr-double"></div>



    <div class="print-disable">
        <a href="{{ path('log_book_cycle_report_index') }}">back to list</a> &nbsp;&nbsp;&nbsp;&nbsp;
        {% if app.user.roles is defined and ('ROLE_FILTER_CREATOR' in app.user.roles or 'ROLE_SUPER_ADMIN' in app.user.roles or app.user == log_book_cycle_report.creator ) %}
            <a href="{{ path('log_book_cycle_report_edit', {'id': log_book_cycle_report.id}) }}">edit</a>
            <br/>
            {{ include('log_book_cycle_report/_delete_form.html.twig') }}
            <br/>
        {% endif %}
    </div>

    <script>
        $(document).ready(function() {


            $( "#cycleEditForm form" ).css( "width", "800px" );
            $( "#cycleEditForm input[type = 'text']" ).css( "width", "600px" );
            $( "#cycleEditForm select" ).css( "width", "600px" );
            $( "#cycleEditForm label" ).css( "width", "200px" );
            {% if app.user.roles is defined and ('ROLE_SUPER_ADMIN' in app.user.roles or app.user == log_book_cycle_report.creator ) %}
                {% if not log_book_cycle_report.locked %}
                    $( "#lockReport" ).bind( "click", function() {
                        var status = confirm("Are you sure about to lock the report[{{ log_book_cycle_report.name }}]?");
                        if (status === true) {
                            window.location.href = "{{ path('log_book_cycle_report_lock', { 'id': log_book_cycle_report.id }) }}";
                        } else {
                            return false;
                        }
                    });
                {% else %}
                    $( "#unLockReport" ).bind( "click", function() {
                        var status = confirm("Are you sure about to Unlock the report[{{ log_book_cycle_report.name }}]?");
                        if (status === true) {
                            window.location.href = "{{ path('log_book_cycle_report_unlock', { 'id': log_book_cycle_report.id }) }}";
                        } else {
                            return false;
                        }
                    });
                {% endif %}
            {% endif %}


            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawVerdictsChart);

            function drawVerdictsChart() {

                var data = google.visualization.arrayToDataTable([
                    ['Verdict', 'Count'],
                    ['PASS', {{ log_book_cycle_report.testsPass }}],
                    ['FAIL',      {{ log_book_cycle_report.testsFail }}],
                    ['ERROR',  {{ log_book_cycle_report.testsError }}],
                    ['OTHER', {{ log_book_cycle_report.testsOther }}]
                ]);

                var options = {
                    title: 'Verdicts',
                    colors: ['#0d9d58', '#db4437', '#f4b400', '#175c67', '#99a9e2']
                };

                var chart = new google.visualization.PieChart(document.getElementById('piechart_verdicts'));

                chart.draw(data, options);
            }

        });
    </script>


{% endblock %}
