{% extends 'lbook/default/index.html.twig' %}
{% block title %}LogBook Cycle Report{% endblock %}
{% block content %}
    <h1>Cycle Report :: {{ log_book_cycle_report.id }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ log_book_cycle_report.name }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ log_book_cycle_report.createdAt ? log_book_cycle_report.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ log_book_cycle_report.updatedAt ? log_book_cycle_report.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ log_book_cycle_report.description }}</td>
            </tr>
            <tr>
                <th>Period</th>
                <td>{{ log_book_cycle_report.period }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ log_book_cycle_report.duration }}</td>
            </tr>
            <tr>
                <th>SuitesCount</th>
                <td>{{ log_book_cycle_report.suitesCount }}</td>
            </tr>
            <tr>
                <th>TestsPass</th>
                <td>{{ log_book_cycle_report.testsPass }}</td>
            </tr>
            <tr>
                <th>TestsFail</th>
                <td>{{ log_book_cycle_report.testsFail }}</td>
            </tr>
            <tr>
                <th>TestsError</th>
                <td>{{ log_book_cycle_report.testsError }}</td>
            </tr>
            <tr>
                <th>TestsOther</th>
                <td>{{ log_book_cycle_report.testsOther }}</td>
            </tr>
            <tr>
                <th>TestsTotal</th>
                <td>{{ log_book_cycle_report.testsTotal }}</td>
            </tr>
            <tr>
                <th>Platforms</th>
                <td>{{ log_book_cycle_report.platforms  | join(',')}}</td>
            </tr>
            <tr>
                <th>Chips</th>
                <td>{{ log_book_cycle_report.chips | join(',') }}</td>
            </tr>
            <tr>
                <th>Mode</th>
                <td>{{ log_book_cycle_report.mode }}</td>
            </tr>
            <tr>
                <th>Components</th>
                <td>{{ log_book_cycle_report.components | join(',') }}</td>
            </tr>
        </tbody>
    </table>



    <table class="records_list table table-striped table-condensed font9">
        <thead>
        <tr>
            <th>ID</th>
{#            <th title="Name/UUID">Name</th>#}
            <th>Summary</th>
            <th title="Enabled Tests/Total Tests only executed [In title total tests count in suite include disabled, and total disabled]">Tests</th>
            <th title="Pass">Pass</th>
            <th title="Pass Rate">Pass Rate</th>
            <th title="Testing Level">TL</th>
            <th>Chip</th>
            <th>Platform</th>
            <th title="Build Flavor">BF</th>
            <th>Component</th>
            <th title="Test Environments">ENV</th>
            <th title="Suite Host Name">Host</th>
            <th title="Owners">Owners</th>
            <th title="Closed : X= Closed; O= Open">X</th>
            <th title="JIRA KEY/Publish">JIRA</th>
        </tr>
        </thead>
        <tbody>
        {% set builder = '' %}
        {% set tests_enabled = 0 %}
        {% set tests_disabled = 0 %}
        {% set tests_executed = 0 %}
        {% set tests_pass = 0 %}
        {% set suite_progress = 0 %}
        {% set suite_done = 0 %}
        {% for suite in suites | slice(0, 200) %}
            {% set suite_css = '' %}
            {% set tests_enabled = tests_enabled + suite.testsCountEnabled %}
            {% set tests_disabled = tests_disabled + suite.testsCountDisabled  %}
            {% set tests_executed = tests_executed + suite.totalExecutedTests  %}
            {% set tests_pass = tests_pass + suite.passCount  %}
            {% if not suite.closed %}
                {% set suite_css = 'suite_wip' %}
                {% set suite_progress = suite_progress + 1  %}
            {% else %}
                {% set suite_done = suite_done + 1  %}
            {% endif %}
            {% set jira_test_set_url = '' %}
            {% if suite.publish and suite.jiraKey | length > 3 %}
                {% set jira_domain = parseDomain(suite.testSetUrl) %}
                {% if jira_domain | length > 0 %}
                    {%  set jira_test_set_url = 'http://' ~  jira_domain ~ '/browse/' ~ suite.jiraKey %}
                {% endif %}
            {% endif %}
            <tr class="{{ suite_css }}">
                <td><a href="{{ path('suite_show', {'id': suite.id}) }}" target="_blank">{{ suite.id }}</a></td>
{#                <td title="{{ suite.uuid }}" ondblclick="set_filter(this)">{{ suite.name }}</td>#}
                <td><a href="{{ path('cycle_suite_show_first', {'cycle': suite.cycle.id, 'suite': suite.id}) }}">{{ suite.summary }}</a></td>
                <td title="Tests count in suite {{ suite.testsCount }}, disabled {{ suite.testsCountDisabled }}">{{ suite.testsCountEnabled }}/{{ suite.totalExecutedTests }}</td>
                <td><span class="{{ passRateToColor(suite.passRate) }}" data-percent="{{ suite.passCount }}">{{ suite.passCount }}</td>
                <td><span class="{{ passRateToColor(suite.passRate) }}" data-percent="{{ suite.passRate }}">{{ suite.passRate }}%</td>
                <td>{{ suite.testingLevel }}</td>
                <td>{{ suite.chip }}</td>
                <td>{{ suite.platform }}</td>
                <td>{{ suite.buildType }}</td>
                <td>{{ suite.components |join(', ')}}</td>
                <td>{{ suite.testEnvironments |join(', ')}}</td>
                <td>
                    {% if suite.host and suite.host.ip is defined %}
                        <span title="{{ suite.host.ip }}"><a href="{{ path('host_show', {'id': suite.host.id}) }}" target="_blank">{{ suite.host.name }}</a></span>
                    {% endif %}
                </td>
                <td>{{ suite.owners | join(', ') }}</td>
                <td>{{ suite.closed ? 'X':'O' }}</td>
                <td>{% if suite.jiraKey | length < 3 %}{{ suite.publish }}{% else %}<a href="{{ jira_test_set_url }}" class="font8" target="_blank">{{ suite.jiraKey }}</a>{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th title="Total suites count">
                <strong>{{ suites | length }}
{#                    {{ log_book_cycle_report.suitesCount }}#}
                </strong>
            </th>
            <th></th>
            <th></th>
            <th title="Tests only : Enabled/Executed/Disabled">{{ tests_enabled }}/{{ tests_executed }}/{{ tests_disabled }}</th>
            <th>{{ tests_pass }}</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Host</th>
            <th></th>
            <th title="Suites Done/WIP">{{ suite_done }}/
                {% if suite_progress > 0 %}
                    <strong>{{ suite_progress }}</strong>
                {% else %}
                    {{ suite_progress }}
                {% endif %}
            </th>
            <th></th>
        </tr>
        </tfoot>
    </table>

    <a href="{{ path('log_book_cycle_report_index') }}">back to list</a>

    <a href="{{ path('log_book_cycle_report_edit', {'id': log_book_cycle_report.id}) }}">edit</a>

    {{ include('log_book_cycle_report/_delete_form.html.twig') }}
{% endblock %}
