{% extends 'lbook/default/index.html.twig' %}
{% block title %}DASHBOARD Setup [{{ setup.id | default('') }}:{{ setup.name| default('')  }}] {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-9">
        {% if decoded_url is defined %}
            <h3 style="margin-top: 0 !important;">Cycles with CI_URL={{decoded_url}}</h3>
        {% else %}
            <h3 style="margin-top: 0 !important;">DASHBOARD for Setup {{ setup.name| default('')  }}- [{{ setup.id| default('')  }}]</h3>
        {% endif %}
        </div>
        <div class="col-xs-3">
            <span style="float: right;">
                {% if app.user is not null and setup.id is defined  %}
                <button class="btn btn-white btn-info btn-bold" id="show_build_statistics">
                    <i class="ace-icon fa fa-check bigger-110 blue"></i>
                    Build Stats
                </button>
                {% endif %}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </div>
    </div>

    {% apply spaceless %}
    {% if setup.id is defined %}
    <table class="records_list table table-striped table-condensed">
        <tbody>
        <tr>
            <th>Short Name / OS</th>
            <td>
                <i class="ace-icon fa fa-bookmark"></i>
                {{ setup.nameShown | default('') }}
                /
                <span class="label label-lg label-yellow">{{ setup.osStr | default('')}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% if setup.id is defined %}
                <a href="{{ path('setup_indicator', { 'id': setup.id }) }}"><span class="label label-lg label-important">Indicators</span></a>
                {% endif %}
            </td>
            <th>
                <span style="float: right;">Created / Updated</span>
            </th>
            <td>
                <span style="float: right;">
                    <i class="ace-icon fa fa-calendar"></i>
                    <span class="blue">{% if setup.id is defined %}{{ setup.createdAt|date('d/m/Y H:i:s') }}{% endif %}</span>
                    /
                    <i class="ace-icon fa fa-calendar"></i>
                    <span class="blue">{% if setup.id is defined %}{{ setup.updatedAt|date('d/m/Y H:i:s') }}{% endif %}</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="ace-icon fa fa-info-circle" title="Show time diff when the setup was updated"></i>
                    {% if setup.id is defined %}
                        {%  if date(setup.updatedAt) > date('-20minutes') %}
                            {% set updatedClass="red" %}
                        {% else %}
                            {% set updatedClass="blue" %}
                        {% endif %}
                    {% endif %}
                    <span class="{{ updatedClass }}">{% if setup.id is defined %}{{ setup.updatedAt|time_diff}}{% endif %}</span>
                </span>
            </td>
        </tr>
        <tr>
            <th>Owners</th>
            <td>
                <span>
                    <i class="ace-icon fa fa-key" title="Owner"></i>
                    <span class="label label-sm label-success label-white arrowed arrowed-right">{{ setup.owner | default('')}}</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="ace-icon fa fa-users" title="Moderators"></i>
                    {% for moderator in setup.moderators %}
                        <a href="{{ path('user_show', { 'id': moderator.id }) }}" target="_blank">
                        {% if moderator.id == setup.owner.id %}
                            <span class="label label-sm label-danger label-white arrowed arrowed-right" title="Setup owner">{{ moderator.username }}</span>
                        {% else %}
                            <span class="label label-sm label-primary label-white arrowed arrowed-right">{{ moderator.username }}</span>
                        {% endif %}
                    </a>
                    {% endfor %}
                </span>
            </td>
            <th>
                <span style="float:right;">Disabled / Visibility / Check Uptime / Retention Policy</span>
            </th>
            <td>
                <span style="float:right;">
                    <span class="blue">{{ setup.disabled ? '<i class="ace-icon fa fa-lock" title="Disabled"></i> Disabled':'<i class="ace-icon fa fa-unlock" title="Enabled"></i> Enabled' }}</span>
                    /<span class="green">{{ setup.private ? '<i class="ace-icon fa fa-eye"></i> Private':'<i class="ace-icon fa fa-globe"></i> Public' }}</span>
                    /<span class="yellow" title="Check Up Time">{{ setup.checkUpTime ? '<i class="ace-icon fa fa-check-square-o"></i> Yes':'<i class="ace-icon fa fa-ban"></i> No' }}</span>
                    /<span class="label label-info arrowed-right arrowed-in" title="Retention Policy in days">{{ setup.retentionPolicy }}</span>
                    /<span class="label label-warning " title="Table name is {{ table_name }}, DB size:"> {{ table_size }} MB</span>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
    {% endif %}

{% endapply %}

    <div class="container">
        <h1 class="mb-4">Test Statistics</h1>
        <form method="get" class="mb-4">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="start_time">Start Time:</label>
                        <input type="datetime-local" id="start_time" name="start_time" class="form-control" 
                            {% if statistics.start_time %}
                                value="{{ statistics.start_time|date('Y-m-d\\TH:i') }}"
                            {% endif %}>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="end_time">End Time:</label>
                        <input type="datetime-local" id="end_time" name="end_time" class="form-control" 
                            {% if statistics.end_time %}
                                value="{{ statistics.end_time|date('Y-m-d\\TH:i') }}"
                            {% endif %}>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="min_executions">Minimum Executions:</label>
                        <input style="width:100px;" type="number" id="min_executions" name="min_executions" class="form-control" value="{{ statistics.min_executions }}">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                    <label for="suite_filters">Suite Filters:</label>
                    <input type="text" name="suite_filters" value="{{ suiteFilters|join(',') }}">
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary mt-4">Apply Filters</button>
                </div>
                <!-- Reset Filters Button -->
                <div class="col-md-2">
                    <a href="{{ path('setup_dashboard_show', { id: setup.id }) }}" class="btn btn-secondary mt-4">Reset Filters</a>
                </div>
            </div>

            <!-- Test Metadata Filters -->
            <div class="col-md-12">
                <h4>Test Metadata Filters:</h4>
                <div class="row">
                    {% set black_list = ['TESTME_NODE_ID', 'Logfile'] %}
                    {% for key in uniqueKeys %}
                        {% if key not in black_list %}
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="md_f_{{ key }}">{{ key }}</label>
                                    <select id="md_f_{{ key }}" name="md_f[{{ key }}][]" class="form-control" multiple>
                                        <!-- Multiple select now enabled -->
                                        {% for value in uniqueKeyValues[key] %}
                                            <option value="{{ value }}"
                                                {% if testMetadataFilters[key] is defined and testMetadataFilters[key] is iterable and value in testMetadataFilters[key] %}
                                                    selected
                                                {% endif %}
                                            >{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </form>
        
        <div class="card mb-4">
            <div class="card-body">
                <p class="card-text">Total Test Executions: {{ statistics.total_tests }}</p>
                <p class="card-text">Unique Tests (executed {{ statistics.min_executions }} or more times): {{ statistics.unique_tests }}</p>
                <p class="card-text">Minimum Executions Threshold: {{ statistics.min_executions }}</p>
                {% if statistics.start_time %}
                    <p class="card-text">Start Time: {{ statistics.start_time|date('Y-m-d H:i:s') }}</p>
                {% endif %}
                {% if statistics.end_time %}
                    <p class="card-text">End Time: {{ statistics.end_time|date('Y-m-d H:i:s') }}</p>
                {% endif %}

                {% if statistics.suite_filters %}
                    <p class="card-text">Suite Filters: {{ statistics.suite_filters|join(', ') }}</p>
                {% endif %}
                {% if statistics.test_metadata_filters %}
                    <p class="card-text">Test Metadata Filters: 
                        {% for key, value in statistics.test_metadata_filters %}
                            {{ key }}: {{ value is iterable ? value|join(', ') : value }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
        </div>
</div>

    <h2>Grouped Columns Test Statistics Table</h2>

    <table id="test-table" class="table table-bordered table-striped" data-toggle="table" data-group-by="true">
        <thead>
            {# First row: Chip headers (each chip header spans the number of columns for its permutations) #}
            <tr>
                <th rowspan="4">Test Name</th>
                {% set chip_count = {} %}
                {% for testName, chips in groupedTestDetails %}
                    {% for chip, platforms in chips %}
                        {% if chip_count[chip] is not defined %}
                            {% set chip_count = chip_count | merge({ (chip): 0 }) %}
                        {% endif %}
                        {% for platform, boards in platforms %}
                            {% for board, projects in boards %}
                                {% for project, brains in projects %}
                                    {% for brain, flowNames in brains %}
                                        {% for flowName, productVersions in flowNames %}
                                            {% for productVersion, details in productVersions %}
                                                {% set chip_count = chip_count | merge({ (chip): chip_count[chip] + 1 }) %}
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
                {# Output Chip headers with the appropriate colspan #}
                {% for chip, count in chip_count %}
                    <th colspan="{{ count }}">{{ chip }}</th>
                {% endfor %}
            </tr>

            {# Second row: Platform headers (spanning the correct number of columns) #}
            <tr>
                {% for testName, chips in groupedTestDetails %}
                    {% for chip, platforms in chips %}
                        {% for platform, boards in platforms %}
                            {% set colspan_platform = 0 %}
                            {% for board, projects in boards %}
                                {% for project, brains in projects %}
                                    {% for brain, flowNames in brains %}
                                        {% for flowName, productVersions in flowNames %}
                                            {% for productVersion, details in productVersions %}
                                                {% set colspan_platform = colspan_platform + 1 %}
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                            <th colspan="{{ colspan_platform }}">{{ platform }}</th>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </tr>

            {# Third row: Board headers #}
            <tr>
                {% for testName, chips in groupedTestDetails %}
                    {% for chip, platforms in chips %}
                        {% for platform, boards in platforms %}
                            {% for board, projects in boards %}
                                {% set colspan_board = 0 %}
                                {% for project, brains in projects %}
                                    {% for brain, flowNames in brains %}
                                        {% for flowName, productVersions in flowNames %}
                                            {% for productVersion, details in productVersions %}
                                                {% set colspan_board = colspan_board + 1 %}
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
                                <th colspan="{{ colspan_board }}">{{ board }}</th>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </tr>

            {# Fourth row: Flow Name / Product Version headers #}
            <tr>
                {% for testName, chips in groupedTestDetails %}
                    {% for chip, platforms in chips %}
                        {% for platform, boards in platforms %}
                            {% for board, projects in boards %}
                                {% for project, brains in projects %}
                                    {% for brain, flowNames in brains %}
                                        {% for flowName, productVersions in flowNames %}
                                            {% for productVersion, details in productVersions %}
                                                <th>{{ flowName }} / {{ productVersion }}</th>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {# Loop through test details to generate the rows #}
            {% for testName, chips in groupedTestDetails %}
                <tr>
                    <td>{{ testName }}</td>
                    {# Nested loop for data (make sure each `td` aligns with the corresponding `th`) #}
                    {% for chip, platforms in chips %}
                        {% for platform, boards in platforms %}
                            {% for board, projects in boards %}
                                {% for project, brains in projects %}
                                    {% for brain, flowNames in brains %}
                                        {% for flowName, productVersions in flowNames %}
                                            {% for productVersion, details in productVersions %}
                                                <td>
                                                    <span title="Total tests"><strong>{{ details.test_execution_count }}</strong></span>
                                                    Pass: {{ details.pass_count }}

                                                    {% if details.fail_count > 0 %}
                                                        <br><span class="text-danger">Fail: <strong>{{ details.fail_count }}</strong></span>
                                                    {% endif %}

                                                    {% if details.error_count > 0 %}
                                                        <br><span class="text-warning">Error: <strong>{{ details.error_count }}</strong></span>
                                                    {% endif %}

                                                    {% if details.other_count > 0 %}
                                                        <br><span class="text-info">Other: <strong>{{ details.other_count }}</strong></span>
                                                    {% endif %}
                                                    <br>
                                                    <div style="display: flex; justify-content: space-between; align-items: center;">
                                                        <span style="border-right: 1px solid #ccc; padding-right: 10px; cursor: pointer;" 
                                                            title="Last Run Time: {{ details.last_run_time|date('Y-m-d H:i') }}">
                                                            {{ details.last_run_time|date('M d H:i') }}
                                                        </span>
                                                        <span style="padding-left: 10px; cursor: pointer;" 
                                                            title="Average Execution Time: {{ (details.avg_execution_time / 1000)|round(2) }} seconds">
                                                            {{ (details.avg_execution_time / 1000)|round(2) }}s
                                                        </span>
                                                    </div>
                                                </td>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>




 {# <pre>{{ dump(groupedTestDetails) }}</pre>  #}


 {# <pre>{{ dump(statistics.test_details) }}</pre> #}
        {% if statistics.test_details is empty %}
            <p class="alert alert-info">No tests found with {{ statistics.min_executions }} or more executions in the selected time range.</p>
        {% else %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Test Name</th>
                        <th>CP</th>
                        <th>BOARD</th>
                        <th>PROJECT</th>
                        <th>BRAIN</th>
                        <th>FN</th>
                        <th>PV</th>
                        <th>Execution Count</th>
                        <th>Pass</th>
                        <th>Fail</th>
                        <th>Error</th>
                        <th>Other</th>
                        <th>Last Run</th>
                        <th>Avg. Execution Time</th>
                        <th>Percentage of Total</th>

                    </tr>
                </thead>
                <tbody>
                    {% for test in statistics.test_details %}
                        <tr>
                            <td>{{ test.test_name }}</td>
                            <td>{{ test.chip_platform }}</td>
                            <td>{{ test.board }}</td>
                            <td>{{ test.project }}</td>
                            <td>{{ test.brain }}</td>
                            <td>{{ test.flow_name }}</td>
                            <td>{{ test.md_pv }}</td>
                            <td>{{ test.test_execution_count }}</td>
                            <td>{{ test.pass_count }}</td>
                            <td>{{ test.fail_count }}</td>
                            <td>{{ test.error_count }}</td>
                            <td>{{ test.other_count }}</td>
                            <td>{{ test.last_run_time|date('m-d H:i') }}</td>
                            <td>{{ (test.avg_execution_time / 1000)|round(2) }} sec</td>
                            <td>
                                {% set percentage = (test.test_execution_count / statistics.total_tests * 100)|round(2) %}
                                {{ percentage }}%
                            </td>
                            <td> 

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>



    {% set objId = setup.id | default(0) %}
    {%  set cycles = setup.cycles | default('') %}
    <div>Count : {{ size }}</div>
    {% if decoded_url is not defined %}
    {# {% include "lbook/search.html.twig" %} #}
    {%endif%}
    <div id="toolbarSetupsList">
    </div>
    {% apply spaceless %}
    <table class="records_list table table-striped table-condensed table-hover" data-classes="table table-no-bordered" id="setupCycleList"
           data-pagination="true" data-search="true" data-toggle="table"
           data-show-columns="true" data-show-refresh="true"
           {#data-detail-view="true"#}
           {#data-detail-formatter="detailFormatter"#}
           {#data-show-refresh="true" data-show-toggle="true" data-show-fullscreen="true"#}
           data-toolbar="#toolbarSetupsList"
           data-cookie="true" data-cookie-cookies-enabled="['bs.table.columns']" data-cookie-id-table="setupCycleList"
           data-page-size="500" data-page-list="[20, 50, 100, 500, 1000, 'ALL']" data-sort-order="desc">
        <thead>
        <tr>
            <th data-sortable="true" title="Updated image" class="time_diff_icon" data-switchable="false">&nbsp;</th>
            <th data-sorter="dataTitleIntSorter" class="setup_cycle_id_column" data-sortable="true">Id</th>
            <th data-sorter="htmlSorter" data-sortable="true" class="setup_cycle_name_column" data-switchable="false">Name</th>
            <th class="setup_cycle_suites_column" data-sortable="true">Suites</th>
            <th class="setup_cycle_tests_column" data-sortable="true">Tests</th>
            <th class="setup_cycle_tests_column" data-sortable="true">Pass</th>
            <th class="setup_cycle_tests_column" data-sortable="true">Fail</th>
            <th class="setup_cycle_tests_column" data-sortable="true">Error</th>
            <th class="setup_cycle_passrate_column" data-sorter="dataPercentSorter" data-sortable="true" title="Pass Rate" data-visible="true">Pass Rate</th>
            <th class="setup_cycle_failrate_column" data-sorter="dataPercentSorter" data-sortable="true" title="Fail Rate" data-visible="false">Fail Rate</th>
            <th class="setup_cycle_period_column" data-sortable="true" data-sorter="dataTitleIntSorter" title="Time duration between First test start-time and Last test end-time">Duration</th>
            <th class="setup_cycle_testtime_column" data-sortable="true" data-sorter="dataTitleIntSorter" title="The total summary time of all tests in this cycle">Test time</th>
            <th class="setup_cycle_updated_column" data-sorter="htmlSorter" data-sortable="true">Start</th>
            <th class="setup_cycle_updated_column" data-sorter="htmlSorter" data-sortable="true">End</th>
            <th class="setup_cycle_updated_column" data-sorter="htmlSorter" data-sortable="true" data-visible="false">Created</th>
            <th class="setup_cycle_updated_column" data-sorter="htmlSorter" data-sortable="true" data-visible="false">Updated</th>
            {#<th data-sortable="true" data-visible="false">Controller</th>#}
            {#<th data-sortable="true" data-visible="false">DUT</th>#}
            <th class="setup_cycle_uploader_column" data-sortable="true" data-visible="false">Uploader</th>
            <th class="setup_cycle_delete_at_column" data-sortable="true" data-visible="false">Retention Policy</th>
            <th class="setup_cycle_options_column" data-switchable="false">Options</th>
        </tr>
        </thead>
        <tbody class="searchable">
        {% for cycle in cycles | slice(0, 10) %}
            <tr>
                <td title="Updated {{ cycle.updatedAt|time_diff }}">
                    {% if date(cycle.updatedAt) > date('-5 minutes') %}<i class="normal-icon ace-icon fa fa-clock-o red smaller-90"></i>
                    {% elseif date(cycle.updatedAt) > date('-30 minutes') %}<i class="normal-icon ace-icon fa fa-clock-o pink smaller-80"></i>
                    {% elseif date(cycle.updatedAt) > date('-60 minutes') %}<i class="normal-icon ace-icon fa fa-clock-o blue smaller-70"></i>
                    {% elseif date(cycle.updatedAt) > date('-12 hours') %}<i class="normal-icon ace-icon fa fa-clock-o yellow smaller-70"></i>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('cycle_show_first_tests_only', { 'id': cycle.id }) }}" data-title="{{ cycle.id }}">{{ cycle.id }}</a>
                </td>
                <td title="{{ cycle.name }}">
                    <a href="{{ path('cycle_show_first_tests_only', { 'id': cycle.id }) }}">{{ shortString(cycle.name, 90, "...") }}</a>
                </td>
                <td>{{ cycle.suiteExecution | length }}</td>
                <td class="{{ passRateToColor(cycle.passRate) }}">{{ cycle.testsCount }}</td>
                <td class="{{ passRateToColor(cycle.passRate) }}">{{ cycle.testsPass }}</td>
                <td class="{{ passRateToColor(100 - cycle.failRate) }}">{{ cycle.testsFail }}</td>
                <td class="{{ passRateToColor(100 - cycle.errorRate - cycle.failRate) }}">{{ cycle.testsError }}</td>
                <td><span class="{{ passRateToColor(cycle.passRate) }}" data-percent="{{ cycle.passRate }}">{{ cycle.passRate }}%</span></td>
                <td><span class="{{ failRateToColor(100 - cycle.failRate) }}" data-percent="{{ cycle.failRate }}">{{ cycle.failRate }}%</span></td>
                <td><span data-title="{{ cycle.period  }}">{{ cycle.period |  ExecutionTimeGeneric}}</span></td>
                <td><span data-title="{{ cycle.testsTimeSum  }}">{{ cycle.testsTimeSum |  ExecutionTimeGeneric}}</span></td>
                <td><span title="{{ cycle.timeStart |date('d/m H:i:s') }} - {{ cycle.timeStart|time_diff }}">{{ cycle.timeStart |date('d/m H:i') }}</span></td>
                <td><span title="{{ cycle.timeEnd |date('d/m H:i:s') }} - {{ cycle.timeEnd|time_diff }}">{{ cycle.timeEnd |date('d/m H:i') }}</span></td>
                <td><span title="{{ cycle.createdAt|time_diff }}">{{ cycle.createdAt |date('d/m H:i:s') }}</span></td>
                <td><span title="{{ cycle.updatedAt|time_diff }}">{{ cycle.updatedAt |date('d/m H:i:s') }}</span></td>
                {#<td>{{ cycle.controller }}</td>#}
                {#<td>{{ cycle.dut }}</td>#}
                <td>{{ cycle.targetUploader }}</td>
                <td>{{ cycle.deleteAt|time_diff }}</td>
                <td>
                    <div class="hidden-sm hidden-xs action-buttons">
{#                        <a class="blue" href="{{ path('cycle_show_first', { 'id': cycle.id }) }}" title="Show">#}
{#                            <i class="ace-icon fa fa-search-plus bigger-130"></i>#}
{#                        </a>#}
                        {% if cycle.logBookCycleReports  | length == 0%}
                        <a class="light-blue2" href="{{ path('log_book_cycle_report_new_with_cycle', { 'cycle': cycle.id }) }}" title="Make Report">
                            <i class="ace-icon fa fa-book bigger-130"></i>
                        </a>
                        {% else %}
                            <a class="light-green" href="{{ path('log_book_cycle_report_show', { 'id': cycle.logBookCycleReports[0].id }) }}" title="Show Report">
                                <i class="ace-icon fa fa-book bigger-130"></i>
                            </a>
                        {% endif %}
                        <a class="light-blue2" href="{{ path('setup_indicator_with_main_cycle', { 'id': cycle.setup.id, 'mainCycle': cycle.id }) }}" title="Compare as Main Cycle">
                            <i class="ace-icon fa fa-eye bigger-130"></i>
                        </a>

                        {% if is_granted('edit', setup) %}
                            <a class="green" href="{{ path('cycle_edit', { 'id': cycle.id }) }}" title="Edit">
                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                            </a>
                        {% endif %}
                        {#<a class="red" href="#" title="Delete">#}
                        {#<i class="ace-icon fa fa-trash-o bigger-130"></i>#}
                        {#</a>#}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endapply %}
    {% apply spaceless %}


    <script>
        function detailFormatter(index, row) {
            var html = [];
            $.each(row, function (key, value) {
                if (!key.startsWith('_')) {
                    html.push('<p><b>' + key + ':</b> ' + value + '</p>');
                }
            });
            return html.join('');
        }

        $(document).ready(function() {
            $( "#toolbarSetupsList, button[name = 'refresh'].btn" ).bind( "click", function() {
                location.reload();
            });

            try {
                ace.settings.sidebar_collapsed(document.getElementById('sidebar'), true, true);
                ace.settings.sidebar_fixed(document.getElementById('sidebar'), true, true);
            } catch (e) {}
        {% if setup.id is defined %}
        
            $( "#show_dashboard" ).bind( "click", function() {
                window.location.href = "{{ path('setup_dashboard_show', { 'id': setup.id }) }}";
            });
            $( "#show_build_statistics" ).bind( "click", function() {
                window.location.href = "{{ path('show_build_statistics', { 'id': setup.id }) }}";
            });
            {% endif %}
        });
    </script>
    {% endapply %}
{% endblock %}
