{% extends 'lbook/default/index.html.twig' %}

{% block content %}
    <h1>Setup edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}
    <br/>
    <div class="well well-lg">
        <h4 class="green smaller lighter">Options</h4>
        <ul class="list-inline">
            <li>
                <i class="ace-icon fa fa-share green bigger-110"></i>
                <a href="{{ path('setup_show_first', { 'id': setup.id }) }}">Back to Setup</a>
            </li>
            <li>
                <a href="{{ path('setup_index') }}">Back to the list</a>
            </li>
            <br/>
            {% if is_granted('delete', setup) %}
                <br/>
                {% if delete_form is not null %}
                    <li>
                        {{ form_start(delete_form) }}
                        <input type="submit" value="Delete" onclick="return confirm('Are you sure about delete this setup?')">
                        {{ form_end(delete_form) }}
                    </li>
                {%  endif %}
            {%  endif %}
        </ul>
    </div>
    <script src="{{ asset('assets/js/bootstrap-multiselect.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $( "#log_book_setup form" ).css( "width", "800px" );
            $( "#log_book_setup select" ).css( "width", "600px" );
            $( "input[type = 'text']" ).css( "width", "600px" );
            $( "textarea" ).css( "width", "600px" );
            $( "#log_book_setup label" ).css( "width", "200px" );

            function setMultiSelect(){
                $('.multiselect').multiselect({
                    enableFiltering: true,
                    enableHTML: true,
                    buttonClass: 'btn btn-white btn-primary',
                    templates: {
                        button: '<button type="button" class="multiselect dropdown-toggle" data-toggle="dropdown"><span class="multiselect-selected-text"></span> &nbsp;<b class="fa fa-caret-down"></b></button>',
                        ul: '<ul class="multiselect-container dropdown-menu"></ul>',
                        filter: '<li class="multiselect-item filter"><div class="input-group"><span class="input-group-addon"><i class="fa fa-search"></i></span><input class="form-control multiselect-search" type="text"></div></li>',
                        filterClearBtn: '<span class="input-group-btn"><button class="btn btn-default btn-white btn-grey multiselect-clear-filter" type="button"><i class="fa fa-times-circle red2"></i></button></span>',
                        li: '<li><a tabindex="0"><label></label></a></li>',
                        divider: '<li class="multiselect-item divider"></li>',
                        liGroup: '<li class="multiselect-item multiselect-group"><label></label></li>'
                    }
                });
            }

            $(document).ready(
                function($){
                    setMultiSelect();

                }
            );
        });
    </script>
{% endblock %}
