{% extends 'lbook/default/index.html.twig' %}
{% block title %}Indicator for Setup [{{ setup.id }}:{{ setup.name }}] {% endblock %}
{% block content %}
    <h3 style="margin-top: 0 !important;">Indicator for Setup [{{ setup.id }}] : <a href="{{ path('setup_show', { 'id': setup.id }) }}">{{ setup.name }}</a></h3>
    {% apply spaceless %}
    <table class="records_list table table-striped table-condensed">
        <tbody>
        <tr>
            <th>Short Name / OS</th>
            <td>
                <i class="ace-icon fa fa-bookmark"></i>
                {{ setup.nameShown }}
                /
                <span class="label label-lg label-yellow">{{ setup.osStr }}</span>
            </td>
            <th>
                <span style="float: right;">Created / Updated</span>
            </th>
            <td>
                <span style="float: right;">
                    <i class="ace-icon fa fa-calendar"></i>
                    <span class="blue">{{ setup.createdAt|date('d/m/Y H:i:s') }}</span>
                    /
                    <i class="ace-icon fa fa-calendar"></i>
                    <span class="blue">{{ setup.updatedAt|date('d/m/Y H:i:s') }}</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="ace-icon fa fa-info-circle" title="Show time diff when the setup was updated"></i>
                    {%  if date(setup.updatedAt) > date('-20minutes') %}
                        {% set updatedClass="red" %}
                    {% else %}
                        {% set updatedClass="blue" %}
                    {% endif %}
                    <span class="{{ updatedClass }}">{{ setup.updatedAt|time_diff}}</span>
                </span>
            </td>
        </tr>
        <tr>
            <th>Owners</th>
            <td>
                <span>
                    <i class="ace-icon fa fa-key" title="Owner"></i>
                    <span class="label label-sm label-success label-white arrowed arrowed-right">{{ setup.owner}}</span>&nbsp;&nbsp;&nbsp;&nbsp;<i class="ace-icon fa fa-users" title="Moderators"></i>
                    {% for moderator in setup.moderators %}
                        <a href="{{ path('user_show', { 'id': moderator.id }) }}" target="_blank">
                        {% if moderator.id == setup.owner.id %}
                            <span class="label label-sm label-danger label-white arrowed arrowed-right" title="Setup owner">{{ moderator.username }}</span>
                        {% else %}
                            <span class="label label-sm label-primary label-white arrowed arrowed-right">{{ moderator.username }}</span>
                        {% endif %}
                    </a>
                    {% endfor %}
                </span>
            </td>
            <th><span style="float:right;">Disabled / Visibility / Check Uptime / Retention Policy</span></th>
            <td>
                <span style="float:right;">
                    <span class="blue">{{ setup.disabled ? '<i class="ace-icon fa fa-lock" title="Disabled"></i> Disabled':'<i class="ace-icon fa fa-unlock" title="Enabled"></i> Enabled' }}</span>
                    /
                    <span class="green">{{ setup.private ? '<i class="ace-icon fa fa-eye"></i> Private':'<i class="ace-icon fa fa-globe"></i> Public' }}</span>
                    /
                    <span class="yellow">{{ setup.checkUpTime ? '<i class="ace-icon fa fa-check-square-o"></i> Yes':'<i class="ace-icon fa fa-ban"></i> No' }}</span>
                    /
                    <span class="label label-info arrowed-right arrowed-in" title="Retention Policy in days">{{ setup.retentionPolicy }}</span>
                </span>
            </td>
        </tr>

        {% set already_printed = ['subscribers', 'moderators', 'id', 'name', 'cycles', 'nameShown', 'createdAt', 'updatedAt', 'owner', 'disabled', 'os', 'isPrivate', 'checkUpTime', 'MAX_NAME_LEN', 'MIN_NAME_LEN', 'retentionPolicy', 'favoritedByUsers', 'extDefectsJql', 'autoCycleReport', 'cyclesCount'] %}
        {% for key, value in setup|cast_to_array %}
            {% if key not in already_printed %}
                <tr>
                    <th>{{ key | capitalize}}</th>
                    <td>{{ value }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    {% endapply %}

    {% apply spaceless %}

    <table class="records_list table table-condensed">
    <tbody>
    {% if mainCycle is defined and mainCycle.id is defined %}
        <tr>
            {% if compareCycle is defined and compareCycle.id is defined %}
            <td rowspan="2">
                <a href="#" class="btn btn-app btn-success btn-sm" id="switchComparedCycles"><i class="ace-icon fa fa-refresh bigger-150"></i>Switch</a>
            </td>
            {% endif %}
            <th>Main Cycle</th>
            <td><i class="ace-icon fa fa-bar-chart-o"></i>{{ mainCycle.id }}/<span class="label label-lg label-yellow">{{ mainCycle.name }}</span></td>
            <th><span style="float: right;">Created / Updated</span></th>
            <td>
            <span style="float: right;">
                <i class="ace-icon fa fa-calendar"></i><span class="blue">{{ mainCycle.createdAt|date('d/m/Y H:i:s') }}</span>
                /
                <i class="ace-icon fa fa-calendar"></i><span class="blue">{{ mainCycle.updatedAt|date('d/m/Y H:i:s') }}</span>&nbsp;&nbsp;&nbsp;&nbsp;<i class="ace-icon fa fa-info-circle" title="Show time diff when the setup was updated"></i>
                {%  if date(mainCycle.updatedAt) > date('-20minutes') %}{% set updatedClass="red" %}
                {% else %}{% set updatedClass="blue" %}
                {% endif %}
                <span class="{{ updatedClass }}">{{ mainCycle.updatedAt|time_diff}}</span>
            </span>
            </td>
            <td><span style="float: right;"><button class="btn btn-white btn-default btn-round" id="cancelMainCycle"><i class="ace-icon fa fa-times red2"></i>Cancel</button></span></td>
        </tr>
    {% endif %}
    {% if compareCycle is defined and compareCycle.id is defined %}
        <tr>

            <th>Second Cycle to compare</th>
            <td><i class="ace-icon fa fa-bar-chart-o"></i>{{ compareCycle.id }}/<span class="label label-lg label-yellow">{{ compareCycle.name }}</span></td>
            <th><span style="float: right;">Created / Updated</span></th>
            <td>
            <span style="float: right;">
                <i class="ace-icon fa fa-calendar"></i><span class="blue">{{ compareCycle.createdAt|date('d/m/Y H:i:s') }}</span>
                /
                <i class="ace-icon fa fa-calendar"></i><span class="blue">{{ compareCycle.updatedAt|date('d/m/Y H:i:s') }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="ace-icon fa fa-info-circle" title="Show time diff when the setup was updated"></i>
                {%  if date(compareCycle.updatedAt) > date('-20minutes') %}{% set updatedClass="red" %}
                {% else %}{% set updatedClass="blue" %}
                {% endif %}
                <span class="{{ updatedClass }}">{{ compareCycle.updatedAt|time_diff}}</span>
            </span>
            </td>
            <td><span style="float: right;"><button class="btn btn-white btn-default btn-round" id="cancelCompareCycle"><i class="ace-icon fa fa-times red2"></i>Cancel</button></span></td>
        </tr>
    {% endif %}
    </tbody>
    </table>

    {% endapply %}



    {% if compareMode %}
        <div id="compareCycles" class="tab-pane">{% include "lbook/cycle/two_cycle_compare.html.twig" %}</div>
    {% endif %}
    {% set max_suites_in_cycle = 0 %}
    {% set max_tests_in_cycle = 0 %}
    <div class="row">
        <div class="col-sm-12">

            <div class="tabbable">
                <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="testInfoNav">
                    <li class="active"><a data-toggle="tab" href="#main">Main</a></li>
                    <li class=""><a data-toggle="tab" href="#suites">Suites</a></li>
                    <li class=""><a data-toggle="tab" href="#suitesTable">Suite Rates</a></li>
                    <li class=""><a data-toggle="tab" href="#testsTable">Test Rates</a></li>
                    <li class=""><a data-toggle="tab" href="#testsTableFailures">Test Failures</a></li>
                    <li class=""><a data-toggle="tab" href="#other">Other</a></li>
                </ul>

                <div class="tab-content">
                    <div id="main" class="tab-pane active">

                        <div id="toolbarSetupsList"></div>
                        {% apply spaceless %}
                            <table class="records_list table table-striped table-condensed table-hover" data-classes="table table-no-bordered" id="setupCycleList"
                                   data-pagination="true" data-search="true" data-toggle="table"
                                   data-show-columns="true" data-show-refresh="true"
                                    {#data-detail-view="true"#}
                                    {#data-detail-formatter="detailFormatter"#}
                                    {#data-show-refresh="true" data-show-toggle="true" data-show-fullscreen="true"#}
                                   data-toolbar="#toolbarSetupsList"
                                   data-page-size="500" data-page-list="[20, 50, 100, 500, 1000, 'ALL']" data-sort-order="desc">
                                <thead>
                                <tr>
                                    <th data-sortable="true" title="Updated image" class="time_diff_icon" data-switchable="false">&nbsp;</th>
                                    <th data-sorter="dataTitleIntSorter" class="setup_cycle_id_column" data-sortable="true">ID</th>
                                    <th data-sorter="htmlSorter" data-sortable="true" class="setup_cycle_name_column" data-switchable="false">Name</th>
                                    <th class="setup_cycle_suites_column" data-sortable="true">Suites</th>
                                    <th class="setup_cycle_passrate_column" data-sorter="dataPercentSorter" data-sortable="true" title="Pass Rate" data-visible="true">Pass Rate</th>
                                    <th class="setup_cycle_failrate_column" data-sorter="dataPercentSorter" data-sortable="true" title="Fail Rate" data-visible="true">Fail Rate</th>
                                    <th class="setup_cycle_tests_column" data-sortable="true">Tests</th>
                                    <th class="setup_cycle_tests_column" data-sortable="true">Pass</th>
                                    <th class="setup_cycle_tests_column" data-sortable="true">Fail</th>
                                    <th class="setup_cycle_tests_column" data-sortable="true">Error</th>
                                    <th class="setup_cycle_build_column" data-sorter="htmlSorter" data-sortable="true">Build</th>
                                    {%  if show_user %}
                                        <th class="setup_cycle_user" data-sortable="true" data-visible="false">User</th>
                                    {% endif %}

                                    <th class="setup_cycle_period_column" data-sortable="true" data-sorter="dataTitleIntSorter" title="Time duration between First test start-time and Last test end-time">Duration</th>
                                    <th class="setup_cycle_testtime_column" data-sortable="true" data-sorter="dataTitleIntSorter" title="The total summary time of all tests in this cycle">Test time</th>
                                    <th class="setup_cycle_updated_column" data-sorter="htmlSorter" data-sortable="true">Start</th>
                                    <th class="setup_cycle_updated_column" data-sorter="htmlSorter" data-sortable="true">End</th>
                                    <th class="setup_cycle_updated_column" data-sorter="htmlSorter" data-sortable="true" data-visible="false">Created</th>
                                    <th class="setup_cycle_updated_column" data-sorter="htmlSorter" data-sortable="true" data-visible="false">Updated</th>
                                    {#<th data-sortable="true" data-visible="false">Controller</th>#}
                                    {#<th data-sortable="true" data-visible="false">DUT</th>#}
                                    <th class="setup_cycle_uploader_column" data-sortable="true" data-visible="false">Uploader</th>
                                    <th class="setup_cycle_delete_at_column" data-sortable="true" data-visible="false">Retention Policy</th>
                                    <th class="setup_cycle_options_column" data-switchable="false">Options</th>
                                </tr>
                                </thead>
                                <tbody class="searchable">
                                {% for cycle in cycles | slice(0, 10000) %}
                                    {% set max_suites_in_cycle = max(cycle.suiteExecution | length, max_suites_in_cycle) %}
                                    {% set max_tests_in_cycle = max(cycle.testsCount, max_tests_in_cycle) %}
                                    <tr>
                                        <td title="Updated {{ cycle.updatedAt|time_diff }}">
                                            {% if date(cycle.updatedAt) > date('-1 minutes') %}<i class="normal-icon ace-icon fa fa-clock-o red smaller-90"></i>
                                            {% elseif date(cycle.updatedAt) > date('-2 minutes') %}<i class="normal-icon ace-icon fa fa-clock-o pink smaller-80"></i>
                                            {% elseif date(cycle.updatedAt) > date('-1 hours') %}<i class="normal-icon ace-icon fa fa-clock-o blue smaller-70"></i>
                                            {% elseif date(cycle.updatedAt) > date('-2 hours') %}<i class="normal-icon ace-icon fa fa-clock-o yellow smaller-70"></i>
                                            {% endif %}
                                        </td>
                                        <td><a href="{{ path('cycle_show_first', { 'id': cycle.id }) }}" data-title="{{ cycle.id }}">{{ cycle.id }}</a></td>
                                        <td title="{{ cycle.name }}"><a href="{{ path('cycle_show_first', { 'id': cycle.id }) }}">{{ shortString(cycle.name, 65, "...") }}</a></td>
                                        <td>{{ cycle.suiteExecution | length }}</td>
                                        <td><span class="{{ passRateToColor(cycle.passRate) }}" data-percent="{{ cycle.passRate }}">{{ cycle.passRate }}%</span></td>
                                        <td><span class="{{ failRateToColor(cycle.failRate) }}" data-percent="{{ cycle.failRate }}">{{ cycle.failRate }}%</span></td>
                                        <td class="{{ passRateToColor(cycle.passRate) }}">{{ cycle.testsCount }}</td>
                                        <td class="{{ passRateToColor(cycle.passRate) }}">{{ cycle.testsPass }}</td>
                                        <td class="{{ failRateToColor(cycle.failRate) }}">{{ cycle.testsFail }}</td>
                                        <td class="{{ failRateToColor(cycle.errorRate - cycle.failRate) }}">{{ cycle.testsError }}</td>
                                        <td title="{{ cycle.build }}">{% if cycle.build.id is defined %}<a href="{{ path('build_show_cycles', { 'id': cycle.build.id }) }}">{{ shortString(cycle.build, 35, "...") }}</a>{% endif %}</td>
                                        {%  if show_user %}
                                            <td title="{{ cycle.user.FullName }}">{{ cycle.user.UserNameMedium }}</td>
                                        {% endif %}
                                        <td><span data-title="{{ cycle.period  }}">{{ cycle.period |  ExecutionTimeGeneric}}</span></td>
                                        <td><span data-title="{{ cycle.testsTimeSum  }}">{{ cycle.testsTimeSum |  ExecutionTimeGeneric}}</span></td>
                                        <td><span title="{{ cycle.timeStart |date('d/m H:i:s') }} - {{ cycle.timeStart|time_diff }}">{{ cycle.timeStart |date('d/m H:i') }}</span></td>
                                        <td><span title="{{ cycle.timeEnd |date('d/m H:i:s') }} - {{ cycle.timeEnd|time_diff }}">{{ cycle.timeEnd |date('d/m H:i') }}</span></td>
                                        <td><span title="{{ cycle.createdAt|time_diff }}">{{ cycle.createdAt |date('d/m H:i:s') }}</span></td>
                                        <td><span title="{{ cycle.updatedAt|time_diff }}">{{ cycle.updatedAt |date('d/m H:i:s') }}</span></td>
                                        {#<td>{{ cycle.controller }}</td>#}
                                        {#<td>{{ cycle.dut }}</td>#}
                                        <td>{{ cycle.targetUploader }}</td>
                                        <td>{{ cycle.deleteAt|time_diff }}</td>
                                        <td>
                                            <div class="hidden-sm hidden-xs action-buttons">
                                                {% if mainCycle.id|default(0) != cycle.id and compareCycle.id|default(0) != cycle.id %}
                                                <a class="light-blue2" href="{{ path('setup_indicator_with_main_cycle', { 'id': cycle.setup.id, 'mainCycle': cycle.id, 'size': size, 'compareCycle': compareCycle.id|default(null) }) }}" title="Compare as Main Cycle">
                                                    <i class="ace-icon fa fa-eye bigger-130"></i>
                                                </a>
                                                {% endif %}
                                                {% if mainCycle is defined and mainCycle.id is defined and mainCycle.id != cycle.id and compareCycle.id|default(0) == 0 %}
                                                    <a class="light-blue" href="{{ path('setup_indicator_with_main_cycle_and_compare', { 'id': cycle.setup.id, 'mainCycle': mainCycle.id , 'compareCycle': cycle.id, 'size': size }) }}" title="Compare as second Cycle">
                                                        <i class="ace-icon fa fa-files-o bigger-130"></i>
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endapply %}

                    </div>


                    <div id="suites" class="tab-pane">
                        {% include "lbook/suite/list.html.twig" %}

                    </div>
                    <div id="suitesTable" class="tab-pane">
                    <table class="records_list table table-striped table-condensed table-hover table-bordered" data-classes="table table-bordered"
                           id="suiteRatingTable" data-pagination="true" data-search="true" data-toggle="table"
                           data-toolbar="#suiteExecutionToolBar"
                           data-show-refresh="true"
                           data-key-events="true"
                           data-show-footer="true"
                            data-show-toggle="true"
                           data-show-export="true"
                           data-show-columns="true"
                           data-advanced-search="true"
                           data-page-size="1000" data-page-list="[10, 15, 20, 50, 100, 200, 500, 1000, 2000, 5000, 10000, 20000, 50000]" data-sort-order="desc">
                        <thead>
                        <tr>
                            <th data-sortable="true" data-switchable="false">Suite Name</th>
                            {% for productVersion in productVersions | slice(0, 50000)%}
                                <th data-sortable="true" data-switchable="true">{{ productVersion }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody class="searchable">
                        {% for suiteName in suiteNames | slice(0, 50000)%}
                            <tr>
                                <td>{{ suiteName }}</td>
                                {% for productVersion in productVersions | slice(0, 500)%}
                                <td>
                                    {% if productVersion in work_arr[suiteName]| keys%}
                                    {% for suite in work_arr[suiteName][productVersion] | slice(0, 50000)%}
                                        <a target="_blank" href="{{ path('cycle_suite_show_first', {'cycle': suite.cycle.id, 'suite': suite.id}) }}"><span class="{{ passRateToColor(suite.passRate) }}" title="ID: {{ suite.id }} - Platform/Chip: {{ suite.platform }}/{{ suite.chip }}">{{ suite.passRate }}%</span></a>
                                    {% endfor %}
                                    {% endif %}
                                </td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    </div>
                    <div id="testsTable" class="tab-pane">
                        Number of removed tests from this table {{ removed_tests_counter }}
                        <table class="records_list table table-striped table-bordered table-condensed table-hover" data-classes="table table-bordered"
                               id="testTable" data-pagination="true" data-search="true" data-toggle="table"
                               data-show-refresh="true"
                               data-key-events="true"
                               data-show-footer="true"
                               data-show-toggle="true"
                               data-show-export="true"
                               data-show-columns="true"
                               data-advanced-search="true"
                               data-page-size="1000" data-page-list="[10, 15, 20, 50, 100, 200, 500, 1000, 2000, 5000, 10000, 20000, 50000]" data-sort-order="desc">
                            <thead>
                            <tr>
                                <th data-sortable="true" data-switchable="false">Test Name</th>
                                {% for productVersion in productVersions | slice(0, 50000)%}
                                    <th style="font-size: 10px !important;font-weight: lighter !important;" data-sortable="true" data-switchable="true" >{{ productVersion }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody class="searchable">
{#                            {% for testName in testNames | slice(0, 50000)%}#}
                            {% for testName in testNamesRemoved | slice(0, 50000)%}
                                <tr>
                                    <td>{{ testName }}</td>
                                    {% for productVersion in productVersions | slice(0, 500)%}
                                        <td>
                                            {% if productVersion in work_arr[testName]| keys%}
                                                {% for cellTest in work_arr[testName][productVersion] | slice(0, 50000)%}
                                                    {% set failure = '' %}
                                                    {% if cellTest.verdict != 'PASS' and cellTest.verdict != 'UNKNOWN' %}
{#                                                    {% if cellTest.verdict == 'FAIL' or cellTest.verdict == 'ERROR' %}#}
{#                                                        or   cellTest.verdict == 'ERROR' %}#}
{#                                                        {% set failure = '' %}#}
                                                        {% set failure = cellTest.failDescription %}
                                                    {% endif %}
                                                    {% if cellTest.testType != 'TEST' and  cellTest.verdict == 'PASS'%}
                                                    {% else %}

                                                    <a target="_blank" href="{{ path('test_show_first', {'id': cellTest.id}) }}" title="Test Type: {{ cellTest.testType }}&#013;Cycle: {{ cellTest.cycle }}&#013;Suite:&#013; - {{ cellTest.suiteExecution.name }}&#013; - {{ cellTest.suiteExecution }}&#013;&#013;{{ failure }}">
                                                        <span  class="badge {{verdictToBadge(cellTest.verdict)}}">{{ cellTest.verdict }}</span>
                                                    </a>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>

                    <div id="testsTableFailures" class="tab-pane">{% include "lbook/cycle/tests_not_pass.html.twig" %}</div>
                    <div id="other" class="tab-pane">
                        <div>Size : {{ size }}</div>
                        <div>Suites : {{ suites | length }}</div>

                    </div>

                    <div id="dual_x_div" style="width: 100%; height: 500px;"></div>

                </div>
            </div>
        </div>
    </div>





    {% apply spaceless %}
    <ul>
        <li>
            <a href="{{ path('setup_index') }}">Back to setup list</a>
        </li>
        {% if is_granted('edit', setup) %}
            <li><a href="{{ path('setup_edit', { 'id': setup.id }) }}">Edit</a></li>
            <div class="well">
                <h4 class="green smaller lighter">Edit information</h4>
                Only setup owner and setup administrator can edit this setup
            </div>
        {% endif %}
        {#{% if is_granted('delete', setup) %}#}
        {#<li>#}
        {#{{ form_start(delete_form) }}#}
        {#<input type="submit" value="Delete" onclick="return confirm('Are you sure about delete this setup?')">#}
        {#{{ form_end(delete_form) }}#}
        {#</li>#}
        {#{% endif %}#}
    </ul>
    <script>
        function detailFormatter(index, row) {
            var html = [];
            $.each(row, function (key, value) {
                if (!key.startsWith('_')) {
                    html.push('<p><b>' + key + ':</b> ' + value + '</p>');
                }
            });
            return html.join('');
        }

        $(document).ready(function() {

            try {
                google.charts.load('current', {'packages':['bar']});
                google.charts.setOnLoadCallback(drawStuff);

                function drawStuff() {
                    var data = new google.visualization.arrayToDataTable([
                        ['Cycle Name', 'Pass Rate', 'Fail Rate', 'Error Rate', 'Tests', 'Suites'],
                        {% for cycle in cycles | slice(0, 1000) %}
                        ['{{ shortString(cycle.build, 50, "...") }}', {{ cycle.passRate }}, {{ cycle.failRate }}, {{ cycle.errorRate }}, {{ cycle.testsCount }}, {{ cycle.suiteExecution | length }}],
                        {% endfor %}
                        // ['Bootes I', 60000, 13.1]
                    ]);

                    var options = {
                        chart: {
                            title: 'Cycles',
                            subtitle: ''
                        },
                        bar: {
                            groupWidth: '95%'
                        },
                        width: 'auto',

                        bars: 'vertical', // Required for Material Bar Charts.
                        //bars: 'horizontal', // Required for Material Bar Charts.
                        series: {
                            0: { axis: 'failRate' }, // Bind series 0 to an axis named 'distance'.
                            1: { axis: 'passRate' }, // Bind series 1 to an axis named 'brightness'.
                            2: { axis: 'errorRate' },
                            3: { axis: 'testsCount' },
                            4: { axis: 'suites' },
                        },
                        axes: {
                            x: {
                                failRate: {label: 'Fail Rate'}, // Bottom x-axis.
                                passRate: {side: 'top', label: 'Pass Rate'}  // Top x-axis.
                            },
                            y: {
                                failRate: {
                                    range: {
                                        max: 100,
                                        min: 0
                                    }
                                },
                                passRate: {
                                    range: {
                                        max: 100,
                                        min: 0
                                    }
                                },
                                errorRate: {
                                    range: {
                                        max: 100,
                                        min: 0
                                    }
                                },
                                suites: {
                                    range: {
                                        max: {{ max_suites_in_cycle }},
                                        min: 0
                                    }
                                },
                                testsCount: {
                                    range: {
                                        max: {{ max_tests_in_cycle }},
                                        min: 0
                                    }
                                }
                            }
                        },
                        colors: ['#0d9d58', '#db4437', '#f4b400', '#175c67', '#99a9e2'],
                        theme: 'material'
                    };

                    var chart = new google.charts.Bar(document.getElementById('dual_x_div'));
                    chart.draw(data, google.charts.Bar.convertOptions(options));
                };
            } catch (e) {}

            $( "#toolbarSetupsList, button[name = 'refresh'].btn" ).bind( "click", function() {
                location.reload();
            });
            {% if mainCycle.id is defined %}
            $( "#cancelCompareCycle" ).bind( "click", function() {
                window.location.href = "{{ path('setup_indicator_with_main_cycle', { 'id': mainCycle.setup.id, 'mainCycle': mainCycle.id, 'size': size }) }}";
            });
            $( "#cancelMainCycle" ).bind( "click", function() {
                window.location.href = "{{ path('setup_indicator_size_default', { 'id': mainCycle.setup.id, 'size': size }) }}";
            });
                {% if compareCycle.id is defined %}
                    $( "#switchComparedCycles" ).bind( "click", function() {
                        window.location.href = "{{ path('setup_indicator_with_main_cycle_and_compare', { 'id': mainCycle.setup.id, 'mainCycle': compareCycle.id, 'compareCycle': mainCycle.id }) }}";
                    });
                {% endif %}
            {% endif %}


            try {
                ace.settings.sidebar_collapsed(document.getElementById('sidebar'), true, true);
                ace.settings.sidebar_fixed(document.getElementById('sidebar'), true, true);
            } catch (e) {}
        });
    </script>
    {% endapply %}
{% endblock %}
