{% extends 'lbook/default/index.html.twig' %}

{% block content %}
    <h1>Setups</h1>

    <table class="records_list table table-striped table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ setup.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ setup.name }}</td>
            </tr>
            {% set already_printed = ['id', 'name', 'cycles'] %}
            {% for key, value in setup|cast_to_array %}
                {% if key not in already_printed%}
                    <tr>
                        <th>{{ key | capitalize}}</th>
                        <td>{{ value }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {%  set cycles = setup.cycles %}
    <table class="records_list table table-striped table-condensed">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Tests</th>
            <th>Pass Rate</th>
            <th>Controller</th>
            <th>DUT</th>
            <th>Uploader</th>
            <th>Period</th>
            <th>Test time</th>
            <th>Updated</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        {% for cycle in cycles %}
            <tr>
                <td><a href="{{ path('cycle_show', { 'id': cycle.id }) }}">{{ cycle.id }}</a></td>
                <td><a href="{{ path('cycle_show', { 'id': cycle.id }) }}">{{ cycle.name }}</a></td>
                <td>{{ cycle.tests | length }}</td>
                <td>{{ cycle.passRate }}%</td>
                <td>{{ cycle.controller }}</td>
                <td>{{ cycle.dut }}</td>
                <td>{{ cycle.targetUploader }}</td>
                <td>{{ cycle.period |  ExecutionTimeInHours}}</td>
                <td>{{ cycle.testsTimeSum |  ExecutionTimeInHours}}</td>
                <td>{{ cycle.updatedAt |date('m-d H:i:s') }}</td>
                <td>
                    <a href="{{ path('cycle_show', { 'id': cycle.id }) }}">show</a>
                    <a href="{{ path('cycle_edit', { 'id': cycle.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('setup_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('setup_edit', { 'id': setup.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
