{% extends 'lbook/default/index.html.twig' %}
{% block title %}Setup [{{ setup.id }}:{{ setup.name }}] {% endblock %}
{% block content %}

    <div class="row">
        <div class="col-xs-9">
            <h3 style="margin-top: 0 !important;">Setup [{{ setup.id }}] : {{ setup.name }}</h3>
        </div>
        <div class="col-xs-3">
            <span style="float: right;">
                {% app.user is not null and if setup.subscribers.contains(app.user) %}
                                <button class="btn btn-white btn-info btn-bold" id="unsubscribe">
                    <i class="ace-icon fa fa-flag bigger-110 blue"></i>
                    Unsubscribe
                </button>
                {% else %}
                <button class="btn btn-white btn-warning btn-bold" id="subscribe">
                    <i class="ace-icon fa fa-flag-o bigger-110 orange"></i>
                    Subscribe
                </button>
                {% endif %}
                {% if app.user is not null and setup.favoritedByUsers.contains(app.user) %}
                    <button class="btn btn-white btn-info btn-bold" id="unfavorite">
                    <i class="ace-icon fa fa-bookmark bigger-110 blue"></i>
                    Unfavorite
                </button>
                {% else %}
                    <button class="btn btn-white btn-warning btn-bold" id="favorite">
                    <i class="ace-icon fa fa-bookmark-o bigger-110 orange"></i>
                    Favorite
                </button>
                {% endif %}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </div>
    </div>

    {% apply spaceless %}
    <table class="records_list table table-striped table-condensed">
        <tbody>
        <tr>
            <th>Short Name / OS</th>
            <td>
                <i class="ace-icon fa fa-bookmark"></i>
                {{ setup.nameShown }}
                /
                <span class="label label-lg label-yellow">{{ setup.osStr }}</span>&nbsp;
                <a href="{{ path('setup_indicator', { 'id': setup.id }) }}"><span class="label label-lg label-important">Indicators</span></a>
            </td>
            <th>
                <span style="float: right;">Created / Updated</span>
            </th>
            <td>
                <span style="float: right;">
                    <i class="ace-icon fa fa-calendar"></i>
                    <span class="blue">{{ setup.createdAt|date('d/m/Y H:i:s') }}</span>
                    /
                    <i class="ace-icon fa fa-calendar"></i>
                    <span class="blue">{{ setup.updatedAt|date('d/m/Y H:i:s') }}</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="ace-icon fa fa-info-circle" title="Show time diff when the setup was updated"></i>
                    {%  if date(setup.updatedAt) > date('-20minutes') %}
                        {% set updatedClass="red" %}
                    {% else %}
                        {% set updatedClass="blue" %}
                    {% endif %}
                    <span class="{{ updatedClass }}">{{ setup.updatedAt|time_diff}}</span>
                </span>
            </td>
        </tr>
        <tr>
            <th>Owners</th>
            <td>
                <span>
                    <i class="ace-icon fa fa-key" title="Owner"></i>
                    <span class="label label-sm label-success label-white arrowed arrowed-right">{{ setup.owner}}</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="ace-icon fa fa-users" title="Moderators"></i>
                    {% for moderator in setup.moderators %}
                        <a href="{{ path('user_show', { 'id': moderator.id }) }}" target="_blank">
                        {% if moderator.id == setup.owner.id %}
                            <span class="label label-sm label-danger label-white arrowed arrowed-right" title="Setup owner">{{ moderator.username }}</span>
                        {% else %}
                            <span class="label label-sm label-primary label-white arrowed arrowed-right">{{ moderator.username }}</span>
                        {% endif %}
                    </a>
                    {% endfor %}
                </span>
            </td>
            <th>
                <span style="float:right;">Disabled / Visibility / Check Uptime / Retention Policy</span>
            </th>
            <td>
                <span style="float:right;">
                    <span class="blue">
                    {{ setup.disabled ? '<i class="ace-icon fa fa-lock" title="Disabled"></i> Disabled':'<i class="ace-icon fa fa-unlock" title="Enabled"></i> Enabled' }}
                    </span>
                    /
                    <span class="green">
                    {{ setup.private ? '<i class="ace-icon fa fa-eye"></i> Private':'<i class="ace-icon fa fa-globe"></i> Public' }}
                    </span>
                    /
                    <span class="yellow">
                    {{ setup.checkUpTime ? '<i class="ace-icon fa fa-check-square-o"></i> Yes':'<i class="ace-icon fa fa-ban"></i> No' }}
                    </span>
                    /<span class="label label-info arrowed-right arrowed-in" title="Retention Policy in days">
                        {{ setup.retentionPolicy }}
                    </span>
                </span>
            </td>
        </tr>

        {% set already_printed = ['subscribers', 'moderators', 'id', 'name', 'cycles', 'nameShown', 'createdAt', 'updatedAt', 'owner', 'disabled', 'os', 'isPrivate', 'checkUpTime', 'MAX_NAME_LEN', 'MIN_NAME_LEN', 'retentionPolicy', 'favoritedByUsers', 'extDefectsJql', 'autoCycleReport', 'cyclesCount'] %}
        {% for key, value in setup|cast_to_array %}
            {% if key not in already_printed%}
                <tr>
                    <th>{{ key | capitalize}}</th>
                    <td>{{ value }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    {% endapply %}
    {% set pagePath = "setup_show" %}
    {% set objId = setup.id %}
    {% include "lbook/double.paginator.html.twig" %}
    {%  set cycles = setup.cycles %}
    <div>Count : {{ size }}</div>
    {% include "lbook/search.html.twig" %}
    <div id="toolbarSetupsList">
    </div>
    {% apply spaceless %}
    <table class="records_list table table-striped table-condensed table-hover" data-classes="table table-no-bordered" id="setupCycleList"
           data-pagination="true" data-search="true" data-toggle="table"
           data-show-columns="true" data-show-refresh="true"
           {#data-detail-view="true"#}
           {#data-detail-formatter="detailFormatter"#}
           {#data-show-refresh="true" data-show-toggle="true" data-show-fullscreen="true"#}
           data-toolbar="#toolbarSetupsList"
           data-page-size="500" data-page-list="[20, 50, 100, 500, 1000, 'ALL']" data-sort-order="desc">
        <thead>
        <tr>
            <th data-sortable="true" title="Updated image" class="time_diff_icon" data-switchable="false">&nbsp;</th>
            <th data-sorter="dataTitleIntSorter" class="setup_cycle_id_column" data-sortable="true">Id</th>
            <th data-sorter="htmlSorter" data-sortable="true" class="setup_cycle_name_column" data-switchable="false">Name</th>
            <th class="setup_cycle_suites_column" data-sortable="true">Suites</th>
            <th class="setup_cycle_tests_column" data-sortable="true">Tests</th>
            <th class="setup_cycle_tests_column" data-sortable="true">Pass</th>
            <th class="setup_cycle_tests_column" data-sortable="true">Fail</th>
            <th class="setup_cycle_tests_column" data-sortable="true">Error</th>
            {%  if show_build %}
            <th class="setup_cycle_build_column" data-sorter="htmlSorter" data-sortable="true">Build</th>
            {% endif %}
            {%  if show_user %}
            <th class="setup_cycle_user" data-sortable="true">User</th>
            {% endif %}
            <th class="setup_cycle_passrate_column" data-sorter="dataPercentSorter" data-sortable="true" title="Pass Rate" data-visible="true">Pass Rate</th>
            <th class="setup_cycle_failrate_column" data-sorter="dataPercentSorter" data-sortable="true" title="Fail Rate" data-visible="false">Fail Rate</th>
            <th class="setup_cycle_period_column" data-sortable="true" data-sorter="dataTitleIntSorter" title="Time duration between First test start-time and Last test end-time">Duration</th>
            <th class="setup_cycle_testtime_column" data-sortable="true" data-sorter="dataTitleIntSorter" title="The total summary time of all tests in this cycle">Test time</th>
            <th class="setup_cycle_updated_column" data-sorter="htmlSorter" data-sortable="true">Start</th>
            <th class="setup_cycle_updated_column" data-sorter="htmlSorter" data-sortable="true">End</th>
            <th class="setup_cycle_updated_column" data-sorter="htmlSorter" data-sortable="true" data-visible="false">Created</th>
            <th class="setup_cycle_updated_column" data-sorter="htmlSorter" data-sortable="true" data-visible="false">Updated</th>
            {#<th data-sortable="true" data-visible="false">Controller</th>#}
            {#<th data-sortable="true" data-visible="false">DUT</th>#}
            <th class="setup_cycle_uploader_column" data-sortable="true" data-visible="false">Uploader</th>
            <th class="setup_cycle_delete_at_column" data-sortable="true" data-visible="false">Retention Policy</th>
            <th class="setup_cycle_options_column" data-switchable="false">Options</th>
        </tr>
        </thead>
        <tbody class="searchable">
        {% for cycle in iterator | slice(0, 10000) %}
            <tr>
                <td title="Updated {{ cycle.updatedAt|time_diff }}">
                    {% if date(cycle.updatedAt) > date('-5 minutes') %}<i class="normal-icon ace-icon fa fa-clock-o red smaller-90"></i>
                    {% elseif date(cycle.updatedAt) > date('-30 minutes') %}<i class="normal-icon ace-icon fa fa-clock-o pink smaller-80"></i>
                    {% elseif date(cycle.updatedAt) > date('-60 minutes') %}<i class="normal-icon ace-icon fa fa-clock-o blue smaller-70"></i>
                    {% elseif date(cycle.updatedAt) > date('-12 hours') %}<i class="normal-icon ace-icon fa fa-clock-o yellow smaller-70"></i>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('cycle_show_first', { 'id': cycle.id }) }}" data-title="{{ cycle.id }}">{{ cycle.id }}</a>
                </td>
                <td title="{{ cycle.name }}">
                    <a href="{{ path('cycle_show_first', { 'id': cycle.id }) }}">{{ shortString(cycle.name, 65, "...") }}</a>
                </td>
                <td>{{ cycle.suiteExecution | length }}</td>
                <td class="{{ passRateToColor(cycle.passRate) }}">{{ cycle.testsCount }}</td>
                <td class="{{ passRateToColor(cycle.passRate) }}">{{ cycle.testsPass }}</td>
                <td class="{{ passRateToColor(100 - cycle.failRate) }}">{{ cycle.testsFail }}</td>
                <td class="{{ passRateToColor(100 - cycle.errorRate - cycle.failRate) }}">{{ cycle.testsError }}</td>
                {%  if show_build %}
                <td title="{{ cycle.build }}">
                    {% if cycle.build.id is defined %}
                        <a href="{{ path('build_show_cycles', { 'id': cycle.build.id }) }}">{{ shortString(cycle.build, 35, "...") }}</a>
                    {% endif %}
                </td>
                {% endif %}
                {%  if show_user %}
                <td title="{{ cycle.user.FullName }}">{{ cycle.user.UserNameMedium }}</td>
                {% endif %}
                <td><span class="{{ passRateToColor(cycle.passRate) }}" data-percent="{{ cycle.passRate }}">{{ cycle.passRate }}%</span></td>
                <td><span class="{{ failRateToColor(100 - cycle.failRate) }}" data-percent="{{ cycle.failRate }}">{{ cycle.failRate }}%</span></td>
                <td><span data-title="{{ cycle.period  }}">{{ cycle.period |  ExecutionTimeGeneric}}</span></td>
                <td><span data-title="{{ cycle.testsTimeSum  }}">{{ cycle.testsTimeSum |  ExecutionTimeGeneric}}</span></td>
                <td><span title="{{ cycle.timeStart |date('d/m H:i:s') }} - {{ cycle.timeStart|time_diff }}">{{ cycle.timeStart |date('d/m H:i') }}</span></td>
                <td><span title="{{ cycle.timeEnd |date('d/m H:i:s') }} - {{ cycle.timeEnd|time_diff }}">{{ cycle.timeEnd |date('d/m H:i') }}</span></td>
                <td><span title="{{ cycle.createdAt|time_diff }}">{{ cycle.createdAt |date('d/m H:i:s') }}</span></td>
                <td><span title="{{ cycle.updatedAt|time_diff }}">{{ cycle.updatedAt |date('d/m H:i:s') }}</span></td>
                {#<td>{{ cycle.controller }}</td>#}
                {#<td>{{ cycle.dut }}</td>#}
                <td>{{ cycle.targetUploader }}</td>
                <td>{{ cycle.deleteAt|time_diff }}</td>
                <td>
                    <div class="hidden-sm hidden-xs action-buttons">
{#                        <a class="blue" href="{{ path('cycle_show_first', { 'id': cycle.id }) }}" title="Show">#}
{#                            <i class="ace-icon fa fa-search-plus bigger-130"></i>#}
{#                        </a>#}
                        {% if cycle.logBookCycleReports  | length == 0%}
                        <a class="light-blue2" href="{{ path('log_book_cycle_report_new_with_cycle', { 'cycle': cycle.id }) }}" title="Make Report">
                            <i class="ace-icon fa fa-book bigger-130"></i>
                        </a>
                        {% else %}
                            <a class="light-green" href="{{ path('log_book_cycle_report_show', { 'id': cycle.logBookCycleReports[0].id }) }}" title="Show Report">
                                <i class="ace-icon fa fa-book bigger-130"></i>
                            </a>
                        {% endif %}
                        <a class="light-blue2" href="{{ path('setup_indicator_with_main_cycle', { 'id': cycle.setup.id, 'mainCycle': cycle.id }) }}" title="Compare as Main Cycle">
                            <i class="ace-icon fa fa-eye bigger-130"></i>
                        </a>

                        {% if is_granted('edit', setup) %}
                            <a class="green" href="{{ path('cycle_edit', { 'id': cycle.id }) }}" title="Edit">
                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                            </a>
                        {% endif %}
                        {#<a class="red" href="#" title="Delete">#}
                        {#<i class="ace-icon fa fa-trash-o bigger-130"></i>#}
                        {#</a>#}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endapply %}
    {% apply spaceless %}
    <ul>
        <li>
            <a href="{{ path('setup_index') }}">Back to setup list</a>
        </li>
        {% if is_granted('edit', setup) %}
            <li><a href="{{ path('setup_edit', { 'id': setup.id }) }}">Edit</a></li>
            <div class="well">
                <h4 class="green smaller lighter">Edit information</h4>
                Only setup owner and setup administrator can edit this setup
            </div>
        {% endif %}
        {#{% if is_granted('delete', setup) %}#}
        {#<li>#}
        {#{{ form_start(delete_form) }}#}
        {#<input type="submit" value="Delete" onclick="return confirm('Are you sure about delete this setup?')">#}
        {#{{ form_end(delete_form) }}#}
        {#</li>#}
        {#{% endif %}#}
    </ul>
    <script>
        function detailFormatter(index, row) {
            var html = [];
            $.each(row, function (key, value) {
                if (!key.startsWith('_')) {
                    html.push('<p><b>' + key + ':</b> ' + value + '</p>');
                }
            });
            return html.join('');
        }

        $(document).ready(function() {
            $( "#toolbarSetupsList, button[name = 'refresh'].btn" ).bind( "click", function() {
                location.reload();
            });

            try {
                ace.settings.sidebar_collapsed(document.getElementById('sidebar'), true, true);
                ace.settings.sidebar_fixed(document.getElementById('sidebar'), true, true);
            } catch (e) {}


            $( "#unsubscribe" ).bind( "click", function() {
                window.location.href = "{{ path('setup_unsubscribe', { 'id': setup.id }) }}";
            });
            $( "#subscribe" ).bind( "click", function() {
                window.location.href = "{{ path('setup_subscribe', { 'id': setup.id }) }}";
            });
            $( "#unfavorite" ).bind( "click", function() {
                window.location.href = "{{ path('add_remove_setup_to_favorite', { 'setup': setup.id }) }}";
            });
            $( "#favorite" ).bind( "click", function() {
                window.location.href = "{{ path('add_remove_setup_to_favorite', { 'setup': setup.id }) }}";
            });
        });
    </script>
    {% endapply %}
{% endblock %}
