{% set url = app.request.scheme ~'://' ~  app.request.httpHost %}
{% set jira_domain = parseDomain(suite.testSetUrl) %}
{% if jira_domain | length > 0 %}
    {%  set jira_test_set_url = 'http://' ~  jira_domain ~ '/browse/' ~ suite.jiraKey %}
{% endif %}
<style>
    span{font-weight: bolder;}
    a{font-weight: bolder;font-size: 16px;}
    th{font-size: 24px;}
</style>

{% apply spaceless %}
    <div>
        {% if suite.passRate == 100 %}
            <div style="font-size: 32px;color: #69aa46;padding-left: 100px;">Suite finished successfully</div>
        {% else %}
            <div style="font-size: 32px;color: red;padding-left: 100px;">Suite failed! Pass Rate {{ suite.passRate }}%</div>
        {% endif %}
        {% set aborted = suite.testsCountEnabled - suite.totalExecutedTests %}
        <table style="width: 70%;text-align: center;"><tr>
                <td rowspan="3">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <th style="background-color: #9fffeb;border: 1px solid #23e6ff;"><strong style="font-size: 28px;">Total &nbsp;</strong> <span style="font-size: 9px;">Enabled/Executed</span></th>
                <th style="background-color: #9fffeb;border: 1px solid #23e6ff;"><strong style="font-size: 28px;">Pass</strong></th>
                <th style="background-color: #9fffeb;border: 1px solid #23e6ff;"><strong style="font-size: 28px;">Fail</strong></th>
                <th style="background-color: #9fffeb;border: 1px solid #23e6ff;"><strong style="font-size: 28px;">Error</strong></th>
                <th style="background-color: #9fffeb;border: 1px solid #23e6ff;"><strong style="font-size: 28px;">Other</strong></th>
                {% if suite.testsCountDisabled > 0 %}<th style="background-color: #9fffeb;"><strong style="font-size: 24px;">Disabled</strong></th>{% endif %}
                {% if aborted > 0 %}<th style="background-color: #9fffeb;"><strong style="font-size: 24px;">Aborted</strong></th>{% endif %}
            </tr>
            <tr>
                <td style="text-align: center;font-size: 40px;border: 1px solid #23e6ff;">{{ suite.testsCountEnabled }}/{{ suite.totalExecutedTests }}</td>
                <td style="border: 1px solid #23e6ff;"><span style="color: #00CC00;font-size: 36px;font-weight: bolder;">{{ suite.passCount }}</span></td>
                <td style="border: 1px solid #23e6ff;"><span style="color: #d90e0e;font-size: 36px;font-weight: bolder;">{{ suite.failCount }}</span></td>
                <td style="border: 1px solid #23e6ff;"><span style="color: #ffbc00;font-size: 36px;font-weight: bolder;">{{ suite.errorCount }}</span></td>
                <td style="border: 1px solid #23e6ff;"><span style="color: #a535ff;font-size: 36px;font-weight: bolder;">{{ suite.otherCount }}</span></td>
                {% if suite.testsCountDisabled > 0 %}<td style="border: 1px solid #23e6ff;"><span style="color: grey;font-size: 36px;">{{ suite.testsCountDisabled }}</span></td>{% endif %}
                {% if aborted > 0 %}<td style="border: 1px solid #23e6ff;"><span style="color: grey;font-size: 36px;">{{ aborted }}</span></td>{% endif %}
            </tr>
        </table>
    </div>
<br/>
<table style="width: 100%;padding-left: 100px;">
    <tr><th style="width: 20%"></th><td style="width: 80%"></td></tr>
    <tr><th>Suite Name</th><td style="color: {{ stringToColor(suite.platform) }};font-size: 20px;">{{ suite.name }}</td></tr>
    <tr><th>Product Version</th><td><strong style="font-size: 22px;">{{ suite.productVersion }}</strong></td></tr>
    <tr><th>Testing Level</th><td style="font-size: 22px;">{{ suite.testingLevel | upper }}</td></tr>
    <tr><th>Platform/Chip</th><td><strong style="color: {{ stringToColor(suite.platform) }};font-size: 20px;">{{ suite.platform }}</strong> / <strong style="color: {{ stringToColor(suite.chip) }};font-size: 20px;">{{ suite.chip }}</strong></td></tr>
    <tr><th>BuildFlavor</th><td><strong style="color: #1b6aaa;font-size: 20px;">{{ suite.buildType }}</strong></td></tr>
    <tr><th>Branch</th><td style="color: {{ stringToColor(suite.branchName) }};font-size: 20px;">{{ suite.branchName }}</td></tr>
    <tr><th>Host</th><td style="color: {{ stringToColor(suite.host.name) }};font-size: 20px;">{{ suite.host.name }}</td></tr>
    <tr><th>Package mode</th><td><strong style="color: #1b6aaa;font-size: 20px;">{{ suite.packageMode }}</strong></td></tr>
    <tr><th>Components</th><td><strong>{{ suite.components|join(', ')}}</strong></td></tr>
    <tr><th>Assignee</th><td>{{ suiteInfo.assignee |join('; ')}}</td></tr>
    <tr><th>CI Job</th><td><a href="{{ suite.ciUrl }}">{{ suite.ciUrl }}</a></td></tr>
    <tr><th>Time Start</th><td style="font-size: 18px;color: #1b6aaa;">{{ suite.startedAt |date('Y-m-d H:i') }}</td></tr>
    <tr><th>Time End</th><td style="font-size: 18px;color: #1b6aaa;">{{ suite.finishedAt |date('Y-m-d H:i') }}</td></tr>
    <tr><th></th><td></td></tr>
    <tr><th style="vertical-align: top;">Links</th><td>
            <table style="width: 100%">
                {% if suite.cycle is defined and suite.cycle.id is defined %}
                    <tr><th style="text-align: left;">LogBook Suite Tests</th><td><a href="{{ url }}{{ path('cycle_suite_show_first', {'cycle': suite.cycle.id, 'suite': suite.id}) }}">{{ suite.name }}</a></td></tr>
                {% endif %}
                <tr><th style="text-align: left;">LogBook Cycle</th><td><a href="{{ url }}{{ path('cycle_show_first', { 'id': suite.cycle.id }) }}">{{ suite.cycle.name }}</a></td></tr>
                <tr><th style="text-align: left;">LogBook Setup</th><td><a href="{{ url }}{{ path('setup_show_first', { 'id': suite.cycle.setup.id }) }}">{{ suite.cycle.setup.name }}</a></td></tr>
                <tr><th style="text-align: left;">LogBook Suite info</th><td><a href="{{ url }}{{ path('suite_show', { 'id': suite.id }) }}">{{ suite.uuid }}</a></td></tr>
                {% if suite.jiraKey | length > 1 %}
                    <tr><th>JIRA url</th><td><a href="{{ jira_test_set_url }}">{{ suite.jiraKey }}</a></td></tr>
                {% endif %}
            </table>
        </td></tr>
    <tr><th></th><td></td></tr>
    <tr><th>Summary</th><td>{{ suite.summary }}</td></tr>

</table>
<br/><br/><br/><br/>
    <table style="width: 100%">
        <tr><td style="width: 100%;text-align: center;"><a style="font-size: 26px;" href="{{ url }}{{ path('suite_unsubscribe', { 'suite': suiteInfo.id }) }}">Unsubscribe</a></td></tr></table>
    <br/><br/>
{% endapply %}