{% set url = app.request.scheme ~'://' ~  app.request.httpHost %}
Name: {{ suite.name }}
Summary: {{ suite.summary }}
UUID: {{ suite.uuid }}
Testing Level: {{ suite.testingLevel }}
Platform: {{ suite.platform }}
Chip: {{ suite.chip }}
Components: {{ suite.components|join(', ') }}
BuildFlavor: {{ suite.buildType }}
PACKAGE_MODE: {{ suite.packageMode }}
PRODUCT_VERSION: {{ suite.productVersion }}
Cycle: <a href="{{ url }}{{ path('cycle_show_first', { 'id': suite.cycle.id }) }}">{{ suite.cycle.name }}</a>
Setup: <a href="{{ url }}{{ path('setup_show_first', { 'id': suite.cycle.setup.id }) }}">{{ suite.cycle.setup.name }}</a>
CI: <a href="{{ suite.ciUrl }}">{{ suite.ciUrl }}</a>
<br/>
<br/>
<a href="{{ url }}{{ path('suite_unsubscribe', { 'suite': suite.id }) }}">Unsubscribe</a>

