{% set url = app.request.scheme ~'://' ~  app.request.httpHost %}
<style>
    .red{color:#dd5a43!important}.red2{color:#e08374!important}.light-red{color:#f77!important}.blue{color:#478fca!important}.light-blue{color:#93cbf9!important}
    .well{border-radius:0}  .well h1,.well h2,.well h3,.well h4,.well h5,.well h6{margin-top:0}  .well h1,.well h2,.well h3{line-height:36px}  .lighter{font-weight:lighter}  h4.smaller{font-size:17px}  .green{color:#69aa46!important}.light-green{color:#b0d877!important}.orange{color:#ff892a!important}.orange2{color:#feb902!important}.light-orange{color:#fcac6f!important}.purple{color:#a069c3!important}.pink{color:#c6699f!important}.pink2{color:#d6487e!important}.brown{color:brown!important}.grey{color:#777!important}.light-grey{color:#bbb!important}
    hr{margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #eee}
    .sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}  .sr-only-focusable:active,.sr-only-focusable:focus{position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto}[role=button]{cursor:pointer}
    .h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{font-family:inherit;font-weight:500;line-height:1.1;color:inherit}
    .h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,.h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small{font-weight:400;line-height:1;color:#777}
    .h1,.h2,.h3,h1,h2,h3{margin-top:20px;margin-bottom:10px}.h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small{font-size:65%}
    .h4,.h5,.h6,h4,h5,h6{margin-top:10px;margin-bottom:10px}.h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small{font-size:75%}
    .h1,h1{font-size:36px}.h2,h2{font-size:30px}.h3,h3{font-size:24px}.h4,h4{font-size:18px}.h5,h5{font-size:14px}.h6,h6{font-size:12px}p{margin:0 0 10px}
    .lead{margin-bottom:20px;font-size:16px;font-weight:300;line-height:1.4}@media (min-width:768px){.lead{font-size:21px}}.small,small{font-size:85%}
    .mark,mark{padding:.2em;background-color:#fcf8e3}.text-left{text-align:left}.text-right{text-align:right}.text-center{text-align:center}
    .text-justify{text-align:justify}.text-nowrap{white-space:nowrap}.text-lowercase{text-transform:lowercase}.text-uppercase{text-transform:uppercase}
    .text-capitalize{text-transform:capitalize}.text-muted{color:#777}.text-primary{color:#337ab7}
    a.text-primary:focus,a.text-primary:hover{color:#286090}.text-success{color:#3c763d}a.text-success:focus,a.text-success:hover{color:#2b542c}
    .text-info{color:#31708f}a.text-info:focus,a.text-info:hover{color:#245269}.text-warning{color:#8a6d3b}a.text-warning:focus,a.text-warning:hover{color:#66512c}
    .text-danger{color:#a94442}a.text-danger:focus,a.text-danger:hover{color:#843534}.bg-primary{color:#fff;background-color:#337ab7}a.bg-primary:focus,a.bg-primary:hover{background-color:#286090}.bg-success{background-color:#dff0d8}a.bg-success:focus,a.bg-success:hover{background-color:#c1e2b3}.bg-info{background-color:#d9edf7}a.bg-info:focus,a.bg-info:hover{background-color:#afd9ee}.bg-warning{background-color:#fcf8e3}a.bg-warning:focus,a.bg-warning:hover{background-color:#f7ecb5}.bg-danger{background-color:#f2dede}a.bg-danger:focus,a.bg-danger:hover{background-color:#e4b9b9}
    .yellow{
        color: #cccc00;
    }
    .font-bold {
        font-weight: bold;
    }
</style>
{% apply spaceless %}
    <div class="well">
        <h4 class="smaller lighter"></h4>
        {% if suite.passRate == 100 %}
            <h1 style="color: #69aa46;">Suite finished successfully</h1>
        {% else %}
            <h1 style="color: red;">Suite failed !</h1>
            Pass Rate <span class="{{ passRateToColor(suite.passRate) }}">{{ suite.passRate }}%</span>
        {% endif %}
        <table style="width: 70%;text-align: center;"><tr>
                <th></th>
                <th><strong style="font-size: 24px;">Total &nbsp;</strong> <span style="font-size: 9px;">Enabled/Executed</span></th>
                <th><strong style="font-size: 24px;">Pass</strong></th>
                <th><strong style="font-size: 24px;">Fail</strong></th>
                <th><strong style="font-size: 24px;">Error</strong></th>
                <th><strong style="font-size: 24px;">Other</strong></th>
                <th><strong style="font-size: 24px;">Disabled</strong></th>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td style="text-align: center;font-size: 24px;">{{ suite.testsCountEnabled }}/{{ suite.totalExecutedTests }}</td>
                <td><span style="color: #00CC00;font-size: 24px;">{{ suite.passCount }}</span></td>
                <td><span style="color: #d90e0e;font-size: 24px;">{{ suite.failCount }}</span></td>
                <td><span style="color: #ffbc00;font-size: 24px;">{{ suite.errorCount }}</span></td>
                <td><span style="color: #a535ff;font-size: 24px;">{{ suite.otherCount }}</span></td>
                <td><span style="color: grey;font-size: 24px;">{{ suite.testsCountDisabled }}</span></td>
            </tr>
        </table>
    </div>
{% set jira_domain = parseDomain(suite.testSetUrl) %}
{% if jira_domain | length > 0 %}
    {%  set jira_test_set_url = 'http://' ~  jira_domain ~ '/browse/' ~ suite.jiraKey %}
{% endif %}

<table style="width: 100%">
    <tr><th style="width: 20%"></th><td style="width: 80%"></td></tr>
    <tr><th>Suite Name</th><td style="color: {{ stringToColor(suite.platform) }};font-size: 20px;">{{ suite.name }}</td></tr>
    <tr><th>Product Version</th><td><strong style="font-size: 22px;">{{ suite.productVersion }}</strong></td></tr>
    <tr><th>Testing Level</th><td style="font-size: 22px;">{{ suite.testingLevel | upper }}</td></tr>
    <tr><th>Platform</th><td><strong style="color: {{ stringToColor(suite.platform) }};font-size: 20px;">{{ suite.platform }}</strong></td></tr>
    <tr><th>Chip</th><td><strong style="color: {{ stringToColor(suite.platform) }};font-size: 20px;">{{ suite.chip }}</strong></td></tr>
    <tr><th>Components</th><td>{{ suite.components|join(', ')}}</td></tr>
    <tr><th>BuildFlavor</th><td>{{ suite.buildType }}</td></tr>
    <tr><th>Branch</th><td style="color: {{ stringToColor(suite.platform) }};font-size: 20px;">{{ suite.branchName }}</td></tr>
    <tr><th>Package mode</th><td>{{ suite.packageMode }}</td></tr>
    <tr><th>Job Name</th><td>{{ suite.jobName }}  - <a href="{{ suite.ciUrl }}">{{ suite.ciUrl }}</a></td></tr>
    <tr><th>Time Start</th><td>{{ suite.startedAt |date('Y-m-d H:i') }}</td></tr>
    <tr><th>Time End</th><td>{{ suite.finishedAt |date('Y-m-d H:i') }}</td></tr>
    <tr><th></th><td></td></tr>
    <tr><th style="vertical-align: top;">Links</th><td>
            <table style="width: 100%">
                <tr><td>Logbook</td><td><a href="{{ url }}{{ path('suite_show', { 'id': suite.id }) }}">{{ suite.name }}</a></td></tr>
                <tr><td>Cycle</td><td><a href="{{ url }}{{ path('cycle_show_first', { 'id': suite.cycle.id }) }}">{{ suite.cycle.name }}</a></td></tr>
                <tr><td>Setup</td><td><a href="{{ url }}{{ path('setup_show_first', { 'id': suite.cycle.setup.id }) }}">{{ suite.cycle.setup.name }}</a></td></tr>
                {% if suite.jiraKey | length > 1 %}
                    <tr><td>JIRA url</td><td><a href="{{ jira_test_set_url }}">{{ suite.jiraKey }}</a></td></tr>
                {% endif %}
            </table>
        </td></tr>
    <tr><th></th><td></td></tr>
    <tr><th>Summary</th><td>{{ suite.summary }}</td></tr>
    <tr><th>UUID</th><td>{{ suite.uuid }}</td></tr>

</table>
<br/><br/><br/><br/>
    <table style="width: 100%">
        <tr><td style="width: 100%;text-align: center;"><a style="font-size: 26px;" href="{{ url }}{{ path('suite_unsubscribe', { 'suite': suiteInfo.id }) }}">Unsubscribe</a></td></tr></table>
    <br/><br/>
{% endapply %}